<div class="telecom-dashboard">

    <div class="flash"
         data-flash-message="60000">
    </div>

    <div class="telecom-section-header">
        <!-- HEADER -->
        <header role="banner">
            <h1>
                <span data-translate="telecom_dashboard_title"></span>
                <span class="dashboard-vip-icon pull-right"
                      data-ng-if="!TelecomDashboardCtrl.loading.vip && TelecomDashboardCtrl.isVip">
                    <!-- is vip status -->
                    <span class="sr-only" data-translate="common_vip"></span>
                    <span class="ovh-font ovh-font-statutVIP" aria-hidden="true"></span>
                    <!-- loading -->
                    <spinner data-ng-if="TelecomDashboardCtrl.loading.vip"></spinner>
                </span>
            </h1>
        </header>
    </div>
    <!-- .telecom-section-header -->

    <!-- CONTENT -->
    <div class="telecom-section-content">

        <div class="row">
            <div class="col-xs-12"
                 data-ng-class="!TelecomDashboardCtrl.isMobile ? 'col-md-5' : 'col-md-6'"
                 data-ui-view="@billsView">
            </div>

            <div class="col-xs-12"
                 data-ng-class="!TelecomDashboardCtrl.isMobile ? 'col-md-5' : 'col-md-6'"
                 data-ui-view="@guidesView">
            </div>

            <div class="col-xs-12 col-md-2"
                 data-ng-if="!TelecomDashboardCtrl.isMobile">
                <a data-ng-href="{{ TelecomDashboardCtrl.isFr ? 'https://summit.ovh.com/fr' : 'https://summit.ovh.com/en' }}"
                   target="_blank"
                   data-ng-attr-title="{{ TelecomDashboardCtrl.isFr ? 'Je participe !' : 'Register for free' }}"
                   rel="noopener">
                    <img class="img-responsive"
                         data-ng-src="{{ 'assets/images/ovh-summit-2017-' + (TelecomDashboardCtrl.isFr ? 'fr' : 'en') + '.png' }}"
                         alt="OVH Summit 2017"
                         style="margin: 0 auto;" />
                </a>
            </div>
        </div>

    </div>

</div>
