<div class="telecom-dashboard">

    <div class="flash"
         data-flash-message="60000">
    </div>

    <div class="telecom-section-header">
        <!-- HEADER -->
        <header role="banner">
            <h1>
                <span data-translate="telecom_dashboard_title"></span>
                <span class="dashboard-vip-icon pull-right"
                      data-ng-if="!TelecomDashboardCtrl.loading.vip && TelecomDashboardCtrl.isVip">
                    <!-- is vip status -->
                    <span class="sr-only" data-translate="common_vip"></span>
                    <span class="ovh-font ovh-font-statutVIP" aria-hidden="true"></span>
                    <!-- loading -->
                    <spinner data-ng-if="TelecomDashboardCtrl.loading.vip"></spinner>
                </span>
            </h1>
        </header>
    </div>
    <!-- .telecom-section-header -->

    <!-- CONTENT -->
    <div class="telecom-section-content">

        <div class="row">
            <div class="col-xs-12 col-md-6"
                 data-ui-view="@billsView">
            </div>

            <div class="col-xs-12 col-md-6"
                 data-ui-view="@guidesView">
            </div>
        </div>

    </div>

</div>
