<div class="telephony-group-service-consumption-outgoing-calls">

    <div class="widget-presentation">
        <h2 class="widget-presentation-title"
            data-translate="telephony_service_consumption_outgoing_all">
        </h2>

        <toast-message></toast-message>

        <p data-translate="telephony_service_consumption_outgoing_period"
           data-translate-values="{
               start: OutgoingCallsCtrl.period.start.format('DD/MM/YYYY'),
               end: OutgoingCallsCtrl.period.end.format('DD/MM/YYYY')
           }">
        </p>
        <p data-ng-if="OutgoingCallsCtrl.consumption.raw.length"
           data-translate="telephony_service_consumption_outgoing_priceplan"
           data-translate-values="{
               calls: OutgoingCallsCtrl.consumption.sum.pricePlan.calls,
               duration: (OutgoingCallsCtrl.consumption.sum.pricePlan.durationAsDate | date: 'HH:mm:ss': 'UTC')
           }">
        </p>
        <p data-ng-if="OutgoingCallsCtrl.consumption.raw.length"
           data-translate="telephony_service_consumption_outgoing_outplan"
           data-translate-values="{
               calls: OutgoingCallsCtrl.consumption.sum.outPlan.calls,
               duration: (OutgoingCallsCtrl.consumption.sum.outPlan.durationAsDate | date: 'HH:mm:ss': 'UTC'),
               price: OutgoingCallsCtrl.consumption.sum.outPlan.price
           }">
        </p>
        <div class="text-right mb-3"
             data-ng-if="OutgoingCallsCtrl.consumption.raw.length">
            <button class="btn btn-default"
                    type="button"
                    data-ng-click="OutgoingCallsCtrl.toggleShowFilter()">
                <i data-ng-if="!OutgoingCallsCtrl.consumption.showFilter"
                   class="ovh-font ovh-font-filter"></i>
                <i data-ng-if="OutgoingCallsCtrl.consumption.showFilter"
                   class="ovh-font ovh-font-wrong"></i>
                <span class="ml-1"
                      data-translate="telephony_service_consumption_filter"></span>
            </button>
        </div>
        <div class="mt-2"
             data-ng-if="OutgoingCallsCtrl.consumption.showFilter">
            <div class="row mb-3">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="ovh-font ovh-font-phone"></i>
                        </span>
                        <input class="form-control"
                               type="text"
                               data-ng-change="OutgoingCallsCtrl.applySorting()"
                               data-ng-model="OutgoingCallsCtrl.consumption.filterBy.dialed"
                               placeholder="{{:: 'telephony_service_consumption_dialed' | translate }}" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <select class="form-control"
                            data-ng-change="OutgoingCallsCtrl.applySorting()"
                            data-ng-model="OutgoingCallsCtrl.consumption.filterBy.destinationType"
                            required>
                        <option value="" data-translate="telephony_service_consumption_destination_any"></option>
                        <option value="landline" data-translate="telephony_service_consumption_destination_landline"></option>
                        <option value="mobile" data-translate="telephony_service_consumption_destination_mobile"></option>
                        <option value="special" data-translate="telephony_service_consumption_destination_special"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table"
                   data-ng-class="{
                       'table-hover table-striped': OutgoingCallsCtrl.consumption.raw.length > 1
                   }">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-link p-0"
                                    type="button"
                                    data-ng-disabled="!OutgoingCallsCtrl.consumption.paginated.length"
                                    data-ng-click="OutgoingCallsCtrl.orderBy('creationDatetime')">
                                <span data-translate="telephony_service_consumption_date"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy !== 'creationDatetime',
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy === 'creationDatetime' && OutgoingCallsCtrl.consumption.orderDesc,
                                          'oui-icon-arrow-up': OutgoingCallsCtrl.consumption.orderBy === 'creationDatetime' && !OutgoingCallsCtrl.consumption.orderDesc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="btn btn-link p-0"
                                    type="button"
                                    data-ng-disabled="!OutgoingCallsCtrl.consumption.paginated.length"
                                    data-ng-click="OutgoingCallsCtrl.orderBy('dialed')">
                                <span data-translate="telephony_service_consumption_dialed"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy !== 'dialed',
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy === 'dialed' && OutgoingCallsCtrl.consumption.orderDesc,
                                          'oui-icon-arrow-up': OutgoingCallsCtrl.consumption.orderBy === 'dialed' && !OutgoingCallsCtrl.consumption.orderDesc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="btn btn-link p-0"
                                    type="button"
                                    data-ng-disabled="!OutgoingCallsCtrl.consumption.paginated.length"
                                    data-ng-click="OutgoingCallsCtrl.orderBy('durationAsDate')">
                                <span data-translate="telephony_service_consumption_duration"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy !== 'durationAsDate',
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy === 'durationAsDate' && OutgoingCallsCtrl.consumption.orderDesc,
                                          'oui-icon-arrow-up': OutgoingCallsCtrl.consumption.orderBy === 'durationAsDate' && !OutgoingCallsCtrl.consumption.orderDesc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="btn btn-link p-0"
                                    type="button"
                                    data-ng-disabled="!OutgoingCallsCtrl.consumption.paginated.length"
                                    data-ng-click="OutgoingCallsCtrl.orderBy('wayType')">
                                <span data-translate="telephony_service_consumption_type"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy !== 'wayType',
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy === 'wayType' && OutgoingCallsCtrl.consumption.orderDesc,
                                          'oui-icon-arrow-up': OutgoingCallsCtrl.consumption.orderBy === 'wayType' && !OutgoingCallsCtrl.consumption.orderDesc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="btn btn-link p-0"
                                    type="button"
                                    data-ng-disabled="!OutgoingCallsCtrl.consumption.paginated.length"
                                    data-ng-click="OutgoingCallsCtrl.orderBy('destinationType')">
                                <span data-translate="telephony_service_consumption_destination"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy !== 'destinationType',
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy === 'destinationType' && OutgoingCallsCtrl.consumption.orderDesc,
                                          'oui-icon-arrow-up': OutgoingCallsCtrl.consumption.orderBy === 'destinationType' && !OutgoingCallsCtrl.consumption.orderDesc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th>
                            <button class="btn btn-link p-0"
                                    type="button"
                                    data-ng-disabled="!OutgoingCallsCtrl.consumption.paginated.length"
                                    data-ng-click="OutgoingCallsCtrl.orderBy('priceWithoutTax.value')">
                                <span data-translate="telephony_service_consumption_price_ht"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy !== 'priceWithoutTax.value',
                                          'oui-icon-arrow-down': OutgoingCallsCtrl.consumption.orderBy === 'priceWithoutTax.value' && OutgoingCallsCtrl.consumption.orderDesc,
                                          'oui-icon-arrow-up': OutgoingCallsCtrl.consumption.orderBy === 'priceWithoutTax.value' && !OutgoingCallsCtrl.consumption.orderDesc
                                      }">
                                </span>
                            </button>
                            <button class="btn btn-link p-0 float-right"
                                    type="button"
                                    data-ng-disabled="OutgoingCallsCtrl.consumption.isLoading"
                                    data-ng-click="OutgoingCallsCtrl.refresh()">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody data-ng-if="!OutgoingCallsCtrl.consumption.isLoading">
                    <tr data-ng-repeat="conso in OutgoingCallsCtrl.consumption.paginated | orderBy:OutgoingCallsCtrl.order.by:OutgoingCallsCtrl.order.reverse">
                        <td>
                            <span data-ng-bind="::conso.creationDatetime | date: 'dd/MM/yyyy'"></span>
                            <span data-ng-bind="::conso.creationDatetime | date: 'HH:mm:ss'"></span>
                        </td>
                        <td data-ng-bind="::conso.dialed | phoneNumber"></td>
                        <td data-ng-bind="::conso.durationAsDate | date: 'HH:mm:ss': 'UTC'"></td>
                        <td data-ng-bind="::'telephony_service_consumption_type_' + conso.wayType | translate"></td>
                        <td data-ng-bind="::'telephony_service_consumption_destination_' + conso.destinationType | translate"></td>
                        <td data-ng-bind="::conso.priceWithoutTax.text || '-'"></td>
                    </tr>
                </tbody>
                <tbody data-ng-if="OutgoingCallsCtrl.consumption.isLoading">
                    <tr>
                        <td colspan="6">
                            <oui-loader data-size="m"></oui-loader>
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!OutgoingCallsCtrl.consumption.isLoading && !OutgoingCallsCtrl.consumption.raw.length">
                    <tr>
                        <td colspan="6"
                            class="text-center"
                            data-translate="telephony_service_consumption_outgoing_empty">
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-if="!OutgoingCallsCtrl.consumption.isLoading &&
                                   OutgoingCallsCtrl.consumption.raw.length &&
                                   !OutgoingCallsCtrl.consumption.paginated.length">
                    <tr>
                        <td colspan="6"
                            class="text-center"
                            data-translate="telephony_service_consumption_outgoing_not_found">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-2"
             data-ng-if="!OutgoingCallsCtrl.consumption.isLoading && OutgoingCallsCtrl.consumption.raw.length"
             data-pagination-front
             data-items="OutgoingCallsCtrl.consumption.sorted"
             data-paginated-items="OutgoingCallsCtrl.consumption.paginated"
             data-current-page="currentPage"
             data-nb-pages="nbPages"
             data-items-per-page="itemsPerPage"
             data-page-placeholder="{{'common_pagination_page' | translate: {currentPage:currentPage, nbPages:nbPages} }}"
             data-item-per-page-placeholder="{{'common_pagination_display' | translate}}">
        </div>

    </div>
    <!-- /.widget-presentation -->

</div>
<!-- /.telephony-group-service-consumption-outgoing-calls -->
