<form class="telecom-telephony-line-phone-codec-edit form-horizontal"
      data-ng-submit="CodecEditCtrl.saveNewCodec()"
      name="phoneCodecEditForm">

    <div class="modal-header">
        <button type="button"
                class="close float-right"
                aria-label="{{'cancel'|translate}}"
                data-ng-click="CodecEditCtrl.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body"
         data-ng-if="!CodecEditCtrl.loading.save && !CodecEditCtrl.saved">
        <h3 data-translate="telephony_line_phone_codec_edit_title"></h3>
        <p data-translate="telephony_line_phone_codec_edit_codec_priority"></p>

        <div class="radio"
             data-ng-repeat="codec in CodecEditCtrl.line.availableCodecs track by $index">
            <label>
                <input type="radio"
                       name="newCodec"
                       data-ng-model="CodecEditCtrl.model.codecs"
                       data-ng-value="codec"/>
                <span data-ng-bind="codec.value.split('_').join(', ')"></span>
            </label>
        </div>

        <div class="checkbox mt-5"
             data-ng-if="CodecEditCtrl.isAutomaticCodecEnabled()">
            <label>
                <input type="checkbox"
                       name="automaticCodec"
                       data-ng-model="CodecEditCtrl.model.auto"/>
                <span data-translate="telephony_line_phone_codec_edit_codec_auto_choice"></span>
            </label>
        </div>
    </div>

    <div class="modal-body text-center"
         data-ng-if="CodecEditCtrl.loading.save && !CodecEditCtrl.saved">
        <oui-loader data-size="m"></oui-loader>
        <h4 data-translate="telephony_line_phone_codec_edit_codec_saving"></h4>
    </div>

    <div class="modal-body"
         data-ng-if="CodecEditCtrl.saved">
        <success-drawing-check data-draw-success-check="CodecEditCtrl.saved">
            <h4 data-translate="telephony_line_phone_codec_edit_codec_save_success"></h4>
        </success-drawing-check>
    </div>

    <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-ng-click="CodecEditCtrl.cancel()"
                data-ng-disabled="CodecEditCtrl.loading.save"
                data-translate="cancel">
        </button>
        <button type="submit"
                class="btn btn-primary"
                data-translate="submit"
                data-ng-disabled="!CodecEditCtrl.model.codecs || CodecEditCtrl.loading.save">
        </button>
    </div>

</form>
