<section class="telephony-group-service-voicemail-default">

    <toast-message></toast-message>

    <div class="row">

        <div class="col-md-6 text-center"
             data-ng-if="DefaultVoicemailCtrl.loading">
            <bouncing-box-loader data-size="m"></bouncing-box-loader>
        </div>

        <div class="col-md-6"
             data-ng-if="!DefaultVoicemailCtrl.loading">

            <form name="defaultVoicemailForm"
                  class="form-horizontal"
                  data-ng-submit="DefaultVoicemailCtrl.saveDefaultVoicemail()"
                  novalidate>
                <div class="form-group">
                    <label class="control-label float-left"
                           for="default"
                           data-translate="telephony_line_answer_default_voicemail_label">
                    </label>
                    <select id="default"
                            name="default"
                            class="form-control"
                            data-ng-model="DefaultVoicemailCtrl.options.defaultVoicemail"
                            data-ng-change="DefaultVoicemailCtrl.success = false"
                            data-ng-options="number.serviceName as DefaultVoicemailCtrl.formatNumber(number) for number in DefaultVoicemailCtrl.numbers | orderBy: ['description', 'label', 'serviceName']"
                            required>
                    </select>
                </div>
                <div class="form-group">
                    <button type="reset"
                            class="btn btn-default"
                            data-ng-click="DefaultVoicemailCtrl.cancel()"
                            data-ng-disabled="DefaultVoicemailCtrl.options.defaultVoicemail === DefaultVoicemailCtrl.defaultVoicemail || DefaultVoicemailCtrl.saving"
                            data-translate="cancel">
                    </button>
                    <button type="submit"
                            class="btn btn-primary float-right"
                            data-ng-disabled="DefaultVoicemailCtrl.options.defaultVoicemail === DefaultVoicemailCtrl.defaultVoicemail || DefaultVoicemailCtrl.saving">
                        <span data-translate="telephony_line_answer_default_voicemail_change"></span>
                        <i data-ng-if="DefaultVoicemailCtrl.success"
                           class="ovh-font ovh-font-success fs16 ml-2"></i>
                        <bouncing-box-loader class="d-inline-block align-middle ml-2"
                                             data-ng-if="DefaultVoicemailCtrl.saving"
                                             data-size="s">
                        </bouncing-box-loader>
                    </button>
                </div>
            </form>

        </div>

    </div><!-- row -->

</section>
