<section class="telephony-group-fax-consumption-outgoing-calls">

    <div class="widget-presentation">
        <header class="widget-presentation-header">
            <h2 class="widget-presentation-title"
                data-translate="telephony_service_consumption_outgoing_fax_all">
            </h2>
        </header>

        <div class="row">
            <div class="col-sm-6">
                <div data-translate="telephony_service_consumption_outgoing_fax_period"
                     data-translate-values="{ start: $ctrl.period.start.format('DD/MM/YYYY'),
                                              end: $ctrl.period.end.format('DD/MM/YYYY') }">
                </div>
                <div data-ng-if="$ctrl.consumption.raw.length"
                     data-translate="telephony_service_consumption_outgoing_fax_summary"
                     data-translate-values="{ fax: $ctrl.consumption.raw.length,
                                              pages: $ctrl.consumption.pagesSum,
                                              price: $ctrl.consumption.priceSum }">
                </div>
            </div>
        </div>
        <div class="row" data-ng-if="$ctrl.consumption.raw.length">
            <div class="col-xs-12">
                <button class="btn btn-sm btn-default no-outline pull-right"
                        type="button"
                        data-ng-click="$ctrl.toggleShowFilter()">
                    <i data-ng-if="!$ctrl.consumption.showFilter" class="ovh-font ovh-font-search"></i>
                    <i data-ng-if="$ctrl.consumption.showFilter" class="ovh-font ovh-font-wrong"></i>
                    <span class="left-space-m4" data-translate="common_search"></span>
                </button>
            </div>
        </div>
        <div class="top-space-m8" data-ng-if="$ctrl.consumption.showFilter">
            <div flat-input-container class="pull-right right-space-m4 telephony-consumption-filter-input">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="ovh-font ovh-font-phone fs16"></i>
                    </span>
                    <input class="form-control"
                           type="text"
                           data-ng-model="$ctrl.consumption.filterBy.called"
                           data-ng-change="$ctrl.applySorting()"
                           placeholder="{{:: 'telephony_service_consumption_destination' | translate }}"
                           autofocus />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive-vertical top-space-m4">
                <table class="table table-pretty table-hover table-striped no-space">
                    <thead>
                        <tr>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!$ctrl.consumption.paginated.length"
                                        data-ng-click="$ctrl.orderBy('creationDatetime')">
                                    <label class="pointer" data-translate="telephony_service_consumption_date"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': $ctrl.consumption.orderBy !== 'creationDatetime',
                                            'fa-sort-desc': $ctrl.consumption.orderBy === 'creationDatetime' && $ctrl.consumption.orderDesc,
                                            'fa-sort-asc': $ctrl.consumption.orderBy === 'creationDatetime' && !$ctrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!$ctrl.consumption.paginated.length"
                                        data-ng-click="$ctrl.orderBy('pages')">
                                    <label class="pointer" data-translate="telephony_service_consumption_outgoing_fax_pages"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': $ctrl.consumption.orderBy !== 'pages',
                                            'fa-sort-desc': $ctrl.consumption.orderBy === 'pages' && $ctrl.consumption.orderDesc,
                                            'fa-sort-asc': $ctrl.consumption.orderBy === 'pages' && !$ctrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!$ctrl.consumption.paginated.length"
                                        data-ng-click="$ctrl.orderBy('wayType')">
                                    <label class="pointer" data-translate="telephony_service_consumption_type"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': $ctrl.consumption.orderBy !== 'wayType',
                                            'fa-sort-desc': $ctrl.consumption.orderBy === 'wayType' && $ctrl.consumption.orderDesc,
                                            'fa-sort-asc': $ctrl.consumption.orderBy === 'wayType' && !$ctrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!$ctrl.consumption.paginated.length"
                                        data-ng-click="$ctrl.orderBy('called')">
                                    <label class="pointer" data-translate="telephony_service_consumption_destination"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': $ctrl.consumption.orderBy !== 'called',
                                            'fa-sort-desc': $ctrl.consumption.orderBy === 'called' && $ctrl.consumption.orderDesc,
                                            'fa-sort-asc': $ctrl.consumption.orderBy === 'called' && !$ctrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!$ctrl.consumption.paginated.length"
                                        data-ng-click="$ctrl.orderBy('priceWithoutTax.value')">
                                    <label class="pointer" data-translate="telephony_service_consumption_price_ht"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': $ctrl.consumption.orderBy !== 'priceWithoutTax.value',
                                            'fa-sort-desc': $ctrl.consumption.orderBy === 'priceWithoutTax.value' && $ctrl.consumption.orderDesc,
                                            'fa-sort-asc': $ctrl.consumption.orderBy === 'priceWithoutTax.value' && !$ctrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                                <button class="no-style no-outline left-space-p0 left-space-m8"
                                        type="button"
                                        data-ng-disabled="$ctrl.consumption.isLoading"
                                        data-ng-click="$ctrl.refresh()">
                                    <i class="fa fa-refresh"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-ng-if="!$ctrl.consumption.isLoading">
                        <tr data-ng-repeat="conso in $ctrl.consumption.paginated | orderBy:$ctrl.order.by:$ctrl.order.reverse">
                            <td data-title="{{:: 'telephony_service_consumption_date' | translate }}">
                                <span class="text-nowrap right-space-m16" data-ng-bind="::conso.creationDatetime | date: 'dd/MM/yyyy'"></span>
                                <span class="text-nowrap right-space-m16" data-ng-bind="::conso.creationDatetime | date: 'HH:mm:ss'"></span>
                            </td>
                            <td data-title="{{:: 'telephony_service_consumption_outgoing_fax_pages' | translate }}">
                                <span class="text-nowrap" data-ng-bind="::conso.pages"></span>
                            </td>
                            <td data-title="{{:: 'telephony_service_consumption_type' | translate }}">
                                <span class="text-nowrap" data-ng-bind="::'telephony_service_consumption_type_' + conso.wayType | translate"></span>
                            </td>
                            <td data-title="{{:: 'telephony_service_consumption_destination' | translate }}">
                                <span class="text-nowrap" data-ng-bind="::conso.called | phoneNumber"></span>
                            </td>
                            <td data-title="{{:: 'telephony_service_consumption_price_ht' | translate }}">
                                <span class="text-nowrap" data-ng-bind="::conso.priceWithoutTax.text"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="$ctrl.consumption.isLoading">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="5">
                                <spinner class="left-space-m4"></spinner>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="!$ctrl.consumption.isLoading && !$ctrl.consumption.raw.length">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="5">
                                <span data-translate="telephony_service_consumption_outgoing_fax_empty"></span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="!$ctrl.consumption.isLoading &&
                                       $ctrl.consumption.raw.length &&
                                       !$ctrl.consumption.paginated.length">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="5">
                                <span data-translate="telephony_service_consumption_outgoing_fax_not_found"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-pretty-pagination top-space-m8"
                     data-ng-if="!$ctrl.consumption.isLoading && $ctrl.consumption.raw.length"
                     data-pagination-front
                     data-items="$ctrl.consumption.sorted"
                     data-paginated-items="$ctrl.consumption.paginated"
                     data-current-page="currentPage"
                     data-nb-pages="nbPages"
                     data-items-per-page="itemsPerPage"
                     data-page-placeholder="{{'common_pagination_page' | translate: {currentPage:currentPage, nbPages:nbPages} }}"
                     data-item-per-page-placeholder="{{'common_pagination_display' | translate}}">
                </div>
            </div>
        </div>
    </div>
    <!-- /.widget-presentation -->

</section>
<!-- /.telephony-group-fax-consumption-outgoing-calls -->
