<div class="telecom-site-builders">

    <div class="telecom-section-header">
        <header>
            <h1 data-translate="telecom_siteBuilders_service_title"></h1>
        </header>
    </div><!-- .telecom-section-header -->

    <div class="telecom-section-content table-responsive-vertical">

        <table class="table table-pretty table-hover table-condensed">
            <thead>
                <tr>
                    <th scope="col" data-translate="telecom_siteBuilders_domain"></th>
                    <th scope="col" data-translate="telecom_siteBuilders_date"></th>
                    <th scope="col" data-translate="telecom_siteBuilders_state"></th>
                    <th scope="col" data-translate="telecom_siteBuilders_actions"></th>
                </tr>
            </thead>
            <tbody data-ng-if="SiteBuildersCtrl.loaders.init">
                <tr>
                    <td colspan="4">
                        <div class="col-xs-12 text-center table-pretty-no-content" data-spinner></div>
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="!SiteBuildersCtrl.loaders.init && SiteBuildersCtrl.siteBuilders.length === 0">
                <tr>
                    <td colspan="4" class="text-center table-pretty-no-content"
                        data-translate="telecom_siteBuilders_empty">
                    </td>
                </tr>
            </tbody>
            <tbody data-ng-if="!SiteBuildersCtrl.loaders.init && SiteBuildersCtrl.siteBuilders.length > 0">
                <tr data-ng-repeat="siteBuilder in SiteBuildersCtrl.siteBuilders track by $index">
                    <td data-ng-bind="siteBuilder.mainDomain"
                        data-title="{{::'telecom_siteBuilders_domain' | translate}}"></td>
                    <td data-ng-bind="siteBuilder.createDate | date"
                        data-title="{{::'telecom_siteBuilders_date' | translate}}"></td>
                    <td data-ng-bind="'telecom_siteBuilders_state_' + siteBuilder.state | translate"
                        data-title="{{::'telecom_siteBuilders_state' | translate}}"></td>
                    <td data-title="{{::'telecom_siteBuilders_actions' | translate}}">
                        <a data-ng-href="{{siteBuilder.login}}"
                           target="_blank"
                           title="{{::'telecom_siteBuilders_go_to_admin' | translate }}">
                            <i class="ovh-font ovh-font-newtab" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div><!-- .telecom-section-content -->

</div>
