<section class="telephony-group-line-displayNumber">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line.calls"
                           section-back-link-title="{{ 'telephony_line_calls_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_line_actions_line_calls_lock_out_call_title"></h1>
    </header>

</section>

<oui-loader data-ng-if="LineLockOutCallCtrl.loading.init"
            data-size="m">
</oui-loader>

<div class="telecom-section-content"
     data-ng-hide="LineLockOutCallCtrl.loading.init">

    <toast-message></toast-message>

    <div class="row">
        <form class="form-horizontal col-md-6"
              name="lockOutCallForm"
              data-ng-submit="LineLockOutCallCtrl.save()">

            <div class="alert alert-info">
                <p data-translate="telephony_line_actions_line_calls_out_lock_call_explain"></p>
            </div>

            <div class="row mt-4">
                <div class="col-xs-12 col-md-8">
                    <div class="oui-checkbox">
                        <input type="checkbox"
                               class="oui-checkbox__input"
                               id="lockOutCall"
                               name="lockOutCall"
                               data-ng-disabled="LineLockOutCallCtrl.loading.save"
                               data-ng-model="LineLockOutCallCtrl.options.lockOutCall">
                        <label class="oui-checkbox__label-container" for="lockOutCall">
                            <span class="oui-checkbox__label"
                                  data-translate="telephony_line_actions_line_calls_out_lock_call_checkbox_label">
                            </span>
                                <span class="oui-checkbox__icon">
                                <i class="oui-icon oui-icon-checkbox-unchecked" aria-hidden="true"></i>
                                <i class="oui-icon oui-icon-checkbox-checked" aria-hidden="true"></i>
                                <i class="oui-icon oui-icon-checkbox-checkmark" aria-hidden="true"></i>
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row mt-4"
                 data-ng-show="LineLockOutCallCtrl.options.lockOutCall">
                <div class="col-xs-12 col-md-8">
                    <label>
                        <span data-translate="telephony_line_actions_line_calls_out_lock_call_pin_label"></span>
                        <input type="password"
                               class="form-control"
                               id="lockOutCallPassword"
                               name="lockOutCallPassword"
                               data-ng-model="LineLockOutCallCtrl.options.lockOutCallPassword"
                               data-ng-disabled="LineLockOutCallCtrl.loading.save"
                               size="4"
                               data-ui-validate="'LineLockOutCallCtrl.isPin($value)'"
                               required
                               maxlength="4">
                    </label>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-xs-12 col-md-12">
                    <hr />
                    <button type="submit"
                            class="btn btn-primary"
                            data-ng-disabled="LineLockOutCallCtrl.updating || !lockOutCallForm.$valid || !LineLockOutCallCtrl.needSave()">
                        <oui-loader class="mr-2"
                                    data-ng-if="LineDisplayNumberCtrl.updating"
                                    data-size="s">
                        </oui-loader>
                        <span data-translate="submit"></span>
                    </button>
                    <button type="button"
                            data-translate="cancel"
                            class="btn btn-default"
                            data-ng-click="LineLockOutCallCtrl.cancel()"
                            data-ng-disabled="LineLockOutCallCtrl.updating">
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
