<section class="telecom-telephony-line-calls-events">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line.calls"
            section-back-link-title="{{ 'telephony_line_calls_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_line_calls_events_title"></h1>
    </header>

    <bouncing-box-loader data-ng-if="EventsCtrl.loading.init"
                         data-size="m">
        <h2 data-translate="loading"></h2>
    </bouncing-box-loader>

    <div class="telecom-section-content"
         data-ng-if="!EventsCtrl.loading.init">

        <div class="alert alert-info"
             role="alert"
             data-translate="telephony_line_calls_events_info">
        </div>

        <telephony-scheduler data-telephony-scheduler="EventsCtrl.line.scheduler"
                             data-telephony-time-condition="EventsCtrl.line.timeCondition">
            <bouncing-box-loader data-size="m">
                <h2 data-translate="loading"></h2>
            </bouncing-box-loader>
        </telephony-scheduler>

    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telecom-telephony-line-calls-events -->
