<div data-ng-controller="XdslAccessLnsRateLimitCtrl as LnsRateLimitCtrl">
    <form name="remoteControlForm"
          data-ng-submit="LnsRateLimitCtrl.changeRate()"
          class="ovh-form-flat">
        <div class="row">
            <div class="col-xs-9">
                <slider data-floor="{{LnsRateLimitCtrl.min}}"
                        data-ceiling="{{LnsRateLimitCtrl.max}}"
                        data-step="{{LnsRateLimitCtrl.step}}"
                        class="left-space-m0 bottom-space-m0"
                        data-ng-model="LnsRateLimitCtrl.rate.value"
                        data-refresh-trigger="LnsRateLimitCtrl.rate.disabled"
                        data-display-callback="LnsRateLimitCtrl.reformatValue(value)"
                        data-disabled="access.tasks.current.lnsApplyRateLimit || LnsRateLimitCtrl.rate.disabled"></slider>
            </div>
            <div class="col-xs-3"
                 data-ng-if="!LnsRateLimitCtrl.rate.disabled"
                 data-ng-bind="LnsRateLimitCtrl.reformatValue(LnsRateLimitCtrl.rate.value)">
            </div>
        </div>
        <div class="top-space-m8">
            <flat-checkbox>
                <input type="checkbox"
                    id="limitRateEnabled"
                    name="limitRateEnabled"
                    class="form-control pointer"
                    data-ng-model="LnsRateLimitCtrl.rate.disabled"
                    data-ng-disabled="access.tasks.current.lnsApplyRateLimit || !LnsRateLimitCtrl.rate.canApplyLnsRateLimit">
            </flat-checkbox>
            <label for="limitRateEnabled"
                   data-translate="xdsl_access_lns_ratelimit_activate"></label>
        </div>
        <button class="btn btn-primary top-space-m8"
                type="submit"
                data-ng-disabled="!LnsRateLimitCtrl.rate.canApplyLnsRateLimit || access.tasks.current.lnsApplyRateLimit || !LnsRateLimitCtrl.valueChanged() || (LnsRateLimitCtrl.rate.disabled === true && LnsRateLimitCtrl.undoRate.disabled === true)"
                data-ng-if="!access.tasks.current.lnsApplyRateLimit"
                data-uib-tooltip-html-unsafe="<strong class='text-warning'>{{ 'xdsl_access_lns_ratelimit_warning' | translate }}</strong>"
                data-translate="submit">
        </button>
        <div data-ng-if="access.tasks.current.lnsApplyRateLimit">
            <spinner></spinner>
            <span data-translate="xdsl_access_lns_ratelimit_doing"></span>
        </div>
    </form>
</div>
