<form class="telephony-scheduler"
      name="telephonyScheduler"
      data-ng-submit="$ctrl.saveScheduler()"
      novalidate>

    <div class="scheduler-overlay w-100 h-100"
         data-ng-if="$ctrl.loading.edit || $ctrl.loading.import || $ctrl.loading.save">
        <div class="scheduler-overlay-backdrop w-100 h-100"></div>
        <div class="scheduler-overlay-loader d-flex flex-column align-items-center justify-content-center"
             data-ng-if="$ctrl.loading.import"
             data-ng-transclude>
        </div>
    </div>

    <div data-ng-if="!$ctrl.loading.init"
         class="row">

        <!-- PARAMS AND FILTERS -->
        <div class="col-xs-12 col-md-3">

            <!-- SCHEDULER PARAMS -->
            <div class="widget-presentation clearfix">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_scheduler_params_title">
                </h2>

                <div data-ng-transclude
                     data-ng-if="$ctrl.loading.params">
                </div>

                <telephony-scheduler-params class="clearfix"
                                            data-ng-show="!$ctrl.loading.params">
                </telephony-scheduler-params>
            </div> <!-- SCHEDULER PARAMS -->

            <!-- SCHEDULER FILTERS -->
            <div class="widget-presentation">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_scheduler_categories_title">
                </h2>

                <div data-ng-transclude
                     data-ng-if="$ctrl.loading.filters">
                </div>

                <telephony-scheduler-filters data-ng-model="$ctrl.model.filters"
                                             data-telephony-scheduler-filters-on-change="$ctrl.onFiltersChange()"
                                             data-ng-show="!$ctrl.loading.filters">
                </telephony-scheduler-filters>
            </div> <!-- SCHEDULER FILTERS -->

        </div>

        <div class="scheduler-calendar col-xs-12 col-md-9">

            <!-- HEADER -->
            <div class="calendar-header mb-5 w-100">
                <!-- DESKTOP VIEW -->
                <div data-ng-if="$ctrl.status.isDesktop">
                    <div class="header-left d-inline-block align-middle">
                        <!-- TODAY BUTTON -->
                        <button type="button"
                                class="btn btn-default mr-3"
                                data-translate="telephony_scheduler_calendar_today"
                                data-ng-click="$ctrl.onCalendarNavigate('today')">
                        </button> <!-- TODAY BUTTON -->

                        <!-- PREV - NEXT BUTTONS -->
                        <div class="btn-group mr-3"
                             role="group">
                            <button type="button"
                                    class="btn btn-default"
                                    data-translate-attr="{ title: 'telephony_scheduler_header_previous_title' }"
                                    data-ng-click="$ctrl.onCalendarNavigate('prev')">
                                <i class="ovh-font ovh-font-arrow-left"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-default"
                                    data-translate-attr="{ title: 'telephony_scheduler_header_next_title' }"
                                    data-ng-click="$ctrl.onCalendarNavigate('next')">
                                <i class="ovh-font ovh-font-arrow-right"></i>
                            </button>
                        </div> <!-- PREV - NEXT BUTTONS -->
                    </div>

                    <!-- CURRENT PERIOD -->
                    <div class="header-period d-inline-block align-middle">
                        <h3 data-ng-bind="$ctrl.getCalendarTitle()">
                        </h3>
                    </div> <!-- CURRENT PERIOD -->

                    <div class="header-right d-inline-block align-middle float-right">
                        <!-- VIEWS BUTTONS -->
                        <div class="btn-group"
                             role="group">
                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-class="{ active: $ctrl.model.currentView === 'agendaDay' }"
                                    data-translate="telephony_scheduler_calendar_day"
                                    data-translate-attr="{ title: 'telephony_scheduler_calendar_day' }"
                                    data-ng-click="$ctrl.onChangeCalendarView('agendaDay')">
                            </button>
                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-class="{ active: $ctrl.model.currentView === 'agendaWeek' }"
                                    data-translate="telephony_scheduler_calendar_week"
                                    data-translate-attr="{ title: 'telephony_scheduler_calendar_week' }"
                                    data-ng-click="$ctrl.onChangeCalendarView('agendaWeek')">
                            </button>
                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-class="{ active: $ctrl.model.currentView === 'month' }"
                                    data-translate="telephony_scheduler_calendar_month"
                                    data-translate-attr="{ title: 'telephony_scheduler_calendar_month' }"
                                    data-ng-click="$ctrl.onChangeCalendarView('month')">
                            </button>
                            <!-- OTHER ACTIONS -->
                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-click="$ctrl.status.displayActions = true; $ctrl.status.deleteConfirm = false;"
                                    data-responsive-popover="'components/telecom/telephony/scheduler/telephony-scheduler-actions.html'"
                                    data-popover-placement="bottom-right"
                                    data-popover-append-to-body="true"
                                    data-popover-class="ovh-angular-actions-menu telephony-scheduler-actions-menu"
                                    data-popover-trigger="outsideClick"
                                    data-popover-is-open="$ctrl.status.displayActions">
                                <i class="ovh-font ovh-font-dots"></i>
                            </button> <!-- OTHER ACTIONS -->
                        </div> <!-- VIEWS BUTTONS -->
                    </div>
                </div> <!-- DESKTOP VIEW -->

                <!-- MOBILE VIEW -->
                <div data-ng-if="!$ctrl.status.isDesktop">

                    <!-- VIEWS SWITCH -->
                    <div class="d-inline-block align-middle">
                        <div class="btn-group"
                             data-uib-dropdown>
                            <button type="button"
                                    id="mobile-view-switch"
                                    class="btn btn-default"
                                    data-uib-dropdown-toggle>
                                <span data-ng-bind="$ctrl.getCalendarTitle()"></span>
                                <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu"
                                data-uib-dropdown-menu
                                role="menu"
                                aria-labelledby="mobile-view-switch">
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link w-100"
                                            data-ng-class="{ active: $ctrl.model.currentView === 'month' }"
                                            data-translate="telephony_scheduler_calendar_month"
                                            data-translate-attr="{ title: 'telephony_scheduler_calendar_month' }"
                                            data-ng-click="$ctrl.onChangeCalendarView('month')">
                                    </button>
                                </li>
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link w-100"
                                            data-ng-class="{ active: $ctrl.model.currentView === 'agendaWeek' }"
                                            data-translate="telephony_scheduler_calendar_week"
                                            data-translate-attr="{ title: 'telephony_scheduler_calendar_week' }"
                                            data-ng-click="$ctrl.onChangeCalendarView('agendaWeek')">
                                    </button>
                                </li>
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link w-100"
                                            data-ng-class="{ active: $ctrl.model.currentView === 'agendaDay' }"
                                            data-translate="telephony_scheduler_calendar_day"
                                            data-translate-attr="{ title: 'telephony_scheduler_calendar_day' }"
                                            data-ng-click="$ctrl.onChangeCalendarView('agendaDay')">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- VIEWS SWITCH -->

                    <!-- NAVIGATE BUTTONS -->
                    <div class="d-inline-block align-middle">
                        <div class="btn-group mx-5"
                             data-uib-dropdown>
                            <button type="button"
                                    class="btn btn-default"
                                    id="mobile-navigate-buttons"
                                    data-translate-attr="{ title: 'telephony_scheduler_calendar_today' }"
                                    data-ng-click="$ctrl.onCalendarNavigate('today')">
                                <span class="fa-stack">
                                    <i class="fa fa-calendar-o fa-stack-2x"></i>
                                    <i class="d-inline-block mt-2"
                                       data-ng-bind="$ctrl.getCurrentDay()">
                                    </i>
                                </span>
                            </button>
                            <button type="button"
                                    class="btn btn-default px-2"
                                    data-uib-dropdown-toggle>
                                <i class="caret"></i>
                            </button>
                            <ul class="dropdown-menu"
                                data-uib-dropdown-menu
                                role="menu"
                                aria-labelledby="mobile-navigate-buttons">
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link w-100"
                                            data-translate="telephony_scheduler_header_previous_title"
                                            data-ng-click="$ctrl.onCalendarNavigate('prev')">
                                    </button>
                                </li>
                                <li role="menuitem">
                                    <button type="button"
                                            class="btn btn-link w-100"
                                            data-translate="telephony_scheduler_header_next_title"
                                            data-ng-click="$ctrl.onCalendarNavigate('next')">
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- NAVIGATE BUTTONS -->

                    <!-- OTHER ACTIONS -->
                    <div class="d-inline-block align-middle float-right">
                        <button type="button"
                                class="btn btn-default"
                                data-ng-click="$ctrl.status.displayActions = true; $ctrl.status.deleteConfirm = false;"
                                data-responsive-popover="'components/telecom/telephony/scheduler/telephony-scheduler-actions.html'"
                                data-popover-placement="bottom-right"
                                data-popover-append-to-body="true"
                                data-popover-class="ovh-angular-actions-menu telephony-scheduler-actions-menu"
                                data-popover-trigger="outsideClick"
                                data-popover-is-open="$ctrl.status.displayActions">
                            <i class="ovh-font ovh-font-dots"></i>
                        </button>
                    </div> <!-- OTHER ACTIONS -->

                </div> <!-- MOBILE VIEW -->
            </div> <!-- HEADER -->

            <!-- UI-CALENDAR -->
            <div class="scheduler-ui-calendar">
                <div class="scheduler-overlay w-100 h-100"
                     data-ng-if="$ctrl.loading.events">
                    <div class="scheduler-overlay-backdrop w-100 h-100"></div>
                    <div class="scheduler-overlay-loader d-flex flex-column align-items-center justify-content-center"
                         data-ng-transclude>
                    </div>
                </div>

                <div data-ui-calendar="$ctrl.calendarOptions"
                     data-calendar="eventsCalendar"
                     data-ng-model="$ctrl.model.events">
                </div>
            </div> <!-- UI-CALENDAR -->

        </div>

    </div>

    <footer class="voip-action-bar"
            data-ng-if="$ctrl.hasChange() && !$ctrl.loading.edit">

        <p class="mb-3 font-weight-bold text-white"
           data-translate="telephony_scheduler_save">
        </p>

        <div class="d-inline-block">
            <button type="submit"
                    class="btn btn-primary"
                    data-ng-disabled="$ctrl.loading.save">
                <oui-spinner class="mr-2"
                             data-ng-if="$ctrl.loading.save"
                             data-size="s">
                </oui-spinner>
                <span data-translate="submit"></span>
            </button>
            <button type="button"
                    class="btn btn-default"
                    data-ng-click="$ctrl.cancelEdition()"
                    data-ng-disabled="$ctrl.loading.save"
                    data-translate="cancel">
            </button>
        </div>

    </footer>

</form>
