<div class="btn-group"
     data-uib-dropdown
     data-is-open="status.isopen">
    <button
        type="button"
        class="btn btn-link table-action-line"
        data-ng-disabled="disabled"
        data-uib-dropdown-toggle>
        <i class="ovh-font ovh-font-dots" aria-hidden="true"></i>
        <span class="sr-only" data-translate="common_actions"></span>
    </button>
    <div class="table-action-line table-action-matrix dropdown-menu"
         data-uib-dropdown-menu>
        <div class="arrow"></div>
        <div class="action-menu-content">
            <ul class="action-menu" role="menu"></ul>
        </div>
    </div>
</div>
