<section class="telephony-group-alias-configuration-callsFiltering-easyHunting">

    <header>
        <tuc-section-back-link data-tuc-section-back-link-to-state="telecom.telephony.alias.configuration"
                           data-tuc-section-back-link-title="{{ 'telephony_alias_configuration_back_link' | translate }}">
        </tuc-section-back-link>
        <h1 data-translate="telephony_alias_configuration_calls_filtering_title"></h1>
    </header>

    <div class="text-center" data-ng-if="MembersEasyHuntingCtrl.loaders.init">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!MembersEasyHuntingCtrl.loaders.init">

        <toast-message></toast-message>

        <div class="row">

            <!-- FILTERING ENABLE -->
            <div class="col-md-6">
                <div class="widget-presentation">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_configuration_calls_filtering_enable">
                    </h2>
                    <div class="form-group">
                        <label class="control-label"
                               for="callFilteringStatus"
                               data-translate="telephony_alias_configuration_calls_filtering_incoming">
                        </label>
                        <select class="form-control"
                                id="callFilteringStatus"
                                required
                                data-ng-model="CallsFilteringEasyHuntingCtrl.screenStatus.modified"
                                data-ng-change="CallsFilteringEasyHuntingCtrl.updateScreen()"
                                data-ng-disabled="CallsFilteringEasyHuntingCtrl.screenStatus.isLoading">
                            <option value="disabled" data-translate="telephony_alias_configuration_calls_filtering_list_none"></option>
                            <option value="incomingWhiteList" data-translate="telephony_alias_configuration_calls_filtering_list_white"></option>
                            <option value="incomingBlackList" data-translate="telephony_alias_configuration_calls_filtering_list_black"></option>
                        </select>
                    </div>
                    <div class="text-center" data-ng-if="CallsFilteringEasyHuntingCtrl.screenStatus.isLoading">
                        <oui-spinner></oui-spinner>
                    </div>
                    <div class="form-group mt-4">
                        <div class="row">
                            <div class="col-md-6">
                                <telephony-bulk-action data-billing-account="{{ CallsFilteringEasyHuntingCtrl.bulkDatas.billingAccount }}"
                                                       data-service-type="alias"
                                                       data-service-name="{{ CallsFilteringEasyHuntingCtrl.bulkDatas.serviceName }}"
                                                       data-custom-class="link d-block pl-0 mb-3"
                                                       data-bulk-infos="CallsFilteringEasyHuntingCtrl.bulkDatas.infos"
                                                       data-filter-services="CallsFilteringEasyHuntingCtrl.filterServices"
                                                       data-get-bulk-params="CallsFilteringEasyHuntingCtrl.getBulkParams"
                                                       data-on-success="CallsFilteringEasyHuntingCtrl.onBulkSuccess"
                                                       data-on-error="CallsFilteringEasyHuntingCtrl.onBulkError">
                                </telephony-bulk-action>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.widget-presentation -->
            </div>

            <!-- FILTERING ADD -->
            <div class="col-md-6">
                <div class="widget-presentation">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_configuration_calls_filtering_new">
                    </h2>
                    <telecom-telephony-calls-filtering-add
                        data-add-screen-list="CallsFilteringEasyHuntingCtrl.addScreenList(screen)"
                        data-get-screen-list="CallsFilteringEasyHuntingCtrl.screenLists.getList()"
                        data-on-screen-list-added="CallsFilteringEasyHuntingCtrl.onScreenListAdded(screen)"
                        data-disable-outgoing="true"
                        data-disable-nature="true">
                    </telecom-telephony-calls-filtering-add>
                </div>
                <!-- /.widget-presentation -->
            </div>

        </div>
        <!-- /.row -->

        <div class="widget-presentation">
            <h2 class="widget-presentation-title"
                data-translate="telephony_alias_configuration_calls_filtering_config">
            </h2>
            <telecom-telephony-calls-filtering-table
                data-api="CallsFilteringEasyHuntingCtrl.screenLists">
            </telecom-telephony-calls-filtering-table>
        </div>
        <!-- /.widget-presentation -->

    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telephony-group-alias-configuration-callsFiltering-easyHunting -->
