node_modules
.tmp
.idea
dist
Messages_*_*.json
npm-debug.log
*.orig
dist.tar.gz
build
test-reports/
test-reports.tar.gz
karma.conf.js
tools/temp
public
client/app/config/custom.js
tools/keys/*
karma.conf.js
/server/config/local.env.js
npm-debug.log
phantomjsdriver.log
dist.tar.gz
bin
nbproject
test-reports/
test-reports.tar.gz
server/certificate/server.crt
server/certificate/server.csr
server/certificate/server.key
tools/
