<form name="templatesUserForm"
      id="templatesUserForm"
      class="ovh-form-flat"
      data-ng-submit="UsersTemplatesCtrl.templates()">

    <div class="modal-header">
        <h3 class="modal-title pull-left" data-translate="sms_users_templates_title"></h3>
        <button
            type="button"
            class="close pull-right"
            aria-label="{{ ::'cancel' | translate }}"
            data-ng-click="UsersTemplatesCtrl.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" data-ng-if="!UsersTemplatesCtrl.loading.updateTemplates && !UsersTemplatesCtrl.updated">
        <div class="alert alert-ovh" role="alert">
            <p data-translate="sms_users_templates_variable_info"></p>
            <dl class="dl-horizontal top-space-m12">
                <dt data-ng-repeat-start="(key, variable) in UsersTemplatesCtrl.variables"
                    data-translate="{{:: 'sms_users_templates_variable_' + key }}">
                </dt>
                <dd data-ng-repeat-end
                    data-ng-bind="variable">
                </dd>
            </dl>
        </div>

        <!-- CUSTOMIZED EMAIL MODE -->
        <label class="block pointer bottom-space-m8">
            <flat-checkbox>
                <input
                    type="checkbox"
                    name="customizedEmailMode"
                    class="form-control"
                    id="customizedEmailMode"
                    data-ng-model="UsersTemplatesCtrl.model.service.templates.customizedEmailMode" />
            </flat-checkbox>
            <span class="left-space-m8">
                <span data-translate="sms_users_templates_customized_email_mode_label"></span>
                <i class="ovh-font ovh-font-info text-info line-height-normal"
                   aria-hidden="true"
                   data-uib-tooltip="{{:: 'sms_users_templates_labels_tooltip' | translate }}"
                   data-tooltip-append-to-body="true">
                </i>
            </span>
        </label>

        <!-- EMAIL FROM -->
        <div class="form-group bottom-space-m16">
            <div data-flat-input-container>
                <label for="emailFrom"
                       class="control-label"
                       data-translate="sms_users_templates_email_from_label">
                </label>
                <input
                    type="email"
                    name="emailFrom"
                    id="emailFrom"
                    class="form-control"
                    autofocus
                    data-ng-model="UsersTemplatesCtrl.model.service.templates.emailFrom"
                    data-ng-required="UsersTemplatesCtrl.model.service.templates.customizedEmailMode"
                    data-ng-disabled="!UsersTemplatesCtrl.model.service.templates.customizedEmailMode"
                    data-translate-attr="{ placeholder: 'sms_users_templates_email_from_placeholder' }" />
                <div role="alert"
                     data-ng-messages="(templatesUserForm.$invalid && templatesUserForm.emailFrom.$dirty) && templatesUserForm.emailFrom.$error">
                    <p class="text-danger"
                       data-ng-message="required"
                       data-translate="sms_users_templates_email_from_error_required">
                    </p>
                    <p class="text-danger"
                       data-ng-message="email"
                       data-translate="sms_users_templates_email_from_error_email">
                    </p>
                </div>
            </div>
        </div>

        <!-- EMAIL SUBJECT -->
        <div class="form-group bottom-space-m16">
            <div data-flat-input-container>
                <label for="emailSubject"
                       class="control-label"
                       data-translate="sms_users_templates_email_subject_label">
                </label>
                <input
                    type="text"
                    name="emailSubject"
                    id="emailSubject"
                    class="form-control"
                    data-ng-model="UsersTemplatesCtrl.model.service.templates.emailSubject"
                    data-ng-required="UsersTemplatesCtrl.model.service.templates.customizedEmailMode"
                    data-ng-disabled="!UsersTemplatesCtrl.model.service.templates.customizedEmailMode"
                    data-translate-attr="{ placeholder: 'sms_users_templates_email_subject_placeholder' }" />
                <div role="alert"
                     data-ng-messages="(templatesUserForm.$invalid && templatesUserForm.emailSubject.$dirty) && templatesUserForm.emailSubject.$error">
                    <p class="text-danger"
                       data-ng-message="required"
                       data-translate="sms_users_templates_email_subject_error_required">
                    </p>
                </div>
            </div>
        </div>

        <!-- EMAIL BODY -->
        <div class="form-group bottom-space-m16">
            <div data-flat-input-container>
                <label for="emailBody"
                       class="control-label"
                       data-translate="sms_users_templates_email_body_label">
                </label>
                <textarea
                    name="emailBody"
                    id="emailBody"
                    class="form-control vertical-resize"data-ng-model="UsersTemplatesCtrl.service.templates.emailBody"
                    data-ng-required="UsersTemplatesCtrl.model.service.templates.customizedEmailMode"
                    data-ng-disabled="!UsersTemplatesCtrl.model.service.templates.customizedEmailMode"
                    data-translate-attr="{ placeholder: 'sms_users_templates_email_body_placeholder' }"
                    data-ng-trim="false">
                </textarea>
                <div role="alert"
                     data-ng-messages="(templatesUserForm.$invalid && templatesUserForm.emailBody.$dirty) && templatesUserForm.emailBody.$error">
                    <p class="text-danger"
                       data-ng-message="required"
                       data-translate="sms_users_templates_email_body_error_required">
                    </p>
                </div>
            </div>
        </div>

        <!-- CUSTOMIZED SMS MODE -->
        <label class="block pointer bottom-space-m8">
            <flat-checkbox>
                <input
                    type="checkbox"
                    name="customizedSmsMode"
                    class="form-control"
                    id="customizedSmsMode"
                    data-ng-model="UsersTemplatesCtrl.model.service.templates.customizedSmsMode" />
            </flat-checkbox>
            <span class="left-space-m8">
                <span data-translate="sms_users_templates_customized_sms_mode_label"></span>
                <i class="ovh-font ovh-font-info text-info line-height-normal"
                   aria-hidden="true"
                   data-uib-tooltip="{{:: 'sms_users_templates_labels_tooltip' | translate }}"
                   data-tooltip-append-to-body="true">
                </i>
            </span>
        </label>

        <!-- SMS BODY -->
        <div class="form-group bottom-space-m16">
            <div data-flat-input-container>
                <label for="smsBody"
                       class="control-label"
                       data-translate="sms_users_templates_sms_body_label">
                </label>
                <textarea
                    name="smsBody"
                    id="smsBody"
                    class="form-control vertical-resize"
                    data-ng-model="UsersTemplatesCtrl.model.service.templates.smsBody"
                    data-ng-required="UsersTemplatesCtrl.model.service.templates.customizedSmsMode"
                    data-ng-disabled="!UsersTemplatesCtrl.model.service.templates.customizedSmsMode"
                    data-ng-maxlength="UsersTemplatesCtrl.smsBodyMaxLength"
                    data-translate-attr="{ placeholder: 'sms_users_templates_sms_body_placeholder' }">
                </textarea>
                <div class="text-right">
                    <small class="service-item">
                        <span data-translate="sms_users_templates_sms_body_characters_left"></span>
                        <b data-ng-bind="UsersTemplatesCtrl.smsBodyMaxLength - UsersTemplatesCtrl.model.service.templates.smsBody.length"></b>&nbsp;/&nbsp;<span data-ng-bind="UsersTemplatesCtrl.smsBodyMaxLength"></span>
                    </small>
                </div>
                <div role="alert"
                     data-ng-messages="(templatesUserForm.$invalid && templatesUserForm.smsBody.$dirty) && templatesUserForm.smsBody.$error">
                    <p class="text-danger"
                       data-ng-message="required"
                       data-translate="sms_users_templates_sms_body_error_required">
                    </p>
                    <p class="text-danger"
                       data-ng-message="maxlength"
                       data-translate="sms_users_templates_sms_body_error_maxlength"
                       data-translate-values="{
                           maxlenght: UsersTemplatesCtrl.smsBodyMaxLength
                       }">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body" data-ng-if="UsersTemplatesCtrl.loading.updateTemplates && !UsersTemplatesCtrl.updated">
        <bouncing-box-loader>
            <h4 data-translate="sms_users_templates_adding"></h4>
        </bouncing-box-loader>
    </div>

    <div class="modal-body" data-ng-if="UsersTemplatesCtrl.updated">
        <success-drawing-check data-draw-success-check="UsersTemplatesCtrl.updated">
            <h4 data-translate="sms_users_templates_added"></h4>
        </success-drawing-check>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-ng-click="UsersTemplatesCtrl.cancel()"
            data-translate="cancel"
            data-ng-disabled="UsersTemplatesCtrl.loading.updateTemplates || UsersTemplatesCtrl.updated">
        </button>
        <button
            type="submit"
            class="btn btn-primary"
            data-ng-disabled="templatesUserForm.$invalid ||
                              !UsersTemplatesCtrl.hasChanged() ||
                              UsersTemplatesCtrl.loading.updateTemplates ||
                              UsersTemplatesCtrl.updated"
            data-translate="submit">
        </button>
    </div>
</form>
