<section class="telecom-sms-sms-compose">

    <header>
        <section-back-link section-back-link-to-state="telecom.sms.sms"
                           section-back-link-title="{{ 'sms_section_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="sms_sms_compose_title"></h1>
    </header>

    <!-- LOADING -->
    <bouncing-box-loader data-ng-if="SmsComposeCtrl.loading.init">
        <h2 data-translate="loading"></h2>
    </bouncing-box-loader>

    <div class="telecom-section-content" data-ng-if="!SmsComposeCtrl.loading.init">
        <div class="row">
            <div class="col-xs-12 col-md-3 pull-right">

                <div class="widget-presentation bottom-space-m32">
                    <header class="widget-presentation-header">
                        <h2 class="widget-presentation-title" data-translate="sms_sms_compose_tips_title"></h2>
                    </header>
                    <ul role="menu">
                        <li class="telecom-sms-dashboard-compose-tips-item"
                            role="menuitem">
                            <a href="#"
                               class="btn btn-link btn-block text-left"
                               data-translate="sms_sms_compose_tip_compose_title"
                               data-ng-click="SmsComposeCtrl.tips($event, 'compose')">
                            </a>
                        </li>
                        <li class="telecom-sms-dashboard-compose-tips-item"
                            role="menuitem">
                            <a href="#"
                               class="btn btn-link btn-block text-left"
                               data-translate="sms_sms_compose_tip_size_title"
                               data-ng-click="SmsComposeCtrl.tips($event, 'size')">
                            </a>
                        </li>
                        <li class="telecom-sms-dashboard-compose-tips-item"
                            role="menuitem">
                            <a class="telecom-link btn btn-link btn-block text-left"
                               title="{{:: 'sms_sms_compose_add_receivers_select' | translate }} ({{:: 'common_open_new_tab' | translate }})"
                               target="_blank"
                               data-ng-href="{{ SmsComposeCtrl.urls.receivers }}">
                                <span data-translate="sms_sms_compose_add_receivers_select"></span>
                                <i class="ovh-font ovh-font-newtab" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-xs-12 col-md-9">

                <div class="alert alert-warning" role="alert"
                     data-ng-if="SmsComposeCtrl.service.creditsLeft <= 0 || SmsComposeCtrl.service.creditsLeft < SmsComposeCtrl.receivers.records">
                    <i class="ovh-font ovh-font-filled-warning" aria-hidden="true"></i>
                    <p data-ng-if="SmsComposeCtrl.service.creditsLeft <= 0"
                       data-translate="sms_sms_compose_alert_not_enough_credits">
                    </p>
                    <p data-ng-if="SmsComposeCtrl.service.creditsLeft > 0 && SmsComposeCtrl.service.creditsLeft < SmsComposeCtrl.receivers.records"
                       data-translate="sms_sms_compose_alert_not_enough_credits_receivers">
                    </p>
                    <a title="{{ ::'sms_actions_credit_account' | translate }}"
                       data-ui-sref="telecom.sms.order">
                        <span data-translate="sms_actions_credit_account"></span>.
                    </a>
                </div>

                <form name="sendSmsForm"
                      class="ovh-form-flat"
                      novalidate
                      data-ng-submit="SmsComposeCtrl.send(sendSmsForm)">

                    <!-- SENDER AND RECEIVERS -->
                    <section class="widget-presentation">
                        <h2 class="widget-presentation-title"
                            data-translate="sms_sms_compose_section_configure">
                        </h2>

                        <div class="form-group">
                            <label for="sender"
                                   class="control-label"
                                   data-translate="sms_sms_compose_sender_label">
                            </label>
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <select
                                        name="sender"
                                        id="sender"
                                        class="form-control"
                                        autofocus
                                        required
                                        data-flat-select
                                        data-ng-model="SmsComposeCtrl.sms.sender"
                                        data-ng-change="SmsComposeCtrl.showAdvice()">
                                        <optgroup label="- {{ ::'sms_sms_compose_sender_optgroup_label_response' | translate }} -">
                                            <option
                                                value="shortNumber"
                                                selected="true"
                                                data-translate="sms_sms_compose_sender_option_short_number">
                                            </option>
                                            <option
                                                value="{{ sender.sender }}"
                                                data-ng-repeat="sender in SmsComposeCtrl.senders.virtual"
                                                data-translate="sms_sms_compose_sender_option_virtual_number"
                                                data-translate-values="{ sender: sender.sender }">
                                            </option>
                                        </optgroup>
                                        <optgroup
                                            label="- {{ ::'sms_sms_compose_sender_optgroup_label_alphanumeric' | translate }} -"
                                            data-ng-if="SmsComposeCtrl.senders.alphanumeric.length">
                                            <option
                                                value="{{ sender.sender }}"
                                                data-ng-repeat="sender in SmsComposeCtrl.senders.alphanumeric"
                                                data-ng-bind="sender.sender">
                                            </option>
                                        </optgroup>
                                        <optgroup
                                            label="- {{ ::'sms_sms_compose_sender_optgroup_label_other' | translate }} -"
                                            data-ng-if="SmsComposeCtrl.senders.other.length">
                                            <option
                                                value="{{ sender.sender }}"
                                                data-ng-repeat="sender in SmsComposeCtrl.senders.other"
                                                data-ng-bind="'(' + sender.description + ') ' + sender.sender">
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <a class="inline-block top-space-m4"
                                       data-ui-sref="telecom.sms.senders"
                                       data-translate="sms_sms_compose_sender_manage"
                                       data-translate-attr="{ title: 'sms_sms_compose_sender_manage' }">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div data-flat-input-container>
                                <label for="recipient"
                                       class="control-label"
                                       data-translate="sms_sms_compose_recipient_label">
                                </label>
                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        <input
                                            type="tel"
                                            name="recipient"
                                            id="recipient"
                                            class="form-control"
                                            data-ng-required="!SmsComposeCtrl.receivers.records && !SmsComposeCtrl.phonebooks.lists.length"
                                            data-ng-model="SmsComposeCtrl.sms.receivers"
                                            data-ng-pattern="/^(00|\+)/"
                                            data-translate-attr="{ placeholder: 'sms_sms_compose_recipient_placeholder' }" />
                                        <div role="alert"
                                             data-ng-if="sendSmsForm.recipient.$dirty"
                                             data-ng-messages="sendSmsForm.recipient.$error">
                                            <p class="text-danger"
                                               data-ng-message="required"
                                               data-translate="sms_sms_compose_recipient_error_required">
                                            </p>
                                            <p class="text-danger"
                                               data-ng-message="pattern"
                                               data-translate="sms_sms_compose_recipient_error_pattern">
                                            </p>
                                        </div>
                                        <div class="top-space-m12">
                                            <button
                                                type="button"
                                                class="btn btn-default"
                                                data-ng-if="SmsComposeCtrl.receivers.raw.length > 0"
                                                data-ng-click="SmsComposeCtrl.addReceiversLists($event)"
                                                data-translate="sms_sms_compose_add_receivers_select">
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-default"
                                                data-ng-if="SmsComposeCtrl.phonebooks.raw.length > 0"
                                                data-ng-click="SmsComposeCtrl.addPhonebookContact($event)"
                                                data-translate="sms_sms_compose_phonebook_manage">
                                            </button>
                                            <ul class="list-unstyled top-space-m20">
                                                <li class="bottom-space-m8 clearfix"
                                                    data-ng-if="SmsComposeCtrl.receivers.records > 0">
                                                    <span class="vertical-middle"
                                                          data-ng-bind-html="(SmsComposeCtrl.receivers.count > 1 ? 'sms_sms_compose_add_receivers_selected_multiple' : 'sms_sms_compose_add_receivers_selected_single') | translate:{
                                                              count: SmsComposeCtrl.receivers.count
                                                          }">
                                                    </span>
                                                    <button
                                                        type="button"
                                                        class="btn btn-default btn-xs pull-right"
                                                        data-ng-click="SmsComposeCtrl.clearReceiversLists($event)"
                                                        data-translate-attr="{ title: 'delete' }">
                                                        <i class="ovh-font ovh-font-bin" aria-hidden="true"></i>
                                                    </button>
                                                </li>
                                                <li class="bottom-space-m8 clearfix"
                                                    data-ng-if="SmsComposeCtrl.phonebooks.lists.length > 0">
                                                    <span class="vertical-middle"
                                                          data-ng-bind-html="(SmsComposeCtrl.phonebooks.lists.length > 1 ? 'sms_sms_compose_add_phonebooks_selected_multiple' : 'sms_sms_compose_add_phonebooks_selected_single') | translate:{
                                                              count: SmsComposeCtrl.phonebooks.lists.length
                                                          }">
                                                    </span>
                                                    <button
                                                        type="button"
                                                        class="btn btn-default btn-xs pull-right"
                                                        data-ng-click="SmsComposeCtrl.clearPhonebookContactList($event)"
                                                        data-translate-attr="{ title: 'delete' }">
                                                        <i class="ovh-font ovh-font-bin" aria-hidden="true"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <a class="inline-block top-space-m4"
                                           data-ng-if="!SmsComposeCtrl.receivers.raw.length"
                                           data-ui-sref="telecom.sms.receivers"
                                           data-translate="sms_sms_compose_receivers_manage"
                                           data-translate-attr="{ title: 'sms_sms_compose_receivers_manage' }">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- MESSAGE -->
                    <section class="widget-presentation">
                        <h2 class="widget-presentation-title"
                            data-translate="sms_sms_compose_section_compose">
                        </h2>

                        <div class="form-group">
                            <div data-flat-input-container>
                                <label for="message" class="control-label"
                                       data-translate="sms_sms_compose_message_label">
                                </label>
                                <div class="row">
                                    <div class="col-xs-12 col-md-8">
                                        <textarea
                                            name="message"
                                            id="message"
                                            class="form-control vertical-resize"
                                            rows="4"
                                            required
                                            data-ng-model="SmsComposeCtrl.sms.message"
                                            data-ng-change="SmsComposeCtrl.computeRemainingChar()"
                                            data-ng-maxlength="SmsComposeCtrl.message.maxlength"
                                            data-ng-trim="false"
                                            data-translate-attr="{ placeholder: 'sms_sms_compose_message_placeholder' }">
                                        </textarea>
                                    </div>
                                </div>
                                <div role="alert"
                                     data-ng-if="sendSmsForm.message.$dirty"
                                     data-ng-messages="sendSmsForm.message.$error">
                                    <p class="text-danger"
                                       data-ng-message="required"
                                       data-translate="sms_sms_compose_message_error_required">
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <div class="telecom-sms-sms-compose-message-info"
                                         data-ng-hide="SmsComposeCtrl.message.maxLengthReached">
                                        <span data-translate="sms_sms_compose_message_characters_left"></span>
                                        <strong data-ng-bind="SmsComposeCtrl.message.remainingCharacters"></strong>&nbsp;/&nbsp;<span data-ng-bind="SmsComposeCtrl.message.defaultSize"></span>
                                        <i class="ovh-font ovh-font-filled-warning normal text-warning"
                                           data-ng-if="SmsComposeCtrl.message.coding === '8bit'"
                                           data-uib-tooltip="{{ ::'sms_sms_compose_message_characters_left_warning_8bit' | translate }}"
                                           data-tooltip-placement="left"
                                           data-tooltip-append-to-body="true">
                                        </i>
                                        <br />
                                        <span data-translate="sms_sms_compose_message_equivalent"></span>
                                        <strong data-ng-bind="SmsComposeCtrl.message.equivalence"></strong>
                                        <span data-translate="sms_sms_compose_message_sms"></span>
                                    </div><!-- .telecom-sms-sms-compose-message-info -->
                                    <div class="alert alert-danger top-space-m16" role="alert"
                                         data-ng-show="SmsComposeCtrl.message.maxLengthReached">
                                         <i class="ovh-font ovh-font-filled-error"></i>
                                        <p data-translate="sms_sms_compose_message_alert_maxlength"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" data-ng-hide="SmsComposeCtrl.isVirtualNumber()">
                            <div class="lh22" data-ng-hide="SmsComposeCtrl.advice">
                                <p>
                                    <span data-translate="sms_sms_compose_message_stop_info_start"></span>
                                    <i class="ovh-font ovh-font-question"
                                       data-uib-tooltip="{{ ::'sms_sms_compose_message_stop_info_tooltip' | translate }}">
                                    </i>
                                    <span data-translate="sms_sms_compose_message_stop_info_end"></span>
                                </p>
                                <p data-translate="sms_sms_compose_message_stop_description"></p>
                            </div>
                            <div class="lh22" data-ng-show="SmsComposeCtrl.advice">
                                <strong class="text-uppercase" data-translate="sms_sms_compose_message_advice_title"></strong>
                                <p data-translate="sms_sms_compose_message_advice_info"></p>
                                <p>
                                    <span data-translate="sms_sms_compose_message_advice_description_1"></span>
                                    <a href="#"
                                       data-ui-sref="telecom.sms.senders"
                                       data-translate="sms_sms_compose_message_advice_description_2">
                                    </a>
                                    <span data-translate="sms_sms_compose_message_advice_description_3"></span>
                                </p>
                            </div>
                            <flat-checkbox data-ng-if="!SmsComposeCtrl.advice">
                                <input
                                    type="checkbox"
                                    name="noStopClause"
                                    id="noStopClause"
                                    data-ng-model="SmsComposeCtrl.sms.noStopClause"
                                    data-ng-change="SmsComposeCtrl.computeRemainingChar()" />
                            </flat-checkbox>
                            <label for="noStopClause" class="inline pointer"
                                   data-ng-if="!SmsComposeCtrl.advice"
                                   data-translate="sms_sms_compose_no_stop_clause_label">
                            </label>
                        </div>
                    </section>

                    <!-- MORE OPTIONS -->
                    <div class="form-group">
                        <button
                            type="button"
                            class="btn btn-sm btn-link no-style space-p0 telecom-link"
                            data-ng-click="SmsComposeCtrl.moreOptions = !SmsComposeCtrl.moreOptions">
                            <i class="ovh-font" data-ng-class="{
                                'ovh-font-disclosure-right': !SmsComposeCtrl.moreOptions,
                                'ovh-font-disclosure-down': SmsComposeCtrl.moreOptions
                            }" aria-hidden="true"></i>
                            <span data-translate="sms_sms_compose_more_options"></span>
                        </button>

                        <div class="top-space-m20" data-ng-show="SmsComposeCtrl.moreOptions">
                            <div class="row bottom-space-m20">
                                <div class="col-xs-12 col-md-6">
                                    <label class="block bottom-space-m12 pointer">
                                        <flat-radio>
                                            <input
                                                type="radio"
                                                name="differedPeriod"
                                                id="instant"
                                                data-ng-value="false"
                                                data-ng-model="SmsComposeCtrl.sms.differedPeriod" />
                                        </flat-radio>
                                        <span class="left-space-m8"
                                              data-translate="sms_sms_compose_differed_period_instant">
                                        </span>
                                    </label>
                                    <label class="block bottom-space-m12 pointer">
                                        <flat-radio>
                                            <input
                                                type="radio"
                                                name="differedPeriod"
                                                id="delayed"
                                                data-ng-value="true"
                                                data-ng-model="SmsComposeCtrl.sms.differedPeriod" />
                                        </flat-radio>
                                        <span class="left-space-m8"
                                              data-translate="sms_sms_compose_differed_period_delayed">
                                        </span>
                                    </label>
                                    <div data-ng-show="SmsComposeCtrl.sms.differedPeriod">
                                        <div class="bottom-space-m12"
                                             data-flat-input-container>
                                            <label for="delayedDate"
                                                   class="control-label"
                                                   data-translate="sms_sms_compose_differed_period_date_label">
                                            </label>
                                            <div class="input-group date-picker-input">
                                                <input
                                                    type="text"
                                                    name="delayedDate"
                                                    id="delayedDate"
                                                    class="form-control input-block"
                                                    data-ng-model="SmsComposeCtrl.picker.date"
                                                    data-min-date="SmsComposeCtrl.picker.minDate"
                                                    data-is-open="SmsComposeCtrl.picker.dateOpened"
                                                    data-uib-datepicker-popup="dd/MM/yyyy"
                                                    data-datepicker-options="SmsComposeCtrl.picker.options"
                                                    data-show-button-bar="false"
                                                    data-current-text="{{ ::'today' | translate }}"
                                                    data-clear-text="{{ ::'reset' | translate }}"
                                                    data-close-text="{{ ::'close' | translate }}"
                                                    data-ng-focus="SmsComposeCtrl.openDatePicker($event)"
                                                    data-ng-required="SmsComposeCtrl.sms.differedPeriod"
                                                    data-translate-attr="{ placeholder: 'sms_sms_compose_differed_period_date_placeholder' }" />
                                                <span class="input-group-btn">
                                                    <button
                                                        type="button"
                                                        class="btn btn-link btn-xs"
                                                        data-ng-click="SmsComposeCtrl.openDatePicker($event)">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                            <div role="alert"
                                                 data-ng-if="sendSmsForm.delayedDate.$dirty"
                                                 data-ng-messages="sendSmsForm.delayedDate.$error">
                                                <p class="text-danger"
                                                   data-ng-message="required"
                                                   data-translate="sms_sms_compose_differed_period_date_error_required">
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <label id="delayedTime"
                                                   class="control-label"
                                                   data-translate="sms_sms_compose_differed_period_time_label">
                                            </label>
                                            <div data-uib-timepicker
                                                 data-ng-model="SmsComposeCtrl.picker.time"
                                                 data-hour-step="1"
                                                 data-minute-step="1"
                                                 data-show-meridian="false">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-8">
                                    <label for="class"
                                           class="control-label"
                                           data-translate="sms_sms_compose_class_label">
                                    </label>
                                    <select
                                        name="class"
                                        id="class"
                                        class="form-control"
                                        required
                                        data-flat-select
                                        data-ng-model="SmsComposeCtrl.sms.class"
                                        data-ng-options="class as ('sms_sms_compose_class_' + class | translate) for class in SmsComposeCtrl.enums.smsClass">
                                    </select>
                                </div>
                            </div>

                            <div class="alert alert-info top-space-m20"
                                 role="alert"
                                 data-ng-if="SmsComposeCtrl.sms.class">
                                <i class="ovh-font ovh-font-filled-info"></i>
                                <p data-ng-bind="'sms_sms_compose_class_info_' + SmsComposeCtrl.sms.class | translate"></p>
                            </div>
                        </div>
                    </div>

                    <!-- ESTIMATION CREDIT REMAINING -->
                    <div class="form-group"
                         data-ng-if="(SmsComposeCtrl.receivers.count > 0 || SmsComposeCtrl.phonebooks.lists.length) && !SmsComposeCtrl.message.maxLengthReached">
                        <h3 data-translate="sms_sms_compose_message_info_estimation_title"></h3>
                        <ul class="list-unstyled">
                            <li>
                                <span data-translate="sms_sms_compose_message_info_estimation_receivers_selected"></span>
                                <strong data-ng-bind="(SmsComposeCtrl.receivers.records + SmsComposeCtrl.phonebooks.lists.length + (SmsComposeCtrl.sms.receivers ? 1 : 0)) | number:0"></strong>
                            </li>
                            <li>
                                <span data-translate="sms_sms_compose_message_info_estimation_credits_left"></span>
                                <strong data-ng-bind="SmsComposeCtrl.service.creditsLeft | number"></strong>
                            </li>
                            <li>
                                <span data-translate="sms_sms_compose_message_info_estimation_credit_remaining"></span>
                                <strong data-ng-bind="SmsComposeCtrl.getEstimationCreditRemaining()"></strong>
                            </li>
                        </ul>
                        <span class="text-info">
                            <i class="ovh-font ovh-font-info" aria-hidden="true"></i>
                            <span data-translate="sms_sms_compose_message_info_estimation_note_1"></span>
                            <a href="https://www.ovhtelecom.fr/sms/tarifs.xml"
                               class="telecom-link"
                               target="_blank"
                               data-translate-attr="{ title: 'common_open_new_tab' }">
                               <span data-translate="sms_sms_compose_message_info_estimation_note_2"></span>
                               <i class="ovh-font ovh-font-newtab" aria-hidden="true"></i>
                            </a>
                            <p data-translate="sms_sms_compose_message_info_estimation_note_3"></p>
                        </span>
                    </div>

                    <!-- SEND -->
                    <div class="form-group form-group-footer-actions">
                        <button
                            type="submit"
                            class="btn btn-primary"
                            data-ng-disabled="sendSmsForm.$invalid ||
                                              SmsComposeCtrl.service.creditsLeft === 0 ||
                                              SmsComposeCtrl.loading.send">
                            <span data-translate="sms_sms_compose_send"></span>
                            <spinner class="left-space-m16"
                                     data-ng-if="SmsComposeCtrl.loading.send">
                            </spinner>
                        </button>
                        <button
                            type="button"
                            class="btn btn-default"
                            data-ng-click="SmsComposeCtrl.cancel(sendSmsForm)"
                            data-ng-disabled="SmsComposeCtrl.loading.send"
                            data-translate="cancel">
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</section>
