<section class="telecom-telephony-line-management-domain">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line"
                           section-back-link-title="{{ 'telephony_group_line_section_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_line_management_sip_domain_title"></h1>
    </header>

    <bouncing-box-loader data-ng-if="DomainCtrl.loading.init">
        <h3 class="top-space-m16"
            data-translate="loading">
        </h3>
    </bouncing-box-loader>

    <div class="telecom-section-content"
         data-ng-if="!DomainCtrl.loading.init">

        <div class="row">

            <!-- CURRENT LINE SIP DOMAIN -->
            <section class="col-xs-12 col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_line_management_sip_domain_line_title">
                    </h2>
                </header>

                <div class="alert alert-info"
                     role="alert">
                     <i class="ovh-font ovh-font-filled-info"></i>
                    <p data-translate="telephony_line_management_sip_domain_line_info"></p>
                </div>

                <bouncing-box-loader data-ng-if="DomainCtrl.loading.saveLine">
                    <h3 class="top-space-m16"
                        data-translate="telephony_line_management_sip_domain_save_loading">
                    </h3>
                </bouncing-box-loader>

                <!-- CONSULT MODE -->
                <div data-ng-if="!DomainCtrl.model.lineSipEdit && !DomainCtrl.loading.saveLine">

                    <dl class="dl-telecom"
                        data-ng-if="!DomainCtrl.model.lineSipEdit">
                        <dt data-translate="telephony_line_management_sip_domain_line_registered"></dt>
                        <dd data-ng-bind="DomainCtrl.line.options.domain"></dd>
                    </dl>

                    <button type="button"
                            class="btn btn-primary"
                            data-translate="telephony_line_management_sip_domain_line_edit_button"
                            data-ng-click="DomainCtrl.startLineDomainEdit()">
                    </button>

                </div> <!-- CONSULT MODE -->

                <!-- EDIT MODE -->
                <form class="ovh-form-flat"
                      name="lineSipDomainForm"
                      data-ng-submit="DomainCtrl.validateLineDomain()"
                      data-ng-if="DomainCtrl.model.lineSipEdit && !DomainCtrl.loading.saveLine"
                      novalidate>

                    <label for="line-domain-select"
                           data-translate="telephony_line_management_sip_domain_line_registered">
                    </label>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <select data-flat-select
                                    class="form-control col-xs-6"
                                    id="line-domain-select"
                                    name="lineDomain"
                                    data-ng-model="DomainCtrl.line.options.domain"
                                    data-ng-options="domain as domain for domain in DomainCtrl.availableSipDomains.line">
                            </select>
                        </div>
                    </div>

                    <footer class="row top-space-m16 clearfix bottom-space-m32">
                        <div class="col-xs-12">
                            <button type="submit"
                                    class="btn btn-primary"
                                    data-ng-disabled="DomainCtrl.loading.saveLine || !DomainCtrl.line.hasChange('options.domain')"
                                    data-translate="telephony_line_management_sip_domain_save_button">
                            </button>

                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-click="DomainCtrl.cancelLineDomainEdit()"
                                    data-ng-disabled="DomainCtrl.loading.saveLine"
                                    data-translate="cancel">
                            </button>
                        </div>
                    </footer>

                </form> <!-- EDIT MODE -->

            </section> <!-- CURRENT LINE SIP DOMAIN -->

            <!-- CLIENT SIP DOMAIN -->
            <section class="col-xs-12 col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_line_management_sip_domain_client_title">
                    </h2>
                </header>

                <div class="alert alert-info"
                     role="alert">
                     <i class="ovh-font ovh-font-filled-info"></i>
                    <p data-translate="telephony_line_management_sip_domain_client_info"></p>
                </div>

                <bouncing-box-loader data-ng-if="DomainCtrl.loading.saveClient">
                    <h3 class="top-space-m16"
                        data-translate="telephony_line_management_sip_domain_save_loading">
                    </h3>
                </bouncing-box-loader>

                <!-- CONSULT MODE -->
                <div data-ng-if="!DomainCtrl.model.clientSipEdit && !DomainCtrl.loading.saveClient">

                    <dl class="dl-telecom">
                        <dt data-ng-repeat-start="domain in DomainCtrl.availableSipDomains.client track by $index"
                            data-translate="telephony_line_management_sip_domain_client_country"
                            data-translate-values="{ country: domain.country }">
                        </dt>
                        <dd data-ng-repeat-end
                            data-ng-bind="domain.currentDomain">
                        </dd>
                    </dl>

                    <button type="button"
                            class="btn btn-primary"
                            data-translate="telephony_line_management_sip_domain_client_edit_button"
                            data-ng-click="DomainCtrl.model.clientSipEdit = true">
                    </button>

                </div> <!-- CONSULT MODE -->

                <!-- EDIT MODE -->
                <form class="ovh-form-flat"
                      name="clientSipDomainForm"
                      data-ng-submit="DomainCtrl.validateClientDomain()"
                      data-ng-if="DomainCtrl.model.clientSipEdit && !DomainCtrl.loading.saveClient"
                      novalidate>

                    <div data-ng-repeat="domain in DomainCtrl.availableSipDomains.client track by $index"
                         class="bottom-space-m8">
                        <label for="client-domain-select-{{ domain.country }}"
                               data-translate="telephony_line_management_sip_domain_client_country"
                               data-translate-values="{ country: domain.country }">
                        </label>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <select data-flat-select
                                        class="form-control col-xs-6"
                                        id="client-domain-select-{{ domain.country }}"
                                        data-ng-name="{{ 'clientDomain' + domain.country }}"
                                        data-ng-model="domain.currentDomain"
                                        data-ng-options="domainItem as domainItem for domainItem in domain.list">
                                </select>
                            </div>
                        </div>
                    </div>

                    <footer class="row top-space-m16 clearfix bottom-space-m32">
                        <div class="col-xs-12">
                            <button type="submit"
                                    class="btn btn-primary"
                                    data-ng-disabled="DomainCtrl.loading.saveClient || !DomainCtrl.hasClientDomainChange()"
                                    data-translate="telephony_line_management_sip_domain_save_button">
                            </button>

                            <button type="button"
                                    class="btn btn-default"
                                    data-ng-click="DomainCtrl.cancelClientDomainEdit()"
                                    data-ng-disabled="DomainCtrl.loading.saveClient"
                                    data-translate="cancel">
                            </button>
                        </div>
                    </footer>

                </form> <!-- EDIT MODE -->

            </section> <!-- CLIENT SIP DOMAIN -->

        </div>

    </div>

</section>
