<div class="telephony-alias-consumption">
    <div class="row main-actions-container">
        <tuc-telecom-v4-link class="col-xs-12 col-md-6"
                         data-ng-repeat="action in AliasConsumptionCtrl.actions | filter : { main: 'true' } track by $index"
                         data-action="action">
        </tuc-telecom-v4-link>
    </div>

    <div class="row">
        <tuc-telecom-v4-link class="col-xs-12 col-md-4"
                         data-ng-repeat="action in AliasConsumptionCtrl.actions | filter : { main: '!true' } track by $index"
                         data-action="action">
        </tuc-telecom-v4-link>
    </div>
</div>
<!-- /.telephony-alias-consumption -->
