<div class="row telephony-alias-consumption">
    <div class="col-xs-12">
      <div class="row main-actions-container">
        <telecom-v4-link class="col-xs-12 col-md-6"
                      data-ng-repeat="action in AliasConsumptionCtrl.actions | filter : {main:'true'} track by $index"
                      data-action="action">
        </telecom-v4-link>
      </div>

      <div class="row">
        <telecom-v4-link class="col-xs-12 col-md-4"
                      data-ng-repeat="action in AliasConsumptionCtrl.actions | filter : {main:'!true'} track by $index"
                      data-action="action">
        </telecom-v4-link>
      </div>
    </div>
</div>
