<section>

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.administration"
                           section-back-link-title="{{:: 'telephony_group_admin_group_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_add_group_title"></h1>
    </header>

    <div class="text-center" data-ng-if="AddGroupCtrl.loading">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!AddGroupCtrl.loading">

        <toast-message></toast-message>

        <div class="row">
            <div class="col-md-6 mb-5">

                <div data-ng-if="!AddGroupCtrl.order">
                    <p class="alert alert-info"
                       role="alert"
                       data-translate="telephony_add_group_infos">
                    </p>
                    <p data-translate="telephony_add_group_contracts"></p>
                    <div data-contracts="AddGroupCtrl.contracts"
                         data-full-text="true"
                         data-contracts-validated="AddGroupCtrl.contractsAccepted">
                    </div>
                    <button type="button"
                            class="btn btn-primary"
                            data-ng-disabled="!AddGroupCtrl.contractsAccepted || AddGroupCtrl.ordering"
                            data-ng-click="AddGroupCtrl.orderGroup()">
                        <oui-spinner class="mr-2"
                                     data-ng-if="AddGroupCtrl.ordering"
                                     data-size="s">
                        </oui-spinner>
                        <span data-translate="telephony_add_group_order"></span>
                        <span>({{ AddGroupCtrl.getDisplayedPrice() }})</span>
                    </button>
                </div>

                <div data-ng-if="AddGroupCtrl.order">
                    <p>
                        <i class="ovh-font ovh-font-success text-success h3 mb-0 mr-2"></i>
                        <span data-translate="telephony_add_group_success"></span>
                    </p>
                    <p>
                        <span data-translate="telephony_add_group_success_bc"></span>
                        <a target="_blank"
                           rel="noopener"
                           data-ng-href="{{ AddGroupCtrl.order.url }}">
                            <span data-translate="telephony_add_group_success_bc2"></span>
                            <i class="fa fa-external-link"></i>
                        </a>
                        .
                    </p>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.telecom-section-content -->

</section>
