<section>

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.administration"
                           section-back-link-title="{{:: 'telephony_group_admin_group_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_add_group_title"></h1>
    </header>

    <div class="telecom-section-content">

        <div data-ng-if="AddGroupCtrl.loading">
            <bouncing-box-loader>
                <h2 class="top-space-m16" data-translate="loading"></h2>
            </bouncing-box-loader>
        </div>

        <div class="row telecom-telephony-addGroup" data-ng-if="!AddGroupCtrl.loading">

            <div class="col-md-6 bottom-space-m32">
                <div data-ng-if="!AddGroupCtrl.order">
                    <p class="alert alert-info">
                        <i class="ovh-font ovh-font-info" aria-hidden="true"></i>
                        <span data-translate="telephony_add_group_infos"></span>
                    </p>
                    <p class="top-space-m32" data-translate="telephony_add_group_contracts"></p>
                    <div data-contracts="AddGroupCtrl.contracts"
                         data-full-text="true"
                         data-contracts-validated="AddGroupCtrl.contractsAccepted">
                    </div>
                    <button type="button"
                            class="btn btn-sm btn-primary no-transition"
                            data-ng-disabled="!AddGroupCtrl.contractsAccepted || AddGroupCtrl.ordering"
                            data-ng-click="AddGroupCtrl.orderGroup()">
                        <span data-translate="telephony_add_group_order"></span>
                        <span>({{ AddGroupCtrl.getDisplayedPrice() }})</span>
                        <spinner class="left-space-m4" data-ng-if="AddGroupCtrl.ordering"></span>
                    </button>
                </div>
                <div data-ng-if="AddGroupCtrl.order">
                    <p>
                        <i class="ovh-font ovh-font-success text-success fs16"></i>
                        <span data-translate="telephony_add_group_success"></span>
                    </p>
                    <p>
                        <span data-translate="telephony_add_group_success_bc"></span>
                        <a target="_blank" data-ng-href="{{ AddGroupCtrl.order.url }}">
                            <span data-translate="telephony_add_group_success_bc2"></span>
                            <i class="fa fa-external-link"></i>
                        </a>
                        .
                    </p>
                </div>
            </div>

        </div><!-- row -->

    </div><!-- section content -->

</section>
