<form name="bridgeForm" class="ovh-form-flat">
    <div class="form-group">
        <flat-checkbox data-ng-hide="BridgeCtrl.mediator.tasks.changeModemConfigBridgeMode">
            <input type="checkbox"
                id="bridgeMode"
                name="bridgeMode"
                class="form-control"
                data-ng-model="BridgeCtrl.isBridged"
                data-ng-disabled="!BridgeCtrl.mediator.capabilities.canChangeBridgeMode"
                data-ng-really-click="BridgeCtrl.changeBridgeMode()"
                data-ng-really-undo="BridgeCtrl.undo()"
                data-ng-really-message="{{ BridgeCtrl.isBridged ? 'xdsl_modem_bridge_really_on' : 'xdsl_modem_bridge_really_off' | translate }}
                                        <div class='text-warning'>{{ 'xdsl_modem_bridge_mode_warning' | translate }}</div>"
                data-ng-really-confirm="{{ 'ok' | translate }}"
                data-ng-really-cancel="{{ 'cancel' | translate }}"
                data-ng-really-window-class="revert-really-buttons">
        </flat-checkbox>
        <div data-ng-if="BridgeCtrl.mediator.tasks.changeModemConfigBridgeMode">
            <spinner></spinner>
            <label data-ng-if="BridgeCtrl.isBridged" for="bridgeMode" data-translate="xdsl_modem_bridge_mode_success_validation_on"></label>
            <label data-ng-if="!BridgeCtrl.isBridged" for="bridgeMode" data-translate="xdsl_modem_bridge_mode_success_validation_off"></label>
        </div>
        <label data-ng-if="!BridgeCtrl.mediator.tasks.changeModemConfigBridgeMode"
            class="pointer"
            for="bridgeMode"
            data-translate="xdsl_modem_bridge_mode_status">
        </label>
    </div>

</form>
