<form name="abbreviatedNumberForm"
      id="abbreviatedNumberForm"
      class="import-abbr"
      data-ng-submit="AbbreviatedNumberModal.send()">

    <div class="modal-header">
        <button type="button"
                class="close float-right"
                aria-label="{{:: 'cancel' | translate }}"
                data-ng-click="AbbreviatedNumberModal.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div data-ng-if="!AbbreviatedNumberModal.importing">

        <div class="modal-body">

            <h3 data-translate="telephony_abbreviated_numbers_import_modal_tile"></h3>

            <div class="form-group">
                    <input-file data-ng-model="AbbreviatedNumberModal.uploadedFile"
                                data-change="AbbreviatedNumberModal.loadCsv(file)"
                                data-ng-accept="text/csv">
                        <i class="fa fa-upload mr-1"></i>
                        <span data-translate="telephony_abbreviated_numbers_import_button_label"></span>
                    </input-file>
                    <div class="alert alert-danger mt-2"
                         data-ng-if="AbbreviatedNumberModal.errorLoading"
                         role="alert">
                        <p data-ng-bind="AbbreviatedNumberModal.errorLoading"></p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <table class="table table-hover table-striped"
                       data-ng-if="AbbreviatedNumberModal.sample.length">
                    <thead>
                        <tr>
                            <th scope="col" data-translate="telephony_abbreviated_numbers_id"></th>
                            <th scope="col" data-translate="telephony_abbreviated_numbers_number"></th>
                            <th scope="col" data-translate="telephony_abbreviated_numbers_name"></th>
                            <th scope="col" data-translate="telephony_abbreviated_numbers_surname" class="text-left" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="abbreviated in AbbreviatedNumberModal.paginatedSample">
                            <td>
                                <span data-ng-if="abbreviated.isValid"
                                      data-ng-class="{'text-danger': !abbreviated.abbreviatedNumber.isValid}"
                                      data-ng-bind="abbreviated.abbreviatedNumber.value"></span>
                                <del data-ng-if="!abbreviated.isValid"
                                     data-ng-class="{'text-danger': !abbreviated.abbreviatedNumber.isValid}"
                                     data-ng-bind="abbreviated.abbreviatedNumber.value"></del>
                            </td>
                            <td>
                                <span data-ng-if="abbreviated.isValid"
                                      data-ng-class="{'text-danger': !abbreviated.destinationNumber.isValid}"
                                      data-ng-bind="abbreviated.destinationNumber.value"></span>
                                <del data-ng-if="!abbreviated.isValid"
                                     data-ng-class="{'text-danger': !abbreviated.destinationNumber.isValid}"
                                     data-ng-bind="abbreviated.id.value"></del>
                            </td>
                            <td>
                                <span data-ng-if="abbreviated.isValid"
                                      data-ng-class="{'text-danger': !abbreviated.name.isValid}"
                                      data-ng-bind="abbreviated.name.value"></span>
                                <del data-ng-if="!abbreviated.isValid"
                                     data-ng-class="{'text-danger': !abbreviated.name.isValid}"
                                     data-ng-bind="abbreviated.name.value"></del>
                            </td>
                            <td>
                                <span data-ng-if="abbreviated.isValid"
                                      data-ng-class="{'text-danger': !abbreviated.surname.isValid}"
                                      data-ng-bind="abbreviated.surname.value"></span>
                                <del data-ng-if="!abbreviated.isValid"
                                     data-ng-class="{'text-danger': !abbreviated.surname.isValid}"
                                     data-ng-bind="abbreviated.surname.value"></del>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-1"
                     data-ng-show="AbbreviatedNumberModal.sample > AbbreviatedNumberModal.paginatedSample"
                     data-pagination-front
                     data-go-to-page="false"
                     data-items="AbbreviatedNumberModal.sample"
                     data-paginated-items="AbbreviatedNumberModal.paginatedSample"
                     data-items-per-page="AbbreviatedNumberModal.perPage"
                     data-page-placeholder="{{ 'common_pagination_go_to_page' | translate }}"
                     data-item-per-page-placeholder="{{'common_pagination_show_by_page' |translate }}">
                </div>
            </div>

        </div>
    </div>

     <div class="modal-body"
          data-ng-if="AbbreviatedNumberModal.loading.getFile && !AbbreviatedNumberModal.errorLoading">
        <div class="text-center">
            <oui-spinner></oui-spinner> 
        </div>
    </div>

    <div class="modal-body"
         data-ng-if="AbbreviatedNumberModal.loading.getFile && !AbbreviatedNumberModal.errorLoading">
        <uib-progressbar class="progress-striped"
                         max="AbbreviatedNumberModal.total"
                         value="AbbreviatedNumberModal.progress">
        </uib-progressbar>
    </div>

    <div class="modal-body"
         data-ng-if="AbbreviatedNumberModal.importing">
        <uib-progressbar class="progress-striped"
                         max="AbbreviatedNumberModal.total"
                         value="AbbreviatedNumberModal.progress">
            {{AbbreviatedNumberModal.progress}}
        </uib-progressbar>
        <div>
            <span data-translate="telephony_abbreviated_numbers_import_item_imported"></span>
            <span data-ng-bind="AbbreviatedNumberModal.imported.length"><span>
        </div>
        <div class="alert alert-danger mt-2"
             data-ng-if="AbbreviatedNumberModal.rejected"
             role="alert">
            <span data-translate="telephony_abbreviated_numbers_import_item_rejected"></span>
            <span data-ng-bind="AbbreviatedNumberModal.rejected"><span>
        </div>
    </div>

    <div class="modal-footer"
         data-ng-if="!AbbreviatedNumberModal.done">
        <button
            type="reset"
            class="btn btn-default"
            data-ng-disabled="AbbreviatedNumberModal.importing"
            data-ng-click="AbbreviatedNumberModal.cancel()"
            data-translate="cancel">
        </button>
        <button
            type="submit"
            class="btn btn-primary"
            data-ng-disabled="AbbreviatedNumberModal.importing || !AbbreviatedNumberModal.canImport"
            data-translate="submit"
            data-ng-disabled="abbreviatedNumberForm.$invalid">
        </button>
    </div>

    <div class="modal-footer"
         data-ng-if="AbbreviatedNumberModal.done">
        <button
            type="button"
            class="btn btn-primary"
            data-ng-click="AbbreviatedNumberModal.close()"
            data-translate="close"
            data-ng-disabled="abbreviatedNumberForm.$invalid">
        </button>
    </div>

</form>
