<div class="telephony-number-conference">

    <!-- CONFERENCE BLOCK -->
    <div class="anchor-container anchor-rectangle clearfix">
        <div class="anchor-wrapper pull-left">
            <div class="anchor"
                 data-jsplumb-endpoint>
                <i data-ng-class="{
                       'ovh-font ovh-font-contacts': !$ctrl.numberCtrl.loading.save,
                       'fa fa-spinner fa-pulse': $ctrl.numberCtrl.loading.save
                   }"
                   data-jsplumb-connection
                   data-jsplumb-connection-target="incoming-call-{{ $ctrl.numberCtrl.number.serviceName }}">
                </i>
                <span class="sr-only" data-translate="telephony_number_feature_conference"></span>
            </div>
            <div class="anchor-content">
                <span class="content-label block"
                      data-translate="telephony_number_feature_conference">
                </span>
            </div>

            <div class="anchor-actions">
                <button type="button"
                        class="btn btn-link btn-feature-actions"
                        data-ng-click="$ctrl.togglePopover()"
                        data-translate-attr="{ title: 'telephony_number_feature_conference_edit' }"
                        data-responsive-popover="'components/telecom/telephony/group/number/feature/conference/telephony-group-number-feature-conference-configuration.html'"
                        data-popover-placement="right"
                        data-popover-append-to-body="true"
                        data-popover-class="pretty-popover telephony-number-feature-popover telephony-number-conference-config-popup"
                        data-popover-is-open="$ctrl.popoverOpen">
                    <i class="ovh-font ovh-font-config" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="telephony-number-conference-actions top-space-m8 clearfix"
             data-ng-if="$ctrl.numberCtrl.number.feature.hasParticipants()">
            <div class="telephony-number-conference-actions-item left-space-m16">
                <button
                    type="button"
                    class="no-style"
                    data-ng-click="$ctrl.setLockStatus(false)"
                    data-translate-attr="{ 'title': 'telephony_number_feature_conference_general_unlock' }">
                    <i class="ovh-font ovh-font-lockOpened fs20" aria-hidden="true"></i>
                </button>
                <flat-switch class="inline-block vertical-middle">
                    <input type="checkbox"
                           data-ng-model="$ctrl.model.lockState"
                           data-ng-change="$ctrl.toggleLockStatus()" />
                </flat-switch>
                <button
                    type="button"
                    class="no-style"
                    data-ng-click="$ctrl.setLockStatus(true)"
                    data-translate-attr="{ 'title': 'telephony_number_feature_conference_general_lock' }">
                    <i class="ovh-font ovh-font-lock fs20" aria-hidden="true"></i>
                </button>
            </div>
            <div class="telephony-number-conference-actions-item left-space-m16">
                <button
                    type="button"
                    class="no-style"
                    data-ng-click="$ctrl.setMuteAll(false)"
                    data-translate-attr="{ 'title': 'telephony_number_feature_conference_general_unmute_all_members' }">
                    <i class="ovh-font ovh-font-microphone fs20" aria-hidden="true"></i>
                </button>
                <flat-switch class="inline-block vertical-middle">
                    <input type="checkbox"
                           data-ng-model="$ctrl.model.muteAllState"
                           data-ng-change="$ctrl.toggleMuteAll()" />
                </flat-switch>
                <button
                    type="button"
                    class="no-style"
                    data-ng-click="$ctrl.setMuteAll(true)"
                    data-translate-attr="{ 'title': 'telephony_number_feature_conference_general_mute_all_members' }">
                    <i class="ovh-font ovh-font-microphoneOff fs20" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div> <!-- CONFERENCE BLOCK -->

    <!-- FEATURE IS LOADING -->
    <div class="anchor-container anchor-loading anchor-point-x2"
         data-ng-if="$ctrl.numberCtrl.loading.feature || $ctrl.numberCtrl.loading.save">
        <div class="anchor"
             data-jsplumb-endpoint
             data-jsplumb-endpoint-uuid="redirect-loading">
            <i class="fa fa-spinner fa-pulse"
               data-jsplumb-connection
               data-jsplumb-connection-target="incoming-call-{{ $ctrl.numberCtrl.number.serviceName }}">
            </i>
        </div>
        <div class="anchor-content service-presentation">
            <span class="service-label"
                  data-translate="{{ $ctrl.numberCtrl.loading.save ? 'telephony_number_save_doing' : 'loading' }}">
            </span>
        </div>
    </div> <!-- FEATURE IS LOADING -->

    <!-- NO PARTICIPANTS -->
    <div class="participants-list"
         data-ng-if="!$ctrl.numberCtrl.loading.feature && !$ctrl.numberCtrl.number.feature.participants.length">
        <div class="anchor-group-container">
            <div class="anchor-container anchor-point-x2 disabled">
                <div class="anchor"
                     data-jsplumb-endpoint="$ctrl.numberCtrl.jsPlumbEndpointsOptions.topLeft"
                     data-jsplumb-endpoint-uuid="conference-participant-empty">
                    <i class="ovh-font ovh-font-forbidUser"
                        data-jsplumb-connection
                        data-jsplumb-connection-target="incoming-call-{{ $ctrl.numberCtrl.number.serviceName }}">
                    </i>
                </div>
                <div class="anchor-content service-presentation"
                     data-translate="telephony_number_feature_conference_participants_emprty">
                </div>
            </div>
        </div>
     </div>
    <!-- PARTICIPANTS -->
    <div class="participants-list"
         data-ng-if="!$ctrl.numberCtrl.loading.feature && $ctrl.numberCtrl.number.feature.participants.length">
        <div class="anchor-group-container"
             data-ng-repeat="participant in $ctrl.numberCtrl.number.feature.participants track by participant.id">

            <div class="anchor-container anchor-point-x2"
                 data-ng-class="{ disabled: !participant.hear || !participant.speak }">

                <div class="anchor"
                     data-jsplumb-endpoint="$ctrl.numberCtrl.jsPlumbEndpointsOptions.topLeft"
                     data-jsplumb-endpoint-uuid="conference-participant-{{ participant.id }}">
                    <i class="ovh-font ovh-font-user"
                        data-jsplumb-connection
                        data-jsplumb-connection-target="incoming-call-{{ $ctrl.numberCtrl.number.serviceName }}">
                    </i>
                </div>

                <div class="anchor-content service-presentation">
                    <span class="service-label"
                          data-ng-bind="participant.callerName">
                    </span>
                    <span class="service-number"
                          data-translate="telephony_number_feature_conference_participants_connected_since"
                          data-translate-values="{ date: $ctrl.connectedSince(participant) }">
                    </span>
                </div>

                <div class="anchor-actions">
                    <button class="participant-actions"
                            type="button"
                            data-ng-click="$ctrl.manageSound = false;"
                            data-responsive-popover="'components/telecom/telephony/group/number/feature/conference/partiticipant/telephony-group-number-feature-conference-participant-actions.html'"
                            data-popover-placement="bottom-right"
                            data-popover-append-to-body="true"
                            data-popover-class="ovh-angular-actions-menu telephony-number-conference-participant-actions-menu"
                            data-popover-trigger="outsideClick">
                        <i class="ovh-font ovh-font-dots" aria-hidden="true"></i>
                        <span class="sr-only" data-translate="common_actions"></span>
                    </button>

                    <i class="ovh-font ovh-font-speaker left-space-m8 vertical-middle"
                       aria-hidden="true"
                       data-ng-if="participant.talking"
                       data-translate-attr="{ title: 'telephony_number_feature_conference_participants_state_talking' }">
                    </i>

                    <i class="fa fa-deaf left-space-m8 vertical-middle"
                       aria-hidden="true"
                       data-ng-if="!participant.hear"
                       data-translate-attr="{ title: 'telephony_number_feature_conference_participants_state_deaf' }">
                    </i>

                    <i class="ovh-font ovh-font-noneSpeaker left-space-m8 vertical-middle"
                       aria-hidden="true"
                       data-ng-if="!participant.speak"
                       data-translate-attr="{ title: 'telephony_number_feature_conference_participants_state_muted' }">
                    </i>
                </div>
            </div> <!-- PARTICIPANTS -->

        </div>

    </div>

</div>
<!-- /.telephony-number-conference -->
