<div class="pack-contract-modal">
    <h1 class="modal-header" data-translate="xdsl_access_deconsolidation_contract_title"></h1>
    <bouncing-box-loader class="top-space-m20" data-ng-if="XdslDeconsolidationContract.loading">
        <h3 class="top-space-m16"
            data-translate="loading">
        </h3>
    </bouncing-box-loader>

    <div class="modal-body" data-ng-if="!XdslDeconsolidationContract.loading">
        <p>
            <span data-translate="xdsl_access_deconsolidation_contract_are_you_sure"></span>
            <strong class="text-primary" data-translate="xdsl_access_deconsolidation_contract_modification_operation"></strong>
        </p>
        <p data-translate="xdsl_access_deconsolidation_contract_modified"
           data-translate-values="{serviceName: XdslDeconsolidationContract.serviceName}">
        </p>
        <p data-translate="xdsl_access_deconsolidation_contract_price"
           data-translate-values="{ price: XdslDeconsolidationContract.terms.price.text }"
           data-ng-if="XdslDeconsolidationContract.terms.price.value !== 0"
           class="bold">
        </p>
        <p data-translate="xdsl_access_deconsolidation_contract_monthlyPrice"
           data-translate-values="{ price: XdslDeconsolidationContract.terms.monthlyPrice.text }"
           data-ng-if="XdslDeconsolidationContract.isVIP"
           class="bold">
        </p>
        <p data-ng-if="!XdslDeconsolidationContract.rio">
           <span class="ovh-font ovh-font-warning" aria-hidden="true"></span>
           <span class="text-warning bottom-space-m16" data-translate="xdsl_access_deconsolidation_contract_number_not_transferred"></span>
        </p>
        <ul class="list-unstyled">
            <li>
                <flat-checkbox class="right-space-m8">
                    <input
                        type="checkbox"
                        id="desc_agreement1"
                        name="desc_agreement1"
                        class="form-control"
                        data-ng-model="XdslDeconsolidationContract.checkboxSelected1">
                </flat-checkbox>
                <label for="desc_agreement1"
                       data-translate="xdsl_access_deconsolidation_contract_desc_agreement1"
                       data-translate-values="{ engagement : XdslDeconsolidationContract.terms.engagement }">
                </label>
            </li>
            <li>
                <flat-checkbox class="right-space-m8">
                    <input
                        type="checkbox"
                        id="desc_agreement2"
                        name="desc_agreement2"
                        class="form-control"
                        data-ng-model="XdslDeconsolidationContract.checkboxSelected2">
                </flat-checkbox>
                <label for="desc_agreement2" data-translate="xdsl_access_deconsolidation_contract_desc_agreement2"></label>
            </li>
            <li>
                <flat-checkbox class="right-space-m8">
                    <input
                        type="checkbox"
                        id="desc_agreement3"
                        name="desc_agreement3"
                        class="form-control"
                        data-ng-model="XdslDeconsolidationContract.checkboxSelected3">
                </flat-checkbox>
                <label for="desc_agreement3"
                       data-translate="xdsl_access_deconsolidation_contract_desc_agreement3"
                       data-translate-values="{ packAdslPro2013: XdslDeconsolidationContract.packAdslPro2013, packAdslEnterprise2013: XdslDeconsolidationContract.packAdslEnterprise2013 }">
                </label>
            </li>
        </ul>
    </div>
    <div class="modal-footer text-left" role="group">
        <button type="button"
                class="btn btn-default btn-cancel"
                data-ng-disabled="XdslDeconsolidationContract.loading"
                data-ng-click="XdslDeconsolidationContract.cancel()"
                data-translate="cancel">
        </button>
        <button type="submit"
                data-ng-disabled="XdslDeconsolidationContract.loading"
                class="btn btn-primary"
                data-ng-click="XdslDeconsolidationContract.confirm()"
                data-ng-if="
                    XdslDeconsolidationContract.checkboxSelected1 &&
                    XdslDeconsolidationContract.checkboxSelected2 &&
                    XdslDeconsolidationContract.checkboxSelected3"
                data-translate="submit">
        </button>
    </div>
</div>
