<div class="widget-presentation">

    <toast-message></toast-message>

    <!-- REMOTES LIST -->
    <div class="mb-3 clearfix">
        <div class="btn-group float-left mr-3"
             data-uib-dropdown
             data-dropdown-append-to-body>

            <button id="btn-sms-abbreviated-numbers-actions"
                    type="button"
                    class="btn btn-default"
                    data-uib-dropdown-toggle>
                <span class="fa fa-bars" aria-hidden="true"></span>
                <span data-translate="common_actions"></span>
                <span class="ovh-font ovh-font-small-arrow-down" aria-hidden="true"></span>
            </button>

            <ul class="dropdown-menu"
                role="menu"
                aria-labelledby="btn-sms-abbreviated-numbers-actions"
                data-uib-dropdown-menu>
                <li role="menuitem">
                    <i class="ovh-font ovh-font-add-circle mr-2" aria-hidden="true"></i>
                    <button type="button"
                            class="btn btn-link"
                            data-ng-click="$ctrl.add()"
                            data-uib-tooltip="{{ 'telephony_abbreviated_numbers_add_tooltip' | translate}}"
                            data-tooltip-placement="right"
                            data-tooltip-append-to-body="true"
                            data-ng-disabled="$ctrl.loading.init"
                            data-translate="common_add">
                    </button>
                </li>
                <li role="menuitem">
                    <i class="fa fa-download mr-2" aria-hidden="true"></i>
                    <a href="#"
                       class="btn btn-link"
                       data-ng-click="$event.preventDefault()"
                       data-ng-csv="$ctrl.abbreviatedNumbers"
                       data-csv-header="$ctrl.getCsvHeader()"
                       data-csv-column-order="$ctrl.getCsvOrder()"
                       data-ng-disabled="$ctrl.loading.init || !$ctrl.abbreviatedNumbers.length"
                       data-uib-tooltip="{{ 'telephony_abbreviated_numbers_export_tooltip' | translate}}"
                       data-tooltip-placement="right"
                       data-tooltip-append-to-body="true"
                       data-filename="{{ $ctrl.exportFilename || 'abbreviated-numbers.csv' }}">
                        <span data-translate="telephony_abbreviated_numbers_download_label"></span>
                    </a>
                </li>
                <li role="menuitem">
                    <i class="fa fa-upload mr-2" aria-hidden="true"></i>
                    <button type="button"
                            class="btn btn-link"
                            data-ng-click="$ctrl.openImport()"
                            data-uib-tooltip="{{ 'telephony_abbreviated_numbers_import_tooltip' | translate}}"
                            data-tooltip-placement="right"
                            data-tooltip-append-to-body="true"
                            data-ng-disabled="$ctrl.loading.init"
                            data-translate="telephony_abbreviated_numbers_import_label">
                    </button>
                </li>
                <li role="menuitem">
                    <i class="ovh-font ovh-font-bin mr-2" aria-hidden="true"></i>
                    <button type="button"
                            class="btn btn-link"
                            data-ng-click="$ctrl.trashAll()"
                            data-uib-tooltip="{{ 'telephony_abbreviated_numbers_trash_all_tooltip' | translate}}"
                            data-tooltip-append-to-body="true"
                            data-tooltip-placement="right"
                            data-ng-disabled="$ctrl.loading.init || !$ctrl.abbreviatedNumbers.length"
                            data-translate="telephony_abbreviated_numbers_trash_all_label">
                    </button>
                </li>
            </ul>
        </div>
    </div>


    <oui-datagrid data-rows="$ctrl.paginatedAbbreviatedNumbers">
        <oui-column data-title="'telephony_abbreviated_numbers_id' | translate" data-property="abbreviatedNumber" data-sortable="asc">
            <span class="word-break"
                  data-ng-bind="$row.abbreviatedNumber"></span>
        </oui-column>
        <oui-column data-title="'telephony_abbreviated_numbers_number' | translate" data-property="destinationNumber" data-sortable>
            <span class="word-break"
                  data-ng-bind="$row.destinationNumber"></span>
        </oui-column>
        <oui-column data-title="'telephony_abbreviated_numbers_surname' | translate" data-property="surname" data-sortable>
            <span class="word-break"
                  data-ng-bind="$row.surname"></span>
        </oui-column>
        <oui-column data-title="'telephony_abbreviated_numbers_name' | translate" data-property="name" data-sortable>
            <span class="word-break"
                  data-ng-bind="$row.name"></span>
        </oui-column>
        <oui-action-menu data-align="end" data-compact>
            <oui-action-menu-item data-text="{{'edit' | translate}}"
                                  on-click="$ctrl.update($row)">
            </oui-action-menu-item>
            <oui-action-menu-item data-text="{{'delete' | translate}}"
                                  on-click="$ctrl.remove($row)">
            </oui-action-menu-item>
        </oui-action-menu>
    </oui-datagrid>

</div>
