<bouncing-box-loader data-ng-if="AliasOrderCtrl.loading.init">
    <h2 data-translate="loading"></h2>
</bouncing-box-loader>

<div class="row"
     data-ng-if="!AliasOrderCtrl.loading.init">
    <div class="col-md-7 col-sm-12">
        <div class="widget-presentation bottom-space-m32">
            <h2 class="widget-presentation-title" data-translate="telephony_order_choice_title"></h2>
        </div>

        <div class="telephony-order bottom-space-m16 row" data-ng-repeat="offer in AliasOrderCtrl.offers track by offer.id">

            <div class="col-md-7 col-sm-12">
                <h3>{{:: offer.title | translate}} <em data-ng-bind-html="offer.clarification"></em></h3>
                <div class="description">{{:: offer.description | translate}}</div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 ordering" >
                <div class="cost" data-ng-if="offer.withoutTax">
                    <div class="pricing">
                        <span data-translate="telephony_order_will_cost"></span>
                        <span class="cost red" data-translate="telephony_order_without_tax" data-translate-values="{ht: offer.withoutTax.text}"></span>&nbsp;<span class="lasting" data-translate="telephony_order_per_period"></span>
                    </div>
                    <div class="with-tax">
                        <span data-translate="telephony_order_with_tax" data-translate-values="{ttc: offer.withTax.text}"></span>
                    </div>
                </div>


            </div>

            <div class="col-md-1 col-sm-1 col-xs-1 action">
                <a data-uib-tooltip="{{ offer.tip | translate }}"
                   tooltip-placement="left"
                   class="btn btn-primary bottom-space-m8"
                   data-ui-sref="{{offer.withoutTax ? offer.state : 'telecom.telephony.alias.order'}}"
                   data-ng-disabled="!offer.withoutTax">
                    <i class="ovh-font ovh-font-cart"></i>
                </a>
            </div>

        </div>


    </div>
</div>
