<section class="telephony-group-alias-configuration-mode telephony-group-alias-configuration-mode-easyHunting">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.alias.configuration"
                           section-back-link-title="{{ 'telephony_alias_configuration_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_alias_configuration_mode_title"></h1>
    </header>

    <div class="telecom-section-content" data-ng-if="ModeEasyHuntingCtrl.isLoading">
        <bouncing-box-loader>
            <h4 data-translate="loading"></h4>
        </bouncing-box-loader>
    </div>

    <div class="telecom-section-content" data-ng-if="!ModeEasyHuntingCtrl.isLoading">

        <div class="row">

            <div class="col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title" data-translate="telephony_alias_configuration_mode_info_title"></h2>
                </header>
                <p data-translate="telephony_alias_configuration_mode_info1"></p>
                <ul class="left-space-m16">
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info2"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info3"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info4"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info5"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info6"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info7"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info8"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info9"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info10"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info11"></li>
                    <li data-translate="telephony_alias_configuration_mode_easyhunting_info12"></li>
                </ul>
            </div>

            <div class="col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title" data-translate="telephony_alias_configuration_mode_config_title"></h2>
                </header>
                <form id="easyHuntingOptionsForm"
                      name="easyHuntingOptionsForm"
                      class="ovh-form-flat"
                      data-ng-submit="ModeEasyHuntingCtrl.updateOptions()"
                      novalidate>

                    <div class="clearfix">
                        <label for="showCallerNumber" data-translate="telephony_alias_configuration_mode_easyhunting_caller"></label>
                        <select flat-select
                            id="showCallerNumber"
                            name="showCallerNumber"
                            class="form-control"
                            data-ng-model="ModeEasyHuntingCtrl.optionsForm.showCallerNumber"
                            data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                            data-ng-options="type as ('telephony_alias_configuration_mode_easyhunting_caller_' + type | translate) for type in ModeEasyHuntingCtrl.enums.caller"
                            required>
                        </select>
                    </div>

                    <label class="block pointer top-space-m16 bottom-space-m16">
                        <flat-checkbox>
                            <input type="checkbox"
                                   id="anonymousRejection"
                                   name="anonymousRejection"
                                   data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                   data-ng-model="ModeEasyHuntingCtrl.optionsForm.anonymousRejection" />
                        </flat-checkbox>
                        <span class="left-space-m8" data-translate="telephony_alias_configuration_mode_easyhunting_anonymous_rejection"></span>
                    </label>

                    <label class="block pointer top-space-m16 bottom-space-m16">
                        <flat-checkbox>
                            <input type="checkbox"
                                   id="followCall"
                                   name="followCall"
                                   data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                   data-ng-model="ModeEasyHuntingCtrl.queueOptionsForm.followCallForwards" />
                        </flat-checkbox>
                        <span class="left-space-m8" data-translate="telephony_alias_configuration_mode_easyhunting_call_follow"></span>
                    </label>

                    <div class="clearfix">
                        <label for="voicemail" data-translate="telephony_alias_configuration_mode_easyhunting_answer"></label>
                        <select flat-select
                            id="voicemail"
                            name="voicemail"
                            class="form-control"
                            data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                            data-ng-model="ModeEasyHuntingCtrl.optionsForm.voicemail"
                            data-ng-options="number as (number | phoneNumber) for number in ModeEasyHuntingCtrl.voicemail"
                            required>
                            <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                        </select>
                    </div>

                    <div class="clearfix top-space-m16">
                        <label for="strategy" data-translate="telephony_alias_configuration_mode_pabx_strategy"></label>
                        <select flat-select
                            id="strategy"
                            name="strategy"
                            class="form-control"
                            data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                            data-ng-model="ModeEasyHuntingCtrl.optionsForm.strategy"
                            data-ng-options="strategy as ('telephony_alias_configuration_mode_pabx_strategy_' + strategy | translate) for strategy in ModeEasyHuntingCtrl.enums.strategy"
                            required>
                        </select>
                        <p>
                            <small>
                                <i class="ovh-font ovh-font-info"></i>
                                <span data-translate="{{ 'telephony_alias_configuration_mode_pabx_strategy_' + ModeEasyHuntingCtrl.optionsForm.strategy + '_info' | translate }}"></span>
                            </small>
                        </p>
                    </div>

                    <div class="clearfix top-space-m8">
                        <label class="block clearfix" for="queueSize" data-translate="telephony_alias_configuration_mode_easyhunting_queue_size"></label>
                        <input-number-spinner id="queueSize"
                                              name="queueSize"
                                              class="pull-left"
                                              data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                              data-ng-model="ModeEasyHuntingCtrl.optionsForm.queueSize"
                                              data-input-number-spinner-min="0"
                                              data-input-number-spinner-max="2147483647">
                        </input-number-spinner>
                    </div>

                    <div class="clearfix top-space-m8">
                        <label class="block clearfix" for="waitTime" data-translate="telephony_alias_configuration_mode_easyhunting_max_wait_time"></label>
                        <input-number-spinner id="waitTime"
                                              name="waitTime"
                                              class="pull-left"
                                              data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                              data-ng-model="ModeEasyHuntingCtrl.optionsForm.maxWaitTime"
                                              data-input-number-spinner-min="0"
                                              data-input-number-spinner-max="2147483647">
                        </input-number-spinner>
                    </div>

                    <div class="clearfix top-space-m8">
                        <label for="toneOnOverflow" data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_overflow"></label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select flat-select
                                    id="toneOnOverflow"
                                    name="toneOnOverflow"
                                    class="form-control"
                                    data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-model="ModeEasyHuntingCtrl.queueOptionsForm.actionOnOverflowParam"
                                    data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds"
                                    required>
                                    <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                                </select>
                            </div>
                            <button type="button"
                                    class="btn btn-default col-xs-2"
                                    data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnOverflow')">
                                <span data-translate="telephony_alias_configuration_mode_file"></span>
                            </button>
                        </div>
                    </div>

                    <div class="clearfix top-space-m8">
                        <label for="toneOnOpening" data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_opening"></label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select flat-select
                                    id="toneOnOpening"
                                    name="toneOnOpening"
                                    class="form-control"
                                    data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-model="ModeEasyHuntingCtrl.optionsForm.toneOnOpening"
                                    data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds"
                                    required>
                                    <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                                </select>
                            </div>
                            <button type="button"
                                    class="btn btn-default col-xs-2"
                                    data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnOpening')">
                                <span data-translate="telephony_alias_configuration_mode_file"></span>
                            </button>
                        </div>
                    </div>

                    <div class="clearfix top-space-m8">
                        <label for="toneOnHold" data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_hold"></label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select flat-select
                                    id="toneOnHold"
                                    name="toneOnHold"
                                    class="form-control"
                                    data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-model="ModeEasyHuntingCtrl.optionsForm.toneOnHold"
                                    data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds"
                                    required>
                                    <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                                </select>
                            </div>
                            <button type="button"
                                    class="btn btn-default col-xs-2"
                                    data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnHold')">
                                <span data-translate="telephony_alias_configuration_mode_file"></span>
                            </button>
                        </div>
                    </div>

                    <div class="clearfix top-space-m8">
                        <label for="toneOnClosing" data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_closing"></label>
                        <div class="row">
                            <div class="col-xs-10">
                                <select flat-select
                                    id="toneOnClosing"
                                    name="toneOnClosing"
                                    class="form-control"
                                    data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-model="ModeEasyHuntingCtrl.optionsForm.toneOnClosing"
                                    data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds"
                                    required>
                                    <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                                </select>
                            </div>
                            <button type="button"
                                    class="btn btn-default col-xs-2"
                                    data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnClosing')">
                                <span data-translate="telephony_alias_configuration_mode_file"></span>
                            </button>
                        </div>
                    </div>

                    <div class="clearfix top-space-m16">
                        <div class="row">
                            <button type="submit"
                                    class="btn btn-primary pull-right no-transition"
                                    data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-if="ModeEasyHuntingCtrl.hasChanges()">
                                <span data-translate="telephony_alias_configuration_mode_easyhunting_change"></span>
                                <spinner class="left-space-m4" data-ng-if="ModeEasyHuntingCtrl.isUpdating"></spinner>
                            </button>
                            <button type="button"
                                    class="btn btn-default pull-right right-space-m4 no-transition"
                                    data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                    data-ng-if="ModeEasyHuntingCtrl.hasChanges()"
                                    data-ng-click="ModeEasyHuntingCtrl.undoChanges()">
                                <span data-translate="cancel"></span>
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </div><!-- row -->

    </div><!-- section content -->

</section>
