<section class="telephony-group-alias-configuration-mode telephony-group-alias-configuration-mode-easyHunting">

    <header>
        <tuc-section-back-link data-tuc-section-back-link-to-state="telecom.telephony.alias.configuration"
                           data-tuc-section-back-link-title="{{ 'telephony_alias_configuration_back_link' | translate }}">
        </tuc-section-back-link>
        <h1 data-translate="telephony_alias_configuration_mode_title"></h1>
    </header>

    <div class="text-center" data-ng-if="ModeEasyHuntingCtrl.isLoading">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!ModeEasyHuntingCtrl.isLoading">

        <toast-message></toast-message>

        <div class="row">

            <div class="col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_configuration_mode_info_title">
                    </h2>
                </header>
                <p data-translate="telephony_alias_configuration_mode_easyhunting_info1"></p>
                <ul>
                    <li data-ng-repeat="i in [2,3,4,5,6,7,8,9,10,11,12] track by $index"
                        data-translate="{{'telephony_alias_configuration_mode_easyhunting_info' + i}}">
                    </li>
                </ul>
            </div>

            <div class="col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_configuration_mode_config_title">
                    </h2>
                </header>
                <form id="easyHuntingOptionsForm"
                      name="easyHuntingOptionsForm"
                      data-ng-submit="ModeEasyHuntingCtrl.updateOptions()"
                      novalidate>

                    <div class="form-group">
                        <label for="showCallerNumber"
                               class="control-label"
                               data-translate="telephony_alias_configuration_mode_easyhunting_caller">
                        </label>
                        <select id="showCallerNumber"
                                name="showCallerNumber"
                                class="form-control"
                                required
                                data-ng-model="ModeEasyHuntingCtrl.optionsForm.showCallerNumber"
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-options="type as ('telephony_alias_configuration_mode_easyhunting_caller_' + type | translate) for type in ModeEasyHuntingCtrl.enums.caller">
                        </select>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   id="anonymousRejection"
                                   name="anonymousRejection"
                                   data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                   data-ng-model="ModeEasyHuntingCtrl.optionsForm.anonymousRejection" />
                            <span data-translate="telephony_alias_configuration_mode_easyhunting_anonymous_rejection"></span>
                        </label>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   id="followCall"
                                   name="followCall"
                                   data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                   data-ng-model="ModeEasyHuntingCtrl.queueOptionsForm.followCallForwards" />
                            <span data-translate="telephony_alias_configuration_mode_easyhunting_call_follow"></span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="voicemail"
                               class="control-label"
                               data-translate="telephony_alias_configuration_mode_easyhunting_answer">
                        </label>
                        <select id="voicemail"
                                name="voicemail"
                                class="form-control"
                                required
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-model="ModeEasyHuntingCtrl.optionsForm.voicemail"
                                data-ng-options="number as (number | phoneNumber) for number in ModeEasyHuntingCtrl.voicemail">
                            <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="strategy"
                               class="control-label"
                               data-translate="telephony_alias_configuration_mode_easyhunting_strategy">
                        </label>
                        <select id="strategy"
                                name="strategy"
                                class="form-control"
                                required
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-model="ModeEasyHuntingCtrl.optionsForm.strategy"
                                data-ng-options="strategy as ('telephony_alias_configuration_mode_easyhunting_strategy_' + strategy | translate) for strategy in ModeEasyHuntingCtrl.enums.strategy">
                        </select>
                        <span class="help-block">
                            <i class="ovh-font ovh-font-info"></i>
                            <span data-translate="{{ 'telephony_alias_configuration_mode_easyhunting_strategy_' + ModeEasyHuntingCtrl.optionsForm.strategy + '_info' | translate }}"></span>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="control-label"
                               for="queueSize"
                               data-translate="telephony_alias_configuration_mode_easyhunting_queue_size">
                        </label>
                        <input-number-spinner id="queueSize"
                                              name="queueSize"
                                              class="d-inline-block"
                                              data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                              data-ng-model="ModeEasyHuntingCtrl.optionsForm.queueSize"
                                              data-input-number-spinner-min="0"
                                              data-input-number-spinner-max="2147483647">
                        </input-number-spinner>
                    </div>

                    <div class="form-group">
                        <label class="control-label"
                               for="waitTime"
                               data-translate="telephony_alias_configuration_mode_easyhunting_max_wait_time">
                        </label>
                        <input-number-spinner id="waitTime"
                                              name="waitTime"
                                              class="d-inline-block"
                                              data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                              data-ng-model="ModeEasyHuntingCtrl.optionsForm.maxWaitTime"
                                              data-input-number-spinner-min="0"
                                              data-input-number-spinner-max="2147483647">
                        </input-number-spinner>
                    </div>

                    <div class="form-group">
                        <label class="control-label"
                               for="toneOnOverflow"
                               data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_overflow">
                        </label>
                        <select id="toneOnOverflow"
                                name="toneOnOverflow"
                                class="form-control"
                                required
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-model="ModeEasyHuntingCtrl.queueOptionsForm.actionOnOverflowParam"
                                data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds">
                            <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                        </select>
                        <button type="button"
                                class="btn btn-default mt-2"
                                data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnOverflow')"
                                data-translate="telephony_alias_configuration_mode_file">
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="control-label"
                               for="toneOnOpening"
                               data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_opening">
                        </label>
                        <select id="toneOnOpening"
                                name="toneOnOpening"
                                class="form-control"
                                required
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-model="ModeEasyHuntingCtrl.optionsForm.toneOnOpening"
                                data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds">
                            <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                        </select>
                        <button type="button"
                                class="btn btn-default mt-2"
                                data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnOpening')"
                                data-translate="telephony_alias_configuration_mode_file">
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="control-label"
                               for="toneOnHold"
                               data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_hold">
                        </label>
                        <select id="toneOnHold"
                                name="toneOnHold"
                                class="form-control"
                                required
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-model="ModeEasyHuntingCtrl.optionsForm.toneOnHold"
                                data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds">
                            <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                        </select>
                        <button type="button"
                                class="btn btn-default mt-2"
                                data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnHold')"
                                data-translate="telephony_alias_configuration_mode_file">
                        </button>
                    </div>

                    <div class="form-group">
                        <label class="control-label"
                               for="toneOnClosing"
                               data-translate="telephony_alias_configuration_mode_easyhunting_tone_on_closing">
                        </label>
                        <select id="toneOnClosing"
                                name="toneOnClosing"
                                class="form-control"
                                required
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-model="ModeEasyHuntingCtrl.optionsForm.toneOnClosing"
                                data-ng-options="sound.soundId as sound.name for sound in ModeEasyHuntingCtrl.sounds">
                            <option value="" data-translate="telephony_alias_configuration_mode_easyhunting_none"></option>
                        </select>
                        <button type="button"
                                class="btn btn-default mt-2"
                                data-ng-disabled="ModeEasyHuntingCtrl.managingSounds || ModeEasyHuntingCtrl.isUpdating"
                                data-ng-click="ModeEasyHuntingCtrl.openManageSoundsHelper('toneOnClosing')"
                                data-translate="telephony_alias_configuration_mode_file">
                        </button>
                    </div>

                    <div class="form-group"
                         data-ng-if="ModeEasyHuntingCtrl.hasChanges()">
                        <button type="submit"
                                class="btn btn-primary"
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating">
                            <oui-spinner class="mr-2"
                                         data-ng-if="ModeEasyHuntingCtrl.isUpdating"
                                         data-size="s">
                            </oui-spinner>
                            <span data-translate="modify"></span>
                        </button>
                        <button type="button"
                                class="btn btn-default"
                                data-ng-disabled="ModeEasyHuntingCtrl.isUpdating"
                                data-ng-click="ModeEasyHuntingCtrl.undoChanges()"
                                data-translate="cancel">
                        </button>
                    </div>

                </form>
            </div>

        </div>

    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telephony-group-alias-configuration-mode-easyHunting -->
