<div class="telephony-group-alias-configuration">

    <div class="text-center" data-ng-if="AliasConfigurationCtrl.loading.init">
        <oui-spinner></oui-spinner>
    </div>

    <div data-ng-if="!AliasConfigurationCtrl.loading.init">

        <tuc-telecom-v4-links data-ng-if="!AliasConfigurationCtrl.isSubwayPlanActive()"
                          data-telecom-v4-links="AliasConfigurationCtrl.actions">
        </tuc-telecom-v4-links>

        <telephony-number data-ng-if="AliasConfigurationCtrl.isSubwayPlanActive()"
                          data-telephony-number="AliasConfigurationCtrl.number"
                          data-telephony-number-feature-actions="AliasConfigurationCtrl.actions">
        </telephony-number>

    </div>

</div>
<!-- /.telephony-group-alias-configuration -->
