<div class="telephony-group-alias-configuration">

    <oui-loader data-ng-if="AliasConfigurationCtrl.loading.init"
                data-size="m">
    </oui-loader>

    <div data-ng-if="!AliasConfigurationCtrl.loading.init">

        <telecom-v4-links data-ng-if="!AliasConfigurationCtrl.isSubwayPlanActive()"
                          data-telecom-v4-links="AliasConfigurationCtrl.actions">
        </telecom-v4-links>

        <telephony-number data-ng-if="AliasConfigurationCtrl.isSubwayPlanActive()"
                          data-telephony-number="AliasConfigurationCtrl.number"
                          data-telephony-number-feature-actions="AliasConfigurationCtrl.actions">
        </telephony-number>

    </div>

</div>
<!-- /.telephony-group-alias-configuration -->
