<div class="telephony-scheduler-filters telephony-scheduler-time-condition-slots">

    <div class="filters-category row"
         data-ng-repeat="chunkedCategories in $ctrl.chunkedCategories track by $index">

        <div class="col-xs-12 col-sm-6 col-md-12"
             data-ng-repeat="category in chunkedCategories track by $index">

            <button type="button"
                    class="no-style full-width text-left"
                    data-ng-class="{ 'active-slot': category.active }"
                    data-ng-click="$ctrl.toggleCategoryDisplay(category)">

                <voip-time-condition-slot data-time-condition-slot="$ctrl.convertCategoryToSlot(category.value)"
                                          data-is-scheduler="true">
                </voip-time-condition-slot>

            </button>

         </div>

    </div>

</div>
