// COLORS
@telephony-number-main-color: @BRAND_SECONDARY;
@telephony-number-disabled-color: #999999;
@voip-plan-disabled-color: @shuttleGray;

// SIZES
@voip-diagram-anchor-base-size: 16px;
@voip-diagram-radio-radio-size: 28px;

.voip-plan {
    width: 100%;
    position: relative;
    overflow-x: auto;

    &__step {
        display: flex;
        align-items: center;
        margin: 32px 0;

        &-content {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            position: relative;

            &--after-grip {
                margin-left: 8px;
            }

            &--node {
                border: solid 1px @mischka;
                align-items: stretch;
                background-color: white;
            }
        }

        &--point {
            align-items: center;
        }

        &-icon {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;

            &--grip {
                width: 39px;
                height: 39px;
                border: solid 1px @brand-primary;
                background-color: @foam;
                color: @BRAND_DARK;
                font-size: 16px;
                border-radius: 50%;
                cursor: move;

                &:hover {
                    background-color: lighten(@brand-primary, 25%);
                }

                &-disabled {
                    border: solid 1px @mischka;
                    background-color: @gray-lighter;
                    cursor: no-drop;
                    color: @shuttleGray;

                    &:hover {
                        background-color: @gray-lighter;
                    }
                }
            }

            &--basic {
                width: 39px;
                height: 39px;
                border: solid 1px @BRAND_DARK;
                background-color: white;
                font-size: 20px;
                color: @BRAND_DARK;
                border-radius: 50%;
            }

            &--included {
                width: 40px;
                padding: 8px 0;
                background-color: @BRAND_DARK;
                font-size: 20px;
                color: white;
            }

            &--indicators {
                font-size: 16px;
                color: @shuttleGray;
            }
        }

        &-radio {
            display: block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            position: relative;
            z-index: 10;
            cursor: pointer;

            &[type="radio"] {
                margin: 0;
            }

            &::before {
                content: "";
                display: block;
                width: 18px;
                height: 18px;
                border: solid 1px @shuttleGray;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 11;
                background-color: white;
                border-radius: 50%;
            }

            &::after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 4px;
                left: 4px;
                z-index: 12;
                background-color: @BRAND_DARK;
                border-radius: 50%;
                transform-origin: 50%;
                transform: scale(0);
                transition: transform 340ms cubic-bezier(0.5, 1.8, 0.5, 0.7);
            }

            &:checked {
                &::before {
                    border-color: @BRAND_DARK;
                }

                &::after {
                    transform: scale(1);
                    transition: transform 340ms cubic-bezier(0.5, 1.8, 0.5, 0.7);
                }
            }
        }

        &-description {
            display: inline-block;
            min-width: 200px;
            max-width: 348px;
            flex-shrink: 0;
            padding: 8px 16px;
            white-space: nowrap;
        }

        &-name {
            display: block;
            font-size: @FONT-SIZE-MAININFO;
            color: @BRAND_DARK;

            &--has-info {
                margin-bottom: 4px;
            }
        }

        &-info {
            display: block;
            font-size: @font-size-base;
            color: @shuttleGray;
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            font-size: 16px;
            color: @BRAND_DARK;
            transition: all 200ms ease-in-out;

            &:hover,
            &:focus,
            &:active {
                color: @BRAND_DARK;
                text-decoration: none;
            }

            &-container {
                display: flex;
                align-items: stretch;
            }

            &--primary {
                width: 40px;
                height: 40px;
                border: none;
                background-color: @brand-primary;
                border-radius: 50%;

                &:hover,
                &:focus,
                &:active {
                    background-color: darken(@brand-primary, 15%);
                }
            }

            &--default {
                width: 38px;
                height: 38px;
                border: solid 1px @brand-primary;
                background-color: transparent;
                border-radius: 50%;

                &:hover,
                &:focus,
                &:active {
                    background-color: fadeout(@brand-primary, 85%);
                }
            }

            &--included {
                width: 40px;
                padding: 8px 0;
                background-color: @foam;
                border: none;

                &:hover,
                &:focus,
                &:active {
                    background-color: lighten(@brand-primary, 25%);
                }
            }

            &--add {
                position: relative;
                z-index: 10;
            }

            &--switch {
                border: none;
                background-color: transparent;
                font-size: 20px;
            }
        }

        &-confirm {
            width: 100%;
            height: 100%;
            flex-shrink: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 51;

            &-overlay {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 52;
                background-color: #FFF;
                opacity: .85;
            }

            &-content {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 54;

                .btn.btn-default {
                    background-color: white;

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: @gray-lighter;
                    }
                }
            }

            &--has-border {
                left: 8px;

                &::before, &::after {
                    width: 100%;
                    height: 100%;
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 53;
                    box-sizing: border-box;
                    animation: 0.5s borderAnim;
                }

                &::before {
                    border-bottom: 1px solid @mischka;
                    border-left: 1px solid @mischka;
                    transform-origin: 0 100%;
                }

                &::after {
                    border-top: 1px solid @mischka;
                    border-right: 1px solid @mischka;
                    transform-origin: 100% 0;
                }

                @keyframes borderAnim {
                    0% {
                        transform: scale(0);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }
        }

        &-config {
            display: flex;
            align-items: center;

            &-item {
                display: flex;
                align-items: center;
                margin-left: 16px;
            }
        }
    }

    &__start {
        background-color: @BRAND_DARK;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        margin-left: 12px;
        margin-right: 16px;
    }

    &__title {
        margin: 0;
        color: @BRAND_DARK;
    }

    &__subpart {
        margin: 64px 0 0 48px;

        &-extended {
            margin: 64px 0 0 96px;
        }
    }

    &__invisible-anchor {
        width: 32px;
        height: 0;
        position: absolute;
        bottom: -2px;
        left: 0;
        z-index:-1;
        background-color: transparent;

        &--in-icon {
            width: 40px;
        }
    }

    @media screen and (min-width: @screen-xs) {
        margin: 48px 32px;
    }

    /*----------  FOR JSPLUMB SVG ELEMENTS  ----------*/

    .jtk-connector {
        z-index: 4;

        &-disabled {
            z-index: 3;

            path {
                stroke: @voip-plan-disabled-color;
            }
        }

        &.jtk-hover {
            z-index: 5;
        }
    }

    /*----------  disabled  ----------*/
    .disabled {
        .voip-plan__step {
            &-icon {
                border-color : @mischka;
                background-color : @gray-lighter;
                color : @shuttleGray;
                cursor: default;
            }

            &-name,
            &-info {
                color : @shuttleGray;
            }

            &-btn {
                color : @shuttleGray;
                cursor: default;

                &--default,
                &--primary {
                    border-color : @mischka;
                    background-color : @gray-lighter;
                }

                &--included {
                    background-color : transparent;
                }
            }
        }

        .dropdown-menu {
            border-color : @mischka;
            background-color: @gray-lighter;
            color: @shuttleGray;
        }
    }

}

.telephony-number-feature-popover {
    .makeTwoPagePopover();

    &.telephony-number-svi-config-popup,
    &.telephony-number-conference-config-popup {
        div.flat-select {
            float: none;

            select {
                height: @input-height-base;
            }
        }
    }

    &.telephony-number-ovh-pabx-actions-popup {
        section.page-section {
            section {
                overflow-y: auto;

                .relative-container {
                    position: relative;
                }

                .group-title-btn .btn-link {
                    color: #999;
                }

                .sound-list-container, .menu-list-container, .condition-list-container {
                    position: relative;
                    overflow: hidden;

                    .confirm-container {
                        position: absolute;
                        left: 0;
                        z-index: 10;
                    }
                }

                .section-group.telephony-ovh-pabx-time-condition-group {
                    .btn-group .btn {
                        min-width: 100% / 7;
                        padding: 6px 12px;
                    }

                    table.uib-timepicker {
                        margin: auto;
                    }
                }
            }
        }

        &:not(.popover-full-screen) {
            @section-height: 450px;
            max-height: 520px;

            section.page-section {

                section {
                    overflow-y: auto;
                }

                &:first-child {
                    section {
                        min-height: @section-height - 60px;     // 60px is the height of the footer
                    }
                }

                &:last-child {
                    section {
                        min-height: @section-height;
                        max-height: @section-height;
                    }
                }
            }
        }
    }
}
