@telephony-action-save-color         : #00bda4;
@telephony-action-bar-height         : 85px;

// slots colors definition
@telephony-slot1-color: rgb(150, 150, 150);
@telephony-slot2-color: rgb(134, 108, 200);
@telephony-slot3-color: rgb(252, 25, 100);
@telephony-slot-available-color: rgb(26, 227, 135);

.telecom-telephony {

    .tab-container {
        .nav.nav-tabs {
            > li a i {
                font-size: 18px;
            }
        }
    }

    header.telecom-nav {
      margin-top: 0px;
    }

    .service-item {
        margin-bottom: 15px;

        .service-button-description{
          color: @text-color-mainInfo;

          .action-icon{
            font-size: 16px;
          }

          .ovh-font-backToV4,
          .ovh-font-newtab {
            opacity: 0.4;
          }
        }

        &:hover{
          .service-button-description{
              .ovh-font-backToV4,
              .ovh-font-newtab {
                opacity: 1;
              }
          }
        }

        &.main-service{
          .service-button-description{
            font-size: 14px;
            font-weight: 700;

            .action-icon{
              font-size: 32px;
              color: @UNIVERS;
            }
          }
        }
    }

    .tab-container {
        .nav.nav-tabs {
            > li a i {
                font-size: 18px;
            }
        }
    }

    footer.voip-action-bar {
        background-color: @action-bar-bg-color;
        position: fixed;

        right: 0;
        bottom: 0;

        height: @telephony-action-bar-height;
        padding-left: 20px;

        z-index: 1050;
        font-size: 1.2em;


        &.ng-animate {
            transition: all 1s ease;
        }

        &.ng-hide-remove, &.ng-enter {
            max-height: 0;
            &.ng-hide-remove-active, &.ng-enter-active {
                max-height: @telephony-action-bar-height;
            }
        }

        &.ng-hide-add, &.ng-leave {
            max-height: @telephony-action-bar-height;
            &.ng-hide-add-active, &.ng-leave-active {
                max-height: 0;
            }
        }

        .question {
            margin: 10px 0 10px 0;
            color: #fff;
            font-weight: bold;
        }

        button.btn {
            width: 160px;
            height: 26px;
            margin-right: 15px;
            line-height: 14px;

            &.voip-cancel {
                background-color: @buttonFace;
            }

            &.voip-accept {
                color: #fff;
                background-color: @telephony-action-save-color;
            }
        }
    }

    /*----------  Special rules for action-bar  ----------*/
    // medium rules (desktop)
    @media (min-width: @screen-md-min) {
        footer.voip-action-bar {
            left: 100% / 6;
        }
    }

    // medium rules (tablet...)
    @media (max-width: (@screen-md-min - 1)) {
        footer.voip-action-bar {
            left: 100% / 4;
        }
    }

    // small rules (phone)
    @media (max-width: (@screen-sm-min - 1)) {
        footer.voip-action-bar {
            left: 0;
        }
    }
}

#updatePhonebookForm {
    min-height: 32px;

    .phonebook-name {
        vertical-align: middle;
    }

    .form-group {
        margin-bottom: 0;
    }
}

#addPhonecontactForm,
#updatePhonecontactForm {
    .input-group-btn {
        .flat-shadow;

        border: inherit;

        > button {
            border-color: transparent;
        }
    }

    .flat-valid,
    .flat-invalid {
        .input-group-btn {
            background-color: inherit;
        }
    }

    .dropdown-menu {
        > li {
            display: inherit;
        }
    }

    .open > .dropdown-menu {
        height: auto;
        max-height: 150px;
        overflow-x: hidden;
    }
}
