<oui-modal
    data-title="{{ :: 'xdsl_details_diagnostic_modal_title' | translate }}"
    data-primary-label="{{ :: 'close' | translate }}"
    data-primary-action="$ctrl.$state.go('^')"
    data-secondary-label="{{ $ctrl.getRemainingChecksText() }}"
    data-secondary-action="$ctrl.check()"
    data-secondary-disabled="$ctrl.diagnostic.remaining === 0"
    data-on-dismiss="$ctrl.$state.go('^')"
    data-loading="$ctrl.loading">

    <p data-ng-if="!$ctrl.diagnostic" data-translate="xdsl_details_diagnostic_modal_empty"></p>

    <dl data-ng-if="$ctrl.diagnostic">
        <div class="row">
            <dt class="col" data-translate="xdsl_details_diagnostic_modal_status_term_time"></dt>
            <dd class="col" data-ng-bind="$ctrl.diagnostic.diagnosticTime"></dd>
        </div>
        <div data-ng-repeat="status in $ctrl.statuses"
             class="row">
            <dt class="col" data-translate="{{ 'xdsl_details_diagnostic_modal_status_term_' + status.key}}"></dt>
            <dd class="col">
                <span aria-hidden="true"
                      class="oui-icon {{ status.val ? 'oui-icon-success_circle' : 'oui-icon-error_circle' }}">
                </span>
                <span data-translate="{{ 'xdsl_details_diagnostic_modal_status_term_' + status.key + '_' + status.val }}"></span>
            </dd>
        </div>
    </dl>
</oui-modal>
