.telecom-pack-resiliation{

    .service-type{
        margin-bottom: 16px;

        .service-item{
            .service-select-all, .service-select-single{
                padding: 6px 0 0 0;
            }
            .service-select-all{
                color: @blue-dark;
                background-color: @gray-light;
            }
        }
    }

    label {
        color: @gray-dark !important;
    }

    label.disabled {
        color: @gray-base !important;
    }

    strong {
        font-weight: bold;
        color: @BRAND_SECONDARY;
    }

    .flat-checkbox-on, .flat-checkbox-off {
        background-color: white;
    }

    .ovh-blue {
        color: @BRAND_SECONDARY;
    }

    #resiliationNativeDateElem {
        width: 150px;
    }
}
