.telecom-pack-resiliation {

    .service-type {
        margin-bottom: 16px;

        .service-item {
            .service-select-all {
                background-color: @gray-light;
            }

            .service-select-single {
                padding: 4px 0;

                strong {
                    color: @oui-color-primary;
                }
            }
        }
    }

    .resiliation-date {
        font-size: @font-size-base;
    }

    #resiliationNativeDateElem {
        width: 150px;
    }
}
