<div class="telecom-pack-resiliation">

    <header>
        <section-back-link section-back-link-to-state="telecom.pack"></section-back-link>
        <h1 data-translate="pack_resiliation_title"></h1>
    </header>


    <div class="telecom-section-content">

        <div data-flash-message="20000" ></div>

        <div class="alert alert-info" role="alert"
             data-ng-if="!PackResiliation.loading && !PackResiliation.resiliationTerms.onGoingResiliation">
            <i class="ovh-font ovh-font-filled-info" aria-hidden="true"></i>
            <p data-translate="pack_resiliation_infos"></p>
        </div>

        <bouncing-box-loader data-ng-if="PackResiliation.loading">
            <h2 data-translate="loading"></h2>
        </bouncing-box-loader>

        <div class="row top-space-m16" data-ng-if="!PackResiliation.loading && !PackResiliation.resiliationTerms.onGoingResiliation">
            <div class="widget-presentation col-xs-12">
                <h2 class="widget-presentation-title" data-ng-bind="'1. ' + ('pack_resiliation_reason_title' | translate)"></h2>

                <div class="top-space-m32">

                    <!-- FIRST SECTION -->
                    <div class="left-space-m32 right-space-m32">
                        <div class="row top-space-m12">
                            <span class="col-xs-12 col-md-4 service-title"
                                 data-translate="pack_resiliation_engaged"></span>
                            <span class="col-xs-12 col-md-4 service-item"
                                 data-ng-if="PackResiliation.resiliationTerms.data.engaged"
                                 data-ng-bind="PackResiliation.resiliationTerms.data.engageDate | date:'dd/MM/yyyy'"></span>
                            <span class="col-xs-12 col-md-4 service-item"
                                 data-ng-if="!PackResiliation.resiliationTerms.data.engaged"
                                 data-translate="pack_resiliation_not_engaged">
                            </span>
                        </div>

                        <div class="row top-space-m12"
                             data-nf-if="PackResiliation.resiliationTerms.data.due.value">
                            <span class="col-xs-12 col-md-4 service-title"
                                  data-translate="pack_resiliation_due"></span>
                            <div class="col-xs-12 col-md-4 service-item" style="color:#354291">
                                <strong data-ng-if="!PackResiliation.computingPrice"
                                        data-ng-bind="PackResiliation.resiliationTerms.data.due.text"></strong>
                                <spinner data-ng-if="PackResiliation.computingPrice"></spinner>
                            </div>
                        </div>

                        <form name="reasonForm" class="form-horizontal ovh-form-flat">
                            <div class="row top-space-m12">
                                <label for="resiliationDateElem"
                                       class="col-xs-12 col-md-4 service-title"
                                       data-translate="pack_resiliation_resiliation_date"></label>
                                <div class="col-xs-12 col-md-8 service-item date-picker-input">
                                    <input
                                        name="expirationNativeDate"
                                        id="resiliationNativeDateElem"
                                        placeholder="{{ 'pack_resiliation_date_format' | translate }}"
                                        class="form-control input-sm"
                                        data-datepicker-options="PackResiliation.dpOpts"
                                        data-uib-datepicker-popup="dd/MM/yyyy"
                                        data-min-date="PackResiliation.minResiliationDate"
                                        data-ui-validate="'PackResiliation.checkDate()'"
                                        data-is-open="PackResiliation.pickerOpened"
                                        data-ng-disabled="PackResiliation.loading"
                                        data-show-button-bar="false"
                                        current-text="{{:: 'today' | translate }}"
                                        clear-text="{{:: 'reset' | translate }}"
                                        close-text="{{:: 'close' | translate }}"
                                        min="{{PackResiliation.minResiliationDate.toISOString()}}"
                                        data-ng-focus="PackResiliation.openDatePicker($event)"
                                        data-ng-click="PackResiliation.switchDatePickerState($event)"
                                        data-ng-model="PackResiliation.model.when"
                                        data-ng-change="PackResiliation.computePrice()">
                                    <small>
                                        <span data-ng-if="reasonForm.expirationNativeDate.$error.date || !PackResiliation.checkDate()">
                                            <i class="ovh-font ovh-font-failure text-danger"></i>
                                            <span data-translate="pack_resiliation_date_format_error"></span>
                                            <span data-translate="pack_resiliation_date_format"></span>
                                        </span>
                                    </small>
                                </div>
                            </div>
                            <div class="row top-space-m12">
                                <label for="resiliationReasonElem" class="col-xs-12 col-md-4 service-title">
                                    <span data-translate="resiliation_reason"></span>
                                </label>
                                <div class="col-xs-12 col-md-3 service-item input-select-container">
                                    <select flat-select
                                            name="reason"
                                            class="form-control"
                                            data-ng-model="PackResiliation.model.reason"
                                            data-ng-options="reason.label for reason in PackResiliation.resiliationTerms.data.resiliationReasons track by reason.value"
                                            id="resiliationReasonElem"
                                            required>
                                    </select>
                                </div>
                            </div>
                            <div class="row top-space-m8">
                                <p class="col-md-5 col-md-offset-4" data-ng-if="PackResiliation.model.reason.value !== 'other'" data-translate="pack_resiliation_comment2"></p>
                                <strong class="col-md-5 col-md-offset-4" data-ng-if="PackResiliation.model.reason.value === 'other'" data-translate="pack_resiliation_comment_required"></strong>
                                <div class="col-xs-12 col-md-5 col-md-offset-4 service-item">
                                    <textarea class="form-control"
                                              name="comment"
                                              rows="7"
                                              data-ng-model="PackResiliation.model.comment"></textarea>
                                </div>
                            </div>
                        </div>

                        <h2 class="widget-presentation-title top-space-m32" data-ng-bind="'2. ' + ('pack_resiliation_services_to_keep' | translate)"></h2>

                        <!-- SECOND SECTION -->
                        <div class="left-space-m32 right-space-m32">
                            <div data-ng-if="PackResiliation.subServicesTermsLoading">
                                <bouncing-box-loader>
                                    <h4 data-translate="loading"></h4>
                                </bouncing-box-loader>
                            </div>

                            <div data-ng-if="PackResiliation.subServicesTermsError && !PackResiliation.subServicesTermsLoading"
                                 class="alert alert-warning"
                                 role="alert">
                                 <i class="ovh-font ovh-font-filled-warning"></i>
                                 <span data-translate="pack_resiliation_subservices_load_error"></span>
                            </div>

                            <div data-ng-if="PackResiliation.subServicesTerms && !PackResiliation.subServicesTermsLoading">
                                <div class="service-type"
                                     data-ng-repeat="serviceType in PackResiliation.config.orderedServicesToList track by serviceType"
                                     data-ng-if="serviceType !== 'xdslAccess'">
                                    <div class="form-group" data-ng-if="PackResiliation.subServicesTerms[serviceType]">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 service-title">
                                                <span data-translate="{{serviceType}}"></span>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 service-item">

                                                <div class="row service-select-all ovh-form-flat bottom-space-m16"
                                                     data-ng-if="!PackResiliation.config[serviceType].cannotBeKept && PackResiliation.hasKeepableSubServices(serviceType)">
                                                    <div flat-input-container class="col-xs-12 no-space left-space-m16 top-space-m8 bottom-space-m4">
                                                        <flat-checkbox>
                                                            <input name="{{::serviceType}}"
                                                                id="{{::serviceType + 'Elem'}}"
                                                                data-ng-model="PackResiliation.switch[serviceType]"
                                                                data-ng-change="PackResiliation.switchApply(serviceType)"
                                                                type="checkbox">
                                                        </flat-checkbox>
                                                        <label for="{{::serviceType + 'Elem'}}" style="margin-top: -4px" class="block left-space-m32 fs14">
                                                               <strong data-translate="{{'pack_resiliation_check_all_' + serviceType}}"></strong>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="row service-select-all bottom-space-m16"
                                                     data-ng-if="!PackResiliation.hasKeepableSubServices(serviceType)">
                                                    <div class="col-xs-12 no-space left-space-m16 bottom-space-m4"
                                                         data-ng-if="!PackResiliation.hasKeepableSubServices(serviceType)">
                                                        <span class="block fs14">
                                                            <strong data-translate="{{'pack_resiliation_delete_all_' + serviceType}}"></strong>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row"
                                                     data-ng-repeat="service in PackResiliation.subServicesTerms[serviceType] track by service.id">
                                                     <div class="col-xs-12">
                                                          <div class="row service-select-single">
                                                              <div class="col-xs-7 no-space ovh-form-flat"
                                                                   data-tooltip-append-to-body="true"
                                                                   data-uib-tooltip-html-unsafe="{{ service.keepServiceTerms.isAllowed ?
                                                                   null : '<strong class=\'text-warning\'>' +
                                                                   ('pack_resiliation_services_cannot_keep' | translate) + '</strong>'}}">
                                                                  <div flat-input-container class="left-space-m16">
                                                                       <flat-checkbox class="top-space-m4">
                                                                       <input name="{{::service.domain}}"
                                                                           id="{{::service.domain + 'Elem'}}"
                                                                           data-ng-disabled="!service.keepServiceTerms.isAllowed"
                                                                           data-ng-model="PackResiliation.model.subServicesToKeep[service.id]"
                                                                           data-ng-change="PackResiliation.updateAllInfluencedByCheckedSubServices(serviceType)"
                                                                           value="true"
                                                                           type="checkbox">
                                                                       </flat-checkbox>
                                                                       <label for="{{::service.domain + 'Elem'}}"
                                                                           data-ng-class="{ disabled: !service.keepServiceTerms.isAllowed }"
                                                                              data-ng-bind="::service.domain"></label>
                                                                  </div>
                                                              </div>
                                                              <div class="col-xs-5 text-right no-space">
                                                                  <div data-ng-if="service.keepServiceTerms.price.value">
                                                                      <span data-translate="pack_resiliation_keeping_fee"></span>
                                                                      <strong class="text-nowrap"
                                                                              data-translate="pack_resiliation_price_tax_free"
                                                                              data-translate-values=":: { price: service.keepServiceTerms.price.text }"></strong>
                                                                  </div>
                                                                  <div data-ng-if="service.keepServiceTerms.renewPrice.value">
                                                                      <span data-ng-if="service.keepServiceTerms.renewPeriod === 1"
                                                                          data-translate="pack_resiliation_monthly_pass"></span>
                                                                      <span data-ng-if="service.keepServiceTerms.renewPeriod !== 1 &&
                                                                          service.keepServiceTerms.renewPeriod !== 12"
                                                                          data-translate="pack_resiliation_Nthly_pass"
                                                                          data-translate-values="{month: service.keepServiceTerms.renewPeriod}">
                                                                      </span>
                                                                      <span data-ng-if="service.keepServiceTerms.renewPeriod === 12"
                                                                          data-translate="pack_resiliation_annually_pass"></span>
                                                                      <strong class="text-nowrap"
                                                                              data-translate="pack_resiliation_price_tax_free"
                                                                              data-translate-values="{ price: service.keepServiceTerms.renewPrice.text }"></strong>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-space-m32">
                                    <p data-translate="hubic"></p>
                                    <p data-translate="pack_resiliation_hubic_disclamer"></p>
                                </div>
                            </div>
                        </div>

                        <h2 class="widget-presentation-title top-space-m32"
                            data-ng-bind="'3. ' + ('pack_resiliation_fee_summary_total_title' | translate)"></h2>

                        <!-- THIRD SECTION -->
                        <div class="left-space-m32 right-space-m32">
                            <div class="row">
                                <span class="col-xs-4" data-translate="pack_resiliation_fee"></span>
                                <strong class="col-xs-8"
                                        data-translate="pack_resiliation_excluding_tax"
                                        data-translate-values="{ amount: PackResiliation.feeSummary.duePrice.text }">
                                </strong>
                            </div>
                            <div class="row" data-ng-if="PackResiliation.feeSummary.keepingPrice > 0">
                                <span class="col-xs-4" data-translate="pack_resiliation_keeping_fee"></span>
                                <strong class="col-xs-8"
                                        data-translate="pack_resiliation_excluding_tax"
                                        data-translate-values="{
                                            amount: PackResiliation.feeSummary.keepingPrice,
                                            currency: PackResiliation.feeSummary.currency
                                        }">
                                </strong>
                            </div>
                            <div class="row" data-ng-repeat="(period, amount) in PackResiliation.feeSummary.renewPrice track by $index">
                                 <span class="col-xs-4"
                                       data-ng-if="period === '1'"
                                       data-translate="pack_resiliation_monthly_pass"></span>
                                 <span class="col-xs-4"
                                       data-ng-if="period !== '1' && period !== '12'"
                                       data-translate="pack_resiliation_Nthly_pass"
                                       data-translate-values="{month: period}">
                                 </span>
                                 <span class="col-xs-4"
                                       data-ng-if="period === '12'"
                                       data-translate="pack_resiliation_annually_pass"></span>
                                 <strong class="col-xs-8"
                                         data-ng-if="period === '12'"
                                         data-translate="pack_resiliation_excluding_tax_annually"
                                         data-translate-values="{ amount: amount, currency: PackResiliation.feeSummary.currency }">
                                 </strong>
                                 <strong class="col-xs-8"
                                         data-ng-if="period !== '12'"
                                         data-translate="pack_resiliation_excluding_tax_monthly"
                                         data-translate-values="{ amount: amount, currency: PackResiliation.feeSummary.currency }">
                                 </strong>
                            </div>
                            <div>
                                <button class="btn btn-primary top-space-m32"
                                    data-ng-click="PackResiliation.openConfirmation()"
                                    data-ng-disabled="reasonForm.expirationNativeDate.$error.date || !PackResiliation.model.reason || (PackResiliation.model.reason.value === 'other' && !PackResiliation.model.comment)"
                                    type="button">
                                    <span data-translate="pack_resiliation_button"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- RESILIATION FORM -->


        <!-- CANCEL RESILIATION -->
        <div class="row" data-ng-if="!PackResiliation.loading && PackResiliation.resiliationTerms.onGoingResiliation">
            <div class="widget-presentation col-xs-12">
                <h2 class="widget-presentation-title" data-translate="pack_resiliation_cancel_title"></h2>

                <div class="top-space-m32 row">
                    <span class="col-md-2" data-translate="pack_resiliation_planed_on"></span>
                    <span class="col-md-2 fs14" data-ng-bind="PackResiliation.resiliationTerms.onGoingResiliation.dateTodo | date"></span>
                    <div class="col-md-8">
                        <button
                            class="btn btn-primary"
                            data-ng-really-click="PackResiliation.cancelPackResiliation(PackResiliation.resiliationTerms)"
                            data-ng-really-message="{{ 'pack_resiliation_cancel_really' | translate:PackResiliation.resiliationTerms}}"
                            data-ng-really-confirm="{{:: 'ok' | translate }}"
                            data-ng-really-cancel="{{:: 'cancel' | translate }}"
                            data-ng-really-window-class="revert-really-buttons"
                            data-uib-tooltip-html-unsafe="<strong class='text-warning'>{{ 'pack_resiliation_cancel' | translate }}</strong>"
                            data-translate="pack_resiliation_cancel"
                            type="button">
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- CANCEL RESILIATION FORM -->

    </div>

</div>
