<section class="telecom-sms-options-manage">

    <header>
        <section-back-link section-back-link-to-state="telecom.sms.options"
                           section-back-link-title="{{:: 'sms_section_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="sms_options_manage_title"></h1>
    </header>

    <div class="telecom-section-content">

        <div class="row">
            <div class="col-xs-12 widget-presentation">

                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title" data-translate="sms_options_manage_information_title"></h2>
                </header>

                <p class="bottom-space-m12"
                   data-translate="sms_options_manage_information_text">
                </p>
                <p class="bottom-space-m12"
                   data-translate="sms_options_manage_information_types_available">
                </p>
                <ul class="bottom-space-m12 lh22">
                    <li data-translate="sms_options_manage_information_type_callback"></li>
                    <li data-translate="sms_options_manage_information_type_stop_callback"></li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 widget-presentation">

                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title" data-translate="sms_options_manage_configure_title"></h2>
                </header>

                <div class="text-center" data-ng-if="TelecomSmsOptionsManageCtrl.loading.init">
                    <spinner></spinner>
                </div>

                <ul class="list-unstyled bottom-space-m20 lh22"
                    data-ng-if="!TelecomSmsOptionsManageCtrl.loading.init">
                    <li class="bottom-space-m12">
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <strong data-translate="sms_options_manage_configure_callback_label"></strong>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <span data-ng-if="TelecomSmsOptionsManageCtrl.service.callBack"
                                      data-ng-bind="TelecomSmsOptionsManageCtrl.service.callBack">
                                </span>
                                <span data-ng-if="!TelecomSmsOptionsManageCtrl.service.callBack"
                                      data-translate="sms_options_manage_configure_callback_empty">
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <strong data-translate="sms_options_manage_configure_stop_callback_label"></strong>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <span data-ng-if="TelecomSmsOptionsManageCtrl.service.stopCallBack"
                                      data-ng-bind="TelecomSmsOptionsManageCtrl.service.stopCallBack">
                                </span>
                                <span data-ng-if="!TelecomSmsOptionsManageCtrl.service.stopCallBack"
                                      data-translate="sms_options_manage_configure_callback_empty">
                                </span>
                            </div>
                        </div>
                    </li>
                </ul>

                <button
                    type="button"
                    class="btn btn-primary"
                    data-ng-if="!TelecomSmsOptionsManageCtrl.loading.init"
                    data-ng-click="TelecomSmsOptionsManageCtrl.update(TelecomSmsOptionsManageCtrl.service)"
                    data-translate="modify">
                </button>

            </div>
        </div>

    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telecom-sms-options-manage -->
