<section class="telecom-telephony-line-phone-programmableKeys">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line.phone"
                           section-back-link-title="{{ 'telephony_group_line_phone_section_back_link' | translate }}">
        </section-back-link>
        <h1 data-ng-if="!ProgrammableKeysCtrl.loading.init && ProgrammableKeysCtrl.line.hasPhone"
            data-translate="telephony_line_phone_programmableKeys_title"
            data-translate-values="{ phone : ProgrammableKeysCtrl.line.phone.description }">
        </h1>
    </header>

    <div class="text-center" data-ng-if="ProgrammableKeysCtrl.loading.init">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content">

        <toast-message></toast-message>

        <div class="widget-presentation"
             data-ng-if="ProgrammableKeysCtrl.line.hasPhone && !ProgrammableKeysCtrl.loading.init">
            <h2 class="widget-presentation-title"
                data-translate="telephony_line_phone_programmableKeys_title_2">
            </h2>
            <div class="table-responsive"
                 data-ng-if="!ProgrammableKeysCtrl.loading.init">
                <table class="table"
                       summary="{{'telephony_line_phone_programmableKeys_summary'|translate}}"
                       data-ng-class="{
                           'table-hover table-striped': ProgrammableKeysCtrl.functionKeys.raw.length > 1
                       }">
                    <caption class="sr-only"
                             data-translate="telephony_line_phone_programmableKeys_caption"></caption>
                    <thead>
                        <th id="keys">
                            <button class="btn btn-link p-0"
                                    data-role="button"
                                    data-ng-click="ProgrammableKeysCtrl.orderBy('keyNum')">
                                <span data-translate="telephony_line_phone_programmableKeys_keys_title"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': ProgrammableKeysCtrl.order.by !== 'keyNum',
                                          'oui-icon-arrow-down': ProgrammableKeysCtrl.order.by === 'keyNum' && ProgrammableKeysCtrl.order.desc,
                                          'oui-icon-arrow-up': ProgrammableKeysCtrl.order.by === 'keyNum' && !ProgrammableKeysCtrl.order.desc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th id="function">
                            <button class="btn btn-link p-0"
                                    data-role="button"
                                    data-ng-click="ProgrammableKeysCtrl.orderBy('functionLabel')">
                                <span data-translate="telephony_line_phone_programmableKeys_function_title"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': ProgrammableKeysCtrl.order.by !== 'functionLabel',
                                          'oui-icon-arrow-down': ProgrammableKeysCtrl.order.by === 'functionLabel' && ProgrammableKeysCtrl.order.desc,
                                          'oui-icon-arrow-up': ProgrammableKeysCtrl.order.by === 'functionLabel' && !ProgrammableKeysCtrl.order.desc
                                      }">
                                </span>
                            </button>
                        </th>
                        <th colspan="2"
                            id="params">
                            <button class="btn btn-link p-0"
                                    data-role="button"
                                    data-ng-click="ProgrammableKeysCtrl.orderBy('parameter')">
                                <span data-translate="telephony_line_phone_programmableKeys_supp_param_title"></span>
                                <span class="oui-icon align-baseline"
                                      aria-hidden="true"
                                      data-ng-class="{
                                          'oui-icon-arrow-down': ProgrammableKeysCtrl.order.by !== 'parameter',
                                          'oui-icon-arrow-down': ProgrammableKeysCtrl.order.by === 'parameter' && ProgrammableKeysCtrl.order.desc,
                                          'oui-icon-arrow-up': ProgrammableKeysCtrl.order.by === 'parameter' && !ProgrammableKeysCtrl.order.desc
                                      }">
                                </span>
                            </button>
                        </th>
                    </thead>

                    <!-- <telephony-bulk-action data-billing-account="{{ ProgrammableKeysCtrl.line.billingAccount }}"
                                           data-service-name="{{ ProgrammableKeysCtrl.line.serviceName }}"
                                           data-custom-class="link d-block pl-0 mb-3"
                                           data-bulk-infos="ProgrammableKeysCtrl.bulkDatas.infos"
                                           data-ng-disabled="ProgrammableKeysCtrl.loading.keys || !ProgrammableKeysCtrl.functionKeys.raw.length"
                                           data-filter-services="ProgrammableKeysCtrl.filterServices"
                                           data-get-bulk-params="ProgrammableKeysCtrl.getBulkParams"
                                           data-on-success="ProgrammableKeysCtrl.onBulkSuccess"
                                           data-on-error="ProgrammableKeysCtrl.onBulkError">
                    </telephony-bulk-action> -->

                    <tbody data-ng-if="ProgrammableKeysCtrl.functionKeys.raw.length && !ProgrammableKeysCtrl.loading.keys">
                        <tr data-ng-repeat="key in ProgrammableKeysCtrl.functionKeys.raw | orderBy:ProgrammableKeysCtrl.order.by:ProgrammableKeysCtrl.order.desc track by $index">
                            <td headers="keys" data-ng-bind="key.label || '-'"></td>
                            <td headers="function" data-ng-bind="(key.function && ('telephony_line_phone_programmableKeys_' + key.function) | translate) || '-'"></td>
                            <td headers="params" data-ng-bind="key.parameter || '-'"></td>
                            <td>
                                <button type="button"
                                        class="btn btn-default float-right"
                                        data-ng-click="ProgrammableKeysCtrl.edit(key);">
                                    <i class="ovh-font ovh-font-editer"></i>
                                    <span class="sr-only"
                                          data-ng-bind="user.login + '-' + ('edit' | translate)"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="!ProgrammableKeysCtrl.functionKeys.raw.length && !ProgrammableKeysCtrl.loading.keys">
                        <tr>
                            <td class="text-center"
                                colspan="4"
                                data-translate="telephony_line_phone_programmableKeys_no_key">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p class="text-danger text-center font-weight-bold"
           data-ng-if="!ProgrammableKeysCtrl.line.hasPhone && !ProgrammableKeysCtrl.loading.init"
           data-translate="telephony_line_phone_programmableKeys_no_phone">
        </p>
    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telecom-telephony-line-phone-programmableKeys -->
