<section class="telecom-telephony-service-fax-filtering">

    <bouncing-box-loader data-ng-if="$ctrl.loading.init">
        <h2 data-translate="loading"></h2>
    </bouncing-box-loader>

    <div class="row"
         data-ng-if="!$ctrl.loading.init">
        <div class="col-xs-12 col-md-6">
            <div class="widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_service_fax_filtering_list_title">
                    </h2>
                </header>
                <div class="row bottom-space-m8">
                    <div class="col-xs-12 col-md-6">
                        <label
                            for="filteringList"
                            class="pointer"
                            data-translate="telephony_service_fax_filtering_list_label">
                        </label>
                        <spinner class="pull-right" data-ng-if="$ctrl.screenListsForm.isUpdating"></spinner>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <select
                            class="form-control"
                            id="filteringList"
                            required
                            data-flat-select
                            data-ng-model="$ctrl.screenListsForm.filteringList"
                            data-ng-change="$ctrl.updateFilteringList()"
                            data-ng-options="type as ('telephony_service_fax_filtering_list_type_' + type | translate) for type in $ctrl.enums.screenListType">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_service_fax_filtering_new">
                    </h2>
                </header>
                <form name="filteringAddForm"
                     class="form-horizontal ovh-form-flat"
                     data-ng-submit="$ctrl.addScreen(filteringAddForm)">
                    <div class="row bottom-space-m4">
                        <div class="col-md-6">
                            <span data-translate="telephony_service_fax_filtering_new_list_label"></span>
                        </div>
                        <div class="col-md-6">
                            <select
                                class="form-control"
                                data-flat-select
                                data-ng-model="$ctrl.screenListToAdd.nature">
                                <option value="whitelisted" data-translate="telephony_service_fax_filtering_new_list_select_whitelisted"></option>
                                <option value="blacklisted" data-translate="telephony_service_fax_filtering_new_list_select_blacklisted"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row bottom-space-m4">
                        <div class="col-md-6">
                            <span data-translate="telephony_service_fax_filtering_new_type_label"></span>
                        </div>
                        <div class="col-md-6">
                            <select
                                class="form-control"
                                data-flat-select
                                data-ng-model="$ctrl.screenListToAdd.type">
                                <option value="Numbers" data-translate="telephony_service_fax_filtering_new_type_select_numbers"></option>
                                <option value="TSI" data-translate="telephony_service_fax_filtering_new_type_select_tsi"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row bottom-space-m4">
                        <div class="col-md-6">
                            <span data-translate="telephony_service_fax_filtering_new_number_label"></span>
                        </div>
                        <div class="col-md-6">
                            <div data-flat-input-container>
                                <input
                                    type="text"
                                    class="form-control"
                                    required
                                    data-ng-model="$ctrl.screenListToAdd.number"
                                    data-ng-pattern="/^(\+|00)[0-9]+$/"
                                    data-translate-attr="{ 'placeholder': 'telephony_service_fax_filtering_new_number_placeholder' }" />
                            </div>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        data-ng-disabled="$ctrl.screenListsForm.isAdding || filteringAddForm.$invalid">
                        <span data-translate="common_add"></span>
                        <spinner class="left-space-m4" data-ng-if="$ctrl.screenListsForm.isAdding"></spinner>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row"
         data-ng-if="!$ctrl.loading.init">
        <div class="col-xs-12">
            <div class="widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_service_fax_filtering_config">
                    </h2>
                </header>
                <div class="clearfix bottom-space-m8">
                    <div class="pull-left">
                        <button
                            type="button"
                            class="btn btn-default"
                            data-ng-disabled="$ctrl.getSelection().length === 0 || $ctrl.screenLists.isDeleting"
                            data-ng-click="$ctrl.removeSelectedScreenLists()">
                            <span class="ovh-font ovh-font-bin line-height-normal right-space-m4" aria-hidden="true"></span>
                            <span data-ng-if="$ctrl.getSelection().length <= 1"
                                  data-translate="telephony_service_fax_filtering_table_delete">
                            </span>
                            <span data-ng-if="$ctrl.getSelection().length > 1"
                                  data-translate="telephony_service_fax_filtering_table_delete_plural"
                                  data-translate-values="{ nb: $ctrl.getSelection().length }">
                            </span>
                            <spinner class="left-space-m4" data-ng-if="$ctrl.screenLists.isDeleting"></spinner>
                        </button>
                        <button class="btn btn-default"
                            type="button"
                            data-ng-disabled="$ctrl.getSelection().length === 0"
                            data-ng-csv="$ctrl.exportSelection()"
                            data-csv-header="[
                                'callNumber',
                                'number',
                                'type'
                            ]"
                            data-filename="{{ $ctrl.fax.billingAccount + ' ' + ($ctrl.fax.description || $ctrl.fax.serviceName) | slugify }}.csv">
                            <span data-translate="telephony_service_fax_filtering_table_export"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <select
                            class="form-control"
                            data-flat-select
                            data-ng-model="$ctrl.screenLists.filterBy.type"
                            data-ng-change="$ctrl.sortScreenLists()">
                            <option value="" data-translate="telephony_service_fax_filtering_filter_type_select"></option>
                            <option value="whitelistedNumbers" data-translate="telephony_service_fax_filtering_filter_type_whitelistedNumbers"></option>
                            <option value="whitelistedTSI" data-translate="telephony_service_fax_filtering_filter_type_whitelistedTSI"></option>
                            <option value="blacklistedNumbers" data-translate="telephony_service_fax_filtering_filter_type_blacklistedNumbers"></option>
                            <option value="blacklistedTSI" data-translate="telephony_service_fax_filtering_filter_type_blacklistedTSI"></option>
                        </select>
                    </div>
                </div>
                <div class="table-responsive-vertical">
                    <table class="table table-pretty table-hover table-striped no-space">
                        <thead>
                            <tr>
                                <th scope="col" width="45">
                                    <input
                                        type="checkbox"
                                        data-ng-if="$ctrl.screenLists.paginated.length"
                                        data-ng-disabled="$ctrl.screenLists.isDeleting"
                                        data-ovh-checkbox-table
                                        data-ovh-checkbox-table-ids-all="$ctrl.screenLists.raw"
                                        data-ovh-checkbox-table-ids-page="$ctrl.screenLists.paginated"
                                        data-ovh-checkbox-table-ids-selected="$ctrl.screenLists.selected"
                                        data-ovh-checkbox-table-id="id" />
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="no-style no-outline left-space-p0"
                                        data-ng-disabled="!$ctrl.screenLists.paginated.length"
                                        data-ng-click="$ctrl.orderScreenListsBy('number')">
                                        <label class="pointer"
                                               data-translate="telephony_service_fax_filtering_column_number">
                                        </label>
                                        <span class="table-pretty-filter">
                                            <i class="fa" data-ng-class="{
                                                'fa-sort': $ctrl.screenLists.orderBy !== 'number',
                                                'fa-sort-desc': $ctrl.screenLists.orderBy === 'number' && $ctrl.screenLists.orderDesc,
                                                'fa-sort-asc': $ctrl.screenLists.orderBy === 'number' && !$ctrl.screenLists.orderDesc
                                            }"></i>
                                        </span>
                                    </button>
                                </th>
                                <th scope="col" data-translate="">
                                    <button
                                        type="button"
                                        class="no-style no-outline left-space-p0"
                                        data-ng-disabled="!$ctrl.screenLists.paginated.length"
                                        data-ng-click="$ctrl.orderScreenListsBy('type')">
                                        <label class="pointer"
                                               data-translate="telephony_service_fax_filtering_column_type">
                                        </label>
                                        <span class="table-pretty-filter">
                                            <i class="fa" data-ng-class="{
                                                'fa-sort': $ctrl.screenLists.orderBy !== 'type',
                                                'fa-sort-desc': $ctrl.screenLists.orderBy === 'type' && $ctrl.screenLists.orderDesc,
                                                'fa-sort-asc': $ctrl.screenLists.orderBy === 'type' && !$ctrl.screenLists.orderDesc
                                            }"></i>
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="no-style no-outline fs16"
                                        data-ng-disabled="$ctrl.screenLists.isDeleting"
                                        data-ng-click="$ctrl.refresh()"
                                        data-translate-attr="{ title: 'telephony_answer_voicemail_directories_refresh_message' }">
                                        <i class="text-default fa fa-refresh" aria-hidden="true"></i>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-ng-if="!$ctrl.screenLists.isLoading">
                            <tr data-ng-repeat="screen in $ctrl.screenLists.paginated">
                                <td>
                                    <input
                                        type="checkbox"
                                        data-ng-if="screen.status !== 'delete'"
                                        data-ng-disabled="$ctrl.screenLists.isDeleting"
                                        data-ng-model="$ctrl.screenLists.selected[screen.id]" />
                                </td>
                                <th scope="row"
                                    data-title="{{:: 'telephony_service_fax_filtering_column_number' | translate }}">
                                    <span data-ng-bind="screen.number"></span>
                                </th>
                                <td data-title="{{:: 'telephony_service_fax_filtering_column_type' | translate }}">
                                    <span data-ng-bind=" 'telephony_service_fax_filtering_filter_type_' + screen.type | translate"></span>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                        <tbody data-ng-if="$ctrl.screenLists.isLoading">
                            <tr>
                                <td class="text-center top-space-p16 bottom-space-p16" colspan="4">
                                    <span data-translate="telephony_service_fax_filtering_table_loading"></span>
                                    <spinner class="left-space-m4"></spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-ng-if="!$ctrl.screenLists.isLoading && !$ctrl.screenLists.paginated.length">
                            <tr>
                                <td class="text-center top-space-p16 bottom-space-p16" colspan="4">
                                    <span data-translate="telephony_service_fax_filtering_table_empty"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-pretty-pagination top-space-m8"
                         data-ng-if="!$ctrl.screenLists.isLoading && $ctrl.screenLists.raw.length"
                         data-pagination-front
                         data-items="$ctrl.screenLists.sorted"
                         data-paginated-items="$ctrl.screenLists.paginated"
                         data-current-page="currentPage"
                         data-nb-pages="nbPages"
                         data-items-per-page="itemsPerPage"
                         data-page-placeholder="{{ 'common_pagination_page' | translate: { currentPage: currentPage, nbPages: nbPages } }}"
                         data-item-per-page-placeholder="{{:: 'common_pagination_display' | translate }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.telecom-telephony-service-fax-filtering -->
