<section class="telephony-group-line-voicemail-password">

    <div data-ng-if="VoicemailPasswordCtrl.loading">
        <bouncing-box-loader data-size="m">
            <h3 class="mt-3"
                data-translate="loading"></h3>
        </bouncing-box-loader>
    </div>

    <toast-message></toast-message>

    <div class="row"
         data-ng-if="!VoicemailPasswordCtrl.loading">

        <div class="col-md-6">

            <div class="widget-presentation mb-4">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_password_change_title"></h2>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                            <p data-translate="telephony_line_answer_voicemail_password_info"></p>
                        </p>
                    </div>
                </div>
            </div>

            <form name="voicemailPasswordForm"
                  class="mt-4"
                  data-ng-submit="VoicemailPasswordCtrl.submitPasswordChange(voicemailPasswordForm)">


                <!-- password input -->
                <div class="form-group"
                     data-ng-class="{ 'has-error': voicemailPasswordForm.password.$dirty && voicemailPasswordForm.password.$error.pattern }">
                    <label class="control-label"
                           for="password"
                           data-translate="telephony_line_answer_voicemail_password_input_label">
                    </label>
                    <input class="form-control"
                           id="password"
                           name="password"
                           type="password"
                           maxlength="4"
                           placeholder="{{:: 'telephony_line_answer_voicemail_password_input_placeholder' | translate }}"
                           data-ng-model="VoicemailPasswordCtrl.password"
                           data-ng-disabled="VoicemailPasswordCtrl.success"
                           data-ng-pattern="/^[0-9]{4}$/"
                           required
                           autofocus />
                    <span class="help-block"
                          role="alert"
                          data-ng-if="voicemailPasswordForm.password.$dirty"
                          data-ng-messages="voicemailPasswordForm.password.$error">
                        <span data-ng-message="pattern"
                              data-translate="telephony_line_answer_voicemail_password_input_length_warning"></span>
                    </span>
                </div>

                <!-- password confirmation input -->
                <div class="form-group"
                     data-ng-class="{ 'has-error': voicemailPasswordForm.passwordConfirm.$dirty && voicemailPasswordForm.passwordConfirm.$error.matching }">
                    <label class="control-label"
                           for="passwordConfirm"
                           data-translate="telephony_line_answer_voicemail_passwordConfirm_input_label">
                    </label>
                    <input class="form-control"
                           name="passwordConfirm"
                           type="password"
                           maxlength="4"
                           placeholder="{{:: 'telephony_line_answer_voicemail_passwordConfirm_input_placeholder' | translate }}"
                           data-ng-model="VoicemailPasswordCtrl.passwordConfirm"
                           data-ng-disabled="VoicemailPasswordCtrl.success || voicemailPasswordForm.password.$invalid"
                           data-ng-change="VoicemailPasswordCtrl.checkPasswordConfirm(voicemailPasswordForm)"
                           required />
                    <span class="help-block"
                          role="alert"
                          data-ng-if="voicemailPasswordForm.passwordConfirm.$dirty"
                          data-ng-messages="voicemailPasswordForm.passwordConfirm.$error">
                        <span data-ng-message="matching"
                              data-translate="telephony_line_answer_voicemail_password_matching_warning"></span>
                    </span>
                </div>

                <!-- submit button -->
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-primary float-right"
                            data-ng-disabled="voicemailPasswordForm.$invalid || VoicemailPasswordCtrl.submitting || VoicemailPasswordCtrl.success">
                        <span data-ng-if="VoicemailPasswordCtrl.success" data-translate="telephony_line_answer_voicemail_password_change_success"></span>
                        <i data-ng-if="VoicemailPasswordCtrl.success"
                           class="ovh-font ovh-font-check ml-1"></i>
                        <span data-ng-if="!VoicemailPasswordCtrl.success"
                              data-translate="telephony_line_answer_voicemail_password_apply"></span>
                        <bouncing-box-loader class="d-inline-block align-middle ml-2"
                                             data-ng-if="VoicemailPasswordCtrl.submitting"
                                             data-size="s">
                        </bouncing-box-loader>
                    </button>
                </div>
            </form>

        </div> <!-- left column -->

        <div class="col-md-6"
             data-ng-if="VoicemailPasswordCtrl.options">
            <div class="widget-presentation mb-5">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_password_number_info"></h2>
            </div>
            <div class="row">
                <span class="col-xs-4"
                      data-translate="telephony_line_answer_voicemail_password_number_internal"></span>
                <span class="col-xs-8">
                    <strong data-ng-bind="VoicemailPasswordCtrl.options.internal | phoneNumber">
                    </strong>
                </span>
            </div>
            <div class="row mt-1">
                <span class="col-xs-4"
                      data-translate="telephony_line_answer_voicemail_password_number_external"></span>
                <span class="col-xs-8">
                    <strong data-ng-bind="VoicemailPasswordCtrl.options.external | phoneNumber">
                    </strong>
                </span>
            </div>
        </div> <!-- right column -->

    </div> <!-- content row -->

</section>
