<section class="telephony-group-line-voicemail-password">

    <div data-ng-if="VoicemailPasswordCtrl.loading">
        <bouncing-box-loader>
            <h3 class="top-space-m16" data-translate="loading"></h3>
        </bouncing-box-loader>
    </div>

    <div class="row" data-ng-if="!VoicemailPasswordCtrl.loading">
        <div class="col-md-6">

            <div class="widget-presentation bottom-space-m32">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_password_change_title"></h2>
            </div>

            <form name="voicemailPasswordForm"
                  class="form-horizontal ovh-form-flat top-space-m32"
                  data-ng-submit="VoicemailPasswordCtrl.submitPasswordChange(voicemailPasswordForm)">


                <!-- password input -->
                <div class="row">
                    <span class="col-md-4 top-space-m4" data-translate="telephony_line_answer_voicemail_password_input_label"></span>
                    <div flat-input-container class="col-md-8">
                        <input class="form-control"
                               name="password"
                               type="password"
                               maxlength="4"
                               placeholder="{{:: 'telephony_line_answer_voicemail_password_input_placeholder' | translate }}"
                               data-ng-model="VoicemailPasswordCtrl.password"
                               data-ng-disabled="VoicemailPasswordCtrl.success"
                               data-ng-pattern="/^[0-9]{4}$/"
                               required
                               autofocus />
                        <span class="text-danger" data-ng-if="voicemailPasswordForm.password.$dirty && voicemailPasswordForm.password.$error.pattern" data-translate="telephony_line_answer_voicemail_password_input_length_warning"></span>
                    </div>
                </div>

                <!-- password confirmation input -->
                <div class="row top-space-m16" data-ng-if="voicemailPasswordForm.password.$valid">
                    <span class="col-md-4 top-space-m4" data-translate="telephony_line_answer_voicemail_passwordConfirm_input_label"></span>
                    <div flat-input-container class="col-md-8" data-ng-if="voicemailPasswordForm.password.$valid">
                        <input class="form-control"
                               name="passwordConfirm"
                               type="password"
                               maxlength="4"
                               placeholder="{{:: 'telephony_line_answer_voicemail_passwordConfirm_input_placeholder' | translate }}"
                               data-ng-model="VoicemailPasswordCtrl.passwordConfirm"
                               data-ng-disabled="VoicemailPasswordCtrl.success"
                               data-ng-change="VoicemailPasswordCtrl.checkPasswordConfirm(voicemailPasswordForm)"
                               required />
                        <span data-ng-if="voicemailPasswordForm.passwordConfirm.$dirty && voicemailPasswordForm.passwordConfirm.$error.matching" data-translate="telephony_line_answer_voicemail_password_matching_warning"></span>
                    </div>
                </div>

                <!-- submit button -->
                <div class="row top-space-m16">
                    <div class="col-md-offset-4 col-md-6">
                        <button type="submit"
                                class="btn btn-sm btn-primary"
                                data-ng-disabled="voicemailPasswordForm.$invalid || VoicemailPasswordCtrl.submitting || VoicemailPasswordCtrl.success">
                            <span data-ng-if="VoicemailPasswordCtrl.success" data-translate="telephony_line_answer_voicemail_password_change_success"></span>
                            <i data-ng-if="VoicemailPasswordCtrl.success" class="ovh-font ovh-font-check left-space-m4"></i>
                            <span data-ng-if="!VoicemailPasswordCtrl.success" data-translate="telephony_line_answer_voicemail_password_apply"></span>
                            <spinner class="left-space-m8" data-ng-if="VoicemailPasswordCtrl.submitting"></spinner>
                        </button>
                    </div>
                </div>
            </form>

            <div class="row top-space-m32">
                <p class="col-xs-12 text-info">
                    <i class="ovh-font ovh-font-info right-space-m4 line-height-normal"></i>
                    <span data-translate="telephony_line_answer_voicemail_password_info"></span>
                </p>
            </div>

        </div> <!-- left column -->

        <div class="col-md-6" data-ng-if="VoicemailPasswordCtrl.options">
            <div class="widget-presentation bottom-space-m32">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_password_number_info"></h2>
            </div>
            <div class="row">
                <span class="col-xs-4" data-translate="telephony_line_answer_voicemail_password_number_internal"></span>
                <span class="col-xs-8"><strong data-ng-bind=":: VoicemailPasswordCtrl.options.voicemailInternalNumber | phoneNumber"></strong></span>
            </div>
            <div class="row top-space-m4">
                <span class="col-xs-4" data-translate="telephony_line_answer_voicemail_password_number_external"></span>
                <span class="col-xs-8"><strong data-ng-bind=":: VoicemailPasswordCtrl.options.voicemailExternalNumber | phoneNumber"></strong></span>
            </div>
        </div> <!-- right column -->

    </div> <!-- content row -->

</section>
