<section class="telecom-telephony-group-manage">

    <header class="telecom-nav">
        <!-- GROUP ACTIONS -->
        <nav>
            <responsive-tabs>

                <responsive-tab data-state="telecom.telephony.BillingAccount.manage.administration"
                                data-dropdown-title="{{ 'telephony_group_manage_tab_admin' | translate }}">
                    <span data-translate="telephony_group_manage_tab_admin"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.BillingAccount.manage.billing"
                                data-dropdown-title="{{ 'telephony_group_manage_tab_billing' | translate }}">
                    <span data-translate="telephony_group_manage_tab_billing"></span>
                </responsive-tab>

                <responsive-tab data-url="{{ TelecomTelephonyBillingAccountManageCtrl.links.contactList }}"
                                data-dropdown-title="{{ 'telephony_group_manage_tab_contacts_book' | translate }}"
                                data-disabled="TelecomTelephonyBillingAccountManageCtrl.loading.init"
                                data-target="_blank">
                    <span data-translate="telephony_group_manage_tab_contacts_book"></span>
                </responsive-tab>

                <responsive-tab data-url="{{ TelecomTelephonyBillingAccountManageCtrl.links.shortNumbers }}"
                                data-dropdown-title="{{ 'telephony_group_manage_tab_short_numbers' | translate }}"
                                data-disabled="TelecomTelephonyBillingAccountManageCtrl.loading.init"
                                data-target="_blank">
                    <span data-translate="telephony_group_manage_tab_short_numbers"></span>
                </responsive-tab>

                <responsive-tab data-url="{{ TelecomTelephonyBillingAccountManageCtrl.links.contactManagement }}"
                                data-dropdown-title="{{ 'telephony_group_manage_tab_contacts_manage' | translate }}"
                                data-disabled="TelecomTelephonyBillingAccountManageCtrl.loading.init"
                                data-target="_blank">
                    <span data-translate="telephony_group_manage_tab_contacts_manage"></span>
                </responsive-tab>

                <responsive-tab-more>
                    <i class="fa fa-plus"></i>
                </responsive-tab-more>
            </responsive-tabs>
        </nav>

        <!-- GROUP TITLE -->
        <h1 data-ng-if="!TelecomTelephonyBillingAccountManageCtrl.loading.init" class="ml-5">
            <span data-ng-hide="TelecomTelephonyBillingAccountManageCtrl.group.inEdition">{{ (TelecomTelephonyBillingAccountManageCtrl.group.name || ('telephony_default_title' | translate )) | characters:25 :true}}</span>
        </h1>
    </header>

    <!-- LOADING -->
    <oui-loader data-ng-if="TelecomTelephonyBillingAccountManageCtrl.loading.init"
                data-size="m">
    </oui-loader>

    <div data-ui-view="groupManageView"
         data-ng-if="!TelecomTelephonyBillingAccountManageCtrl.loading.init"
         class="group-view">
    </div>

</section>
