
<div id="pack-xdsl-diagnostic">
    <!-- LOADING -->
    <oui-loader data-ng-if="XdslDiagnostic.status.init"
                data-size="m">
    </oui-loader>

    <!-- DIAG -->
    <div class="widget-presentation" data-ng-if="!XdslDiagnostic.status.init">
        <h2 class="widget-presentation-title" data-translate="pack_xdsl_access_diagnostic_title"></h2>

        <button type="button"
                class="btn btn-primary mb-3"
                data-ng-click="XdslDiagnostic.launchDiagnostic()"
                data-ng-disabled="(XdslDiagnostic.status.diagnosticRunning) || (XdslDiagnostic.diagnostic.remaining === 0)">
            <span data-translate="pack_xdsl_access_diagnostic_launch"></span>
            <span data-ng-if="XdslDiagnostic.diagnostic.remaining">
                <span>- </span>
                <span data-translate="pack_xdsl_access_diagnostic_remaining"
                      data-translate-values="{value:XdslDiagnostic.diagnostic.remaining}"></span>
            </span>
        </button>

        <div data-ng-if="XdslDiagnostic.diagnostic">
            <!-- General diagnostic -->
            <h3 data-translate="pack_xdsl_access_diagnostic_general"></h3>
            <div data-ng-if="XdslDiagnostic.incident" data-translate="pack_xdsl_access_diagnostic_access_incident_ongoing"></div>

            <!-- Time -->
            <div class="row">
                <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_time"></div>
                <div class="col-xs-12 col-md-9 service-item" data-ng-bind="XdslDiagnostic.diagnostic.diagnosticTime | date:'hh:mm:ss'"></div>
            </div>

            <!-- isModemconnected -->
            <div class="row" data-ng-if="XdslDiagnostic.diagnostic.capabilities.isModemConnected">
                <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_modem_connected"></div>
                <div class="col-xs-12 col-md-9 service-item">
                    <oui-loader data-ng-if="XdslDiagnostic.diagnostic.isModemConnected===null"
                                data-size="s">
                    </oui-loader>
                    <div data-ng-if="XdslDiagnostic.diagnostic.isModemConnected===false">
                        <h6 class="ovh-font ovh-font-failure text-danger "
                              aria-hidden="true"></h6>
                         <span data-translate="pack_xdsl_access_diagnostic_modem_state_disconnected"></span>
                    </div>
                    <div data-ng-if="XdslDiagnostic.diagnostic.isModemConnected===true">
                        <h6 class="ovh-font ovh-font-success text-success "
                              aria-hidden="true"></h6>
                         <span data-translate="pack_xdsl_access_diagnostic_modem_state_connected"></span>
                    </div>
                </div>
            </div>

            <!-- isActiveOnLns -->
            <div class="row" data-ng-if="XdslDiagnostic.diagnostic.capabilities.isActiveOnLns">
                <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_active_on_lns"></div>
                <div class="col-xs-12 col-md-9 service-item">
                    <oui-loader data-ng-if="XdslDiagnostic.diagnostic.isActiveOnLns===null"
                                data-size="s">
                    </oui-loader>
                    <div data-ng-if="XdslDiagnostic.diagnostic.isActiveOnLns===false">
                        <h6 class="ovh-font ovh-font-failure text-danger "
                              aria-hidden="true"></h6>
                         <span data-translate="pack_xdsl_access_diagnostic_lns_active_ko"></span>
                    </div>
                    <div data-ng-if="XdslDiagnostic.diagnostic.isActiveOnLns===true">
                        <h6 class="ovh-font ovh-font-success text-success "
                              aria-hidden="true"></h6>
                         <span data-translate="pack_xdsl_access_diagnostic_lns_active_ok"></span>
                    </div>
                </div>
            </div>

            <!-- ping -->
            <div class="row" data-ng-if="XdslDiagnostic.diagnostic.capabilities.ping">
                <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_ping"></div>
                <div class="col-xs-12 col-md-9 service-item">
                    <oui-loader data-ng-if="XdslDiagnostic.diagnostic.ping===null"
                                data-size="s">
                    </oui-loader>
                    <div data-ng-if="XdslDiagnostic.diagnostic.ping===false">
                        <h6 class="ovh-font ovh-font-failure text-danger "
                              aria-hidden="true"></h6>
                         <span data-translate="pack_xdsl_access_diagnostic_ping_ko"></span>
                    </div>
                    <div data-ng-if="XdslDiagnostic.diagnostic.ping===true">
                        <h6 class="ovh-font ovh-font-success text-success "
                              aria-hidden="true"></h6>
                         <span data-translate="pack_xdsl_access_diagnostic_ping_ok"></span>
                    </div>
                </div>
            </div>

            <div data-ng-if="XdslDiagnostic.diagnostic.mainLine">
                <!-- sync -->
                <div class="row" data-ng-if="XdslDiagnostic.diagnostic.capabilities.sync">
                    <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_line_sync"></div>
                    <div class="col-xs-12 col-md-9 service-item">
                        <oui-loader data-ng-if="XdslDiagnostic.diagnostic.mainLine===null"
                                    data-size="s">
                        </oui-loader>
                        <div data-ng-if="XdslDiagnostic.diagnostic.mainLine.sync===false">
                            <h6 class="ovh-font ovh-font-failure text-danger "
                                  aria-hidden="true"></h6>
                             <span data-translate="pack_xdsl_access_diagnostic_line_sync_ko"></span>
                        </div>
                        <div data-ng-if="XdslDiagnostic.diagnostic.mainLine.sync===true">
                            <h6 class="ovh-font ovh-font-success text-success "
                                  aria-hidden="true"></h6>
                             <span data-translate="pack_xdsl_access_diagnostic_line_sync_ok"></span>
                        </div>
                    </div>
                </div>

                <!-- currentProfileId -->
                <div data-ng-if="XdslDiagnostic.diagnostic.capabilities.proposedProfileId && (XdslDiagnostic.diagnostic.mainLine.proposedProfile.name !== XdslDiagnostic.diagnostic.mainLine.currentProfile.name)">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_line_current_profile_id"></div>
                        <div class="col-xs-12 col-md-9 service-item" data-ng-bind="XdslDiagnostic.diagnostic.mainLine.currentProfile.name"></div>
                    </div>

                    <!-- proposedProfileId -->
                    <div class="row">
                        <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_line_proposed_profile_id"></div>
                        <div class="col-xs-12 col-md-9 service-item" data-ng-bind="XdslDiagnostic.diagnostic.mainLine.proposedProfile.name"></div>
                    </div>
                </div>

                <!-- lineTest -->
                <div class="row" data-ng-if="XdslDiagnostic.diagnostic.capabilities.lineTest">
                    <div class="col-xs-12 col-md-3 service-title" data-translate="pack_xdsl_access_diagnostic_line_line_test"></div>
                    <div class="col-xs-12 col-md-9 service-item" data-ng-if="XdslDiagnostic.diagnostic.mainLine.lineTest">
                        {{ ('pack_xdsl_access_diagnostic_line_line_test_' + XdslDiagnostic.diagnostic.mainLine.lineTest) | translate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5" data-ng-if="XdslDiagnostic.isVIP">
            <h2 class="widget-presentation-title" data-translate="pack_xdsl_access_diagnostic_wizard_title"></h2>
            <div>
                <label>
                    <input type="radio"
                        name="wizardType"
                        value="type1"
                        data-ng-model="XdslDiagnostic.wizardTypeSelection">
                    <span class="ml-2" data-translate="pack_xdsl_access_diagnostic_wizard_radio_probleme1"></span>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio"
                        name="wizardType"
                        value="type2"
                        data-ng-model="XdslDiagnostic.wizardTypeSelection">
                    <span class="ml-2" data-translate="pack_xdsl_access_diagnostic_wizard_radio_probleme2"></span>
                </label>
            </div>
            <div>
                <label>
                    <input type="radio"
                        name="wizardType"
                        value="type3"
                        data-ng-model="XdslDiagnostic.wizardTypeSelection">
                    <span class="ml-2" data-translate="pack_xdsl_access_diagnostic_wizard_radio_probleme3"></span>
                </label>
            </div>

            <a data-ng-disabled="!XdslDiagnostic.wizardTypeSelection"
                data-ui-sref="telecom.pack.xdsl.line-diagnostic({'type':XdslDiagnostic.wizardTypeSelection!=='type3'?'noSync':'alignment'})"
                class="btn btn-primary mt-3"
                data-translate="pack_xdsl_access_diagnostic_assistant_launch"></a>
        </div>

    </div>
</div>
