<section class="telecom-telephony-line-phone-codec">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line.phone"
                           section-back-link-title="{{ 'telephony_group_line_phone_section_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_line_phone_codec_title"></h1>
    </header>

    <bouncing-box-loader data-ng-if="CodecCtrl.loading.init">
        <h3 class="top-space-m16"
            data-translate="loading">
        </h3>
    </bouncing-box-loader>

    <div data-ng-if="!CodecCtrl.loading.init"
         class="telecom-section-content">

        <div class="alert alert-info">
            <i class="ovh-font ovh-font-filled-info"></i>
            <p data-translate="telephony_line_phone_codec_info1"></p>
            <p data-translate="telephony_line_phone_codec_info2"></p>
            <p data-translate="telephony_line_phone_codec_info3"></p>
            <p data-translate="telephony_line_phone_codec_info4"></p>
        </div>

        <dl class="dl-horizontal">
            <dt data-translate="telephony_line_phone_codec_current"></dt>
            <dd data-ng-bind="CodecCtrl.codecs ? CodecCtrl.codecs.value.split('_').join(', ') : ('telephony_line_phone_codec_no_selected' | translate )"></dd>

            <dt data-ng-if="CodecCtrl.isAutomaticCodecEnabled()"
                data-translate="telephony_line_phone_codec_edit_codec_automatic">
            </dt>
            <dd data-ng-if="CodecCtrl.isAutomaticCodecEnabled()"
                data-translate="{{ CodecCtrl.codecs.isAutomaticActivated ? 'telephony_line_phone_codec_edit_codec_automatic_yes' : 'telephony_line_phone_codec_edit_codec_automatic_no' }}">
            </dd>
        </dl>

        <button class="btn btn-primary"
                type="button"
                data-translate="telephony_line_phone_codec_edit"
                data-ng-click="CodecCtrl.editCodec()">
        </button>

    </div>

</section>
