<form class="ovh-form-flat telecom-scheduler-bank-holidays"
      name="schdulerBankHolidaysForm"
      data-ng-submit="SchedulerHolidaysCtrl.manageInject()">

    <div class="modal-header">
        <h3 class="modal-title pull-left"
            data-translate="telephony_scheduler_bank_holidays_title">
        </h3>
        <button type="button"
                class="close pull-right"
                aria-label="{{'cancel'|translate}}"
                data-ng-click="SchedulerHolidaysCtrl.cancel()"
                data-ng-disabled="SchedulerHolidaysCtrl.loading.export || SchedulerHolidaysCtrl.status.exported">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body clearfix"
         data-ng-if="!SchedulerHolidaysCtrl.loading.init">

        <div class="row">
            <!-- "FILTERS" -->
            <div class="col-xs-3">
                <!-- COUNTRY -->
                <div class="form-group clearfix">
                    <label for="countryChoice"
                           data-translate="common_country">
                    </label>
                    <select data-flat-select
                            id="countryChoice"
                            name="countryChoice"
                            class="form-control"
                            data-ng-model="SchedulerHolidaysCtrl.model.country"
                            data-ng-options="country.value as country.label for country in SchedulerHolidaysCtrl.countryList | orderBy:'label'"
                            data-ng-change="SchedulerHolidaysCtrl.refreshBankHolidaysList()">
                    </select>
                </div> <!-- COUNTRY -->

                <!-- YEAR -->
                <div class="form-group clearfix">
                    <label data-translate="telephony_scheduler_bank_holidays_year"></label>
                    <div class="btn-group-vertical full-width"
                         role="group"
                         data-translate-attr="{ 'aria-label': 'telephony_scheduler_bank_holidays_year_aria_label' }">
                        <button class="btn btn-default"
                                type="button"
                                data-ng-class="{ active: SchedulerHolidaysCtrl.model.year === year }"
                                data-ng-repeat="year in SchedulerHolidaysCtrl.yearList track by $index"
                                data-ng-model="SchedulerHolidaysCtrl.model.year"
                                data-uib-btn-radio="'{{ year }}'">
                            <span data-ng-bind="year"></span>
                            <span data-ng-bind="'(' + SchedulerHolidaysCtrl.filterEvents(year).length + ')'"></span>
                        </button>
                    </div>
                </div> <!-- YEAR -->
            </div> <!-- "FILTERS" -->

            <!-- BANK HOLIDAYS LIST -->
            <div class="col-xs-9">
                <ul class="bank-holidays-list list-group dtable full-width no-space">
                    <li class="bank-holiday-item dtr"
                        data-ng-repeat="bankHoliday in SchedulerHolidaysCtrl.holidaysLists[SchedulerHolidaysCtrl.model.year] track by $index">
                        <label class="full-width"
                               data-translate-attr="{ title: bankHoliday.disabled ? 'telephony_scheduler_bank_holidays_already_in_schedular' : '' }">
                            <div class="dtd vertical-middle text-center">
                                <flat-checkbox>
                                    <input type="checkbox"
                                           name="bankHoliday-{{ bankHoliday.name }}"
                                           data-ng-model="bankHoliday.active"
                                           data-ng-disabled="bankHoliday.disabled" />
                                </flat-checkbox>
                            </div>
                            <div class="dtd vertical-middle">
                                <strong class="block"
                                        data-translate="{{ 'telephony_scheduler_bank_holidays_' + bankHoliday.name }}">
                                </strong>
                                <span data-ng-bind="bankHoliday.date.format() | date:'fullDate'"></span>
                            </div>
                        </label>
                    </li>
                </ul>
            </div> <!-- BANK HOLIDAYS LIST -->

        </div>

    </div>

    <div class="modal-body clearfix"
         data-ng-if="SchedulerHolidaysCtrl.loading.init">
        <bouncing-box-loader>
            <h4 data-translate="telephony_scheduler_export_doing"></h4>
        </bouncing-box-loader>
    </div>

    <div class="modal-footer top-space-m4">
        <button type="submit"
                class="btn btn-primary pull-right left-space-m4"
                data-translate="telephony_scheduler_bank_holidays_inject"
                data-translate-values="{ count: SchedulerHolidaysCtrl.filterEvents().length }"
                data-ng-disabled="SchedulerHolidaysCtrl.loading.init">
        </button>

        <button type="button"
                class="btn btn-default pull-right"
                data-translate="cancel"
                data-ng-click="SchedulerHolidaysCtrl.cancel()"
                data-ng-disabled="SchedulerHolidaysCtrl.loading.init">
        </button>
    </div>

</form>
