<form name="addReceiversListsForm"
      id="addReceiversListsForm"
      class="ovh-form-flat"
      data-ng-submit="AddReceiversListsCtrl.add()">

    <div class="modal-header">
        <h3 class="modal-title pull-left"
            data-translate="sms_sms_compose_add_receivers_lists_title">
        </h3>
        <button
            type="button"
            class="close pull-right"
            aria-label="{{ ::'cancel' | translate }}"
            data-ng-click="AddReceiversListsCtrl.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body" data-ng-if="!AddReceiversListsCtrl.loading.addReceiversLists && !AddReceiversListsCtrl.added">

        <p data-translate="sms_sms_compose_add_receivers_select_lists"></p>

        <div class="form-group bottom-space-m12"
             data-ng-repeat="receiver in AddReceiversListsCtrl.model.receivers | orderBy:'description'">
            <label class="block pointer">
                <flat-checkbox>
                    <input
                        type="checkbox"
                        name="receiver{{ receiver.slotId }}"
                        id="receiver{{ receiver.slotId }}"
                        data-ng-model="receiver.isSelected" />
                </flat-checkbox>
                <span class="left-space-m8"
                      data-ng-bind-html="(receiver.records > 1 ? 'sms_sms_compose_add_receivers_label_plural' : 'sms_sms_compose_add_receivers_label') | translate:{
                          description: receiver.description,
                          records: (receiver.records | number:0)
                      }">
                </span>
            </label>
        </div>

    </div>

    <div class="modal-body" data-ng-if="AddReceiversListsCtrl.loading.addReceiversLists && !AddReceiversListsCtrl.added">
        <bouncing-box-loader>
            <h4 data-translate="sms_sms_compose_add_receivers_adding"></h4>
        </bouncing-box-loader>
    </div>

    <div class="modal-body" data-ng-if="AddReceiversListsCtrl.added">
        <success-drawing-check data-draw-success-check="AddReceiversListsCtrl.added">
            <h4 data-translate="sms_sms_compose_add_receivers_added"></h4>
        </success-drawing-check>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-ng-click="AddReceiversListsCtrl.cancel()"
            data-translate="cancel"
            data-ng-disabled="AddReceiversListsCtrl.loading.addReceiversLists || AddReceiversListsCtrl.added">
        </button>
        <button
            type="submit"
            class="btn btn-primary"
            data-ng-disabled="addReceiversListsForm.$invalid || (!AddReceiversListsCtrl.hasSelected() && !addReceiversListsForm.$dirty) || AddReceiversListsCtrl.loading.addReceiversLists || AddReceiversListsCtrl.added"
            data-translate="submit">
        </button>
    </div>
</form>
