.opened-rma {
  margin: 20px;
}

.rma-line {
  margin-bottom: 10px;
}

.rma-detail-label {
  color: #59697D;
  line-height: 1.5;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 400;
}

.rma-detail-value {
  display: inline;
}
