<section class="telephony-group-service-voicemail-options">


    <div data-ng-if="VoicemailOptionsCtrl.loading">
        <bouncing-box-loader>
            <h3 class="top-space-m16" data-translate="loading"></h3>
        </bouncing-box-loader>
    </div>

    <div class="row" data-ng-if="!VoicemailOptionsCtrl.loading && VoicemailOptionsCtrl.settings">

        <!-- RECORDING -->
        <div class="col-md-6 bottom-space-m32" data-ng-if="VoicemailOptionsCtrl.settings">
            <div class="widget-presentation bottom-space-m32">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_options_recording_title"></h2>
            </div>
            <form name="voicemailRecordingForm"
                  class="form-horizontal ovh-form-flat"
                  data-ng-submit="VoicemailOptionsCtrl.updateRecording()"
                  novalidate>
                <div class="row bottom-space-m16">
                    <span class="col-xs-7" data-translate="telephony_line_answer_voicemail_options_recording"></span>
                    <div class="col-xs-5">
                        <flat-checkbox>
                            <input type="checkbox"
                                   class="form-control"
                                   data-ng-model="VoicemailOptionsCtrl.recordingForm.doNotRecord"
                                   data-ng-disabled="VoicemailOptionsCtrl.recordingForm.isUpdating ||
                                                     VoicemailOptionsCtrl.recordingForm.isSuccess"
                                   data-ng-true-value="false"
                                   data-ng-false-value="true" />
                        </flat-checkbox>
                    </div>
                </div>
                <div class="row">
                    <span class="col-sm-7" data-translate="telephony_line_answer_voicemail_options_greetings"></span>
                    <div class="col-sm-5">
                        <div data-ng-if="VoicemailOptionsCtrl.greetings && !VoicemailOptionsCtrl.recordingForm.uploadedFile && !VoicemailOptionsCtrl.recordingForm.isUpdating">
                            <p>
                                <span>{{ 'telephony_line_answer_voicemail_options_recording_' + VoicemailOptionsCtrl.greetings.dir | translate }}&nbsp;:</span>
                                <a data-ng-href="{{ VoicemailOptionsCtrl.greetings.url }}">
                                   <span data-ng-bind="VoicemailOptionsCtrl.settings.annouceMessage"></span>
                                </a>
                            </p>
                        </div>
                        <div>
                            <input-file data-ng-model="VoicemailOptionsCtrl.recordingForm.uploadedFile"
                                        data-ng-accept="audio/*"
                                        data-ng-accept-filter="VoicemailOptionsCtrl.checkValidAudioExtention(file)">
                                <i class="fa fa-upload right-space-m4"></i>
                                <span data-translate="telephony_line_answer_voicemail_options_recording_file"></span>
                            </input-file>
                        </div>
                        <div data-ng-if="VoicemailOptionsCtrl.recordingForm.uploadedFile && !VoicemailOptionsCtrl.recordingForm.isUpdating">
                            <select flat-select
                                class="form-control top-space-m4"
                                data-ng-model="VoicemailOptionsCtrl.recordingForm.dir"
                                required>
                                <option value="greet" data-translate="telephony_line_answer_voicemail_options_recording_greet"></option>
                                <option value="unavail" data-translate="telephony_line_answer_voicemail_options_recording_unavail"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row top-space-m16">
                    <div class="col-xs-12">
                        <button type="submit"
                                class="btn btn-sm btn-primary"
                                data-ng-disabled="voicemailRecordingForm.$invalid ||
                                                  !VoicemailOptionsCtrl.recordingChanged() ||
                                                  VoicemailOptionsCtrl.recordingForm.isUpdating">
                            <span data-ng-if="!VoicemailOptionsCtrl.recordingForm.isSuccess"
                                  data-translate="telephony_line_answer_voicemail_options_update"></span>
                            <span data-ng-if="VoicemailOptionsCtrl.recordingForm.isSuccess"
                                  data-translate="telephony_line_answer_voicemail_options_update_success"></span>
                            <i data-ng-if="VoicemailOptionsCtrl.recordingForm.isSuccess" class="ovh-font ovh-font-success fs14 left-space-m4"></i>
                            <spinner class="left-space-m8" data-ng-if="VoicemailOptionsCtrl.recordingForm.isUpdating"></spinner>
                        </button>
                    </div>
                </div>
            </form>
        </div>


        <!-- EMAIL SETTINGS -->
        <div class="col-md-6">
            <div class="widget-presentation bottom-space-m32">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_options_mail_title"></h2>
            </div>
            <p class="text-info text-center top-space-m32 bottom-space-m32"
               data-ng-if="VoicemailOptionsCtrl.settings.redirectionEmails.length === 0">
                <i class="ovh-font ovh-font-info right-space-m4"></i>
                <span data-translate="telephony_line_answer_voicemail_options_mail_empty"></span>
            </p>
            <div class="row bottom-space-m16"
                 data-ng-repeat="redirection in VoicemailOptionsCtrl.settings.redirectionEmails">
                <span class="col-xs-5 top-space-m4"
                      data-ng-bind="redirection.email"></span>
                <span class="col-xs-5 top-space-m4"
                      data-ng-bind="'telephony_line_answer_voicemail_options_mail_type_' + redirection.type | translate"></span>
                <div class="col-xs-2">
                    <button class="btn btn-sm btn-default pull-right"
                            type="button"
                            data-ng-disabled="VoicemailOptionsCtrl.notificationForm.isUpdating ||
                                              VoicemailOptionsCtrl.emailForm.isAdding ||
                                              VoicemailOptionsCtrl.emailForm.isRemoving"
                            data-ng-click="VoicemailOptionsCtrl.removeEmail(redirection)">
                        <i class="ovh-font ovh-font-bin" data-ng-if="!redirection.removing"></i>
                        <spinner data-ng-if="redirection.removing"></spinner>
                    </button>
                </div>
            </div>
            <div class="row bottom-space-m8" data-ng-if="VoicemailOptionsCtrl.emailForm.isShown">
                <form name="emailForm" class="form-horizontal ovh-form-flat" data-ng-submit="VoicemailOptionsCtrl.addEmail()" novalidate>
                    <div flat-input-container class="col-md-6">
                        <input class="form-control"
                               type="email"
                               data-ng-model="VoicemailOptionsCtrl.emailForm.email"
                               placeholder="{{:: 'telephony_line_answer_voicemail_options_mail' | translate }}"
                               autofocus
                               required />
                    </div>
                    <div class="col-md-6">
                        <select flat-select
                            class="form-control"
                            data-ng-model="VoicemailOptionsCtrl.emailForm.type"
                            data-ng-options="option as ('telephony_line_answer_voicemail_options_mail_type_' + option | translate) for option in VoicemailOptionsCtrl.enums.mailOption"
                            required>
                            <option value="" data-translate="telephony_line_answer_voicemail_options_mail_type"></option>
                        </select>
                    </div>
                    <div class="col-md-12 top-space-m8">
                        <button type="submit"
                                data-ng-disabled="emailForm.$invalid ||
                                                  VoicemailOptionsCtrl.emailForm.isAdding ||
                                                  VoicemailOptionsCtrl.emailForm.isRemoving"
                                class="btn btn-sm btn-primary">
                            <span data-translate="telephony_line_answer_voicemail_options_mail_add_confirm"></span>
                            <spinner data-ng-if="VoicemailOptionsCtrl.emailForm.isAdding"></spinner>
                        </button>
                        <button type="cancel"
                                class="btn btn-sm btn-default left-space-m4"
                                data-ng-disabled="VoicemailOptionsCtrl.emailForm.isAdding"
                                data-ng-click="VoicemailOptionsCtrl.cancelAddEmail()">
                            <span data-translate="telephony_line_answer_voicemail_options_mail_cancel"></span>
                        </button>
                    </div>
                </form>
            </div>
            <button type="button"
                    class="btn btn-sm btn-primary no-transition bottom-space-m32"
                    data-ng-if="!VoicemailOptionsCtrl.emailForm.isShown && VoicemailOptionsCtrl.settings.redirectionEmails.length < 5"
                    data-ng-disabled="VoicemailOptionsCtrl.emailForm.isRemoving || VoicemailOptionsCtrl.notificationForm.isUpdating"
                    data-ng-click="VoicemailOptionsCtrl.emailForm.isShown = true">
                <span data-translate="telephony_line_answer_voicemail_options_mail_add"></span>
            </button>
            <p class="text-info top-space-m32 bottom-space-m32"
               data-ng-if="VoicemailOptionsCtrl.settings.redirectionEmails.length >= 5">
                <i class="ovh-font ovh-font-info right-space-m4"></i>
                <span data-translate="telephony_line_answer_voicemail_options_mail_limit"></span>
            </p>
        </div> <!-- email settings -->

    </div><!-- row -->

    <div class="row" data-ng-if="!VoicemailOptionsCtrl.loading && VoicemailOptionsCtrl.settings">

        <!-- NOTIFICATION SETTINGS -->
        <div class="col-md-6">
            <div class="widget-presentation bottom-space-m32">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_line_answer_voicemail_options_notification"></h2>
            </div>
            <form name="voicemailNotificationForm"
                  class="form-horizontal ovh-form-flat"
                  data-ng-submit="VoicemailOptionsCtrl.updateSettings()"
                  novalidate>
                <div class="row">
                    <span class="col-sm-7" data-translate="telephony_line_answer_voicemail_options_audioformat"></span>
                    <div class="col-sm-5">
                        <select flat-select
                                class="form-control"
                                data-ng-model="VoicemailOptionsCtrl.notificationForm.audioFormat"
                                data-ng-disabled="VoicemailOptionsCtrl.notificationForm.isSuccess"
                                data-ng-options="format as (format | uppercase) for format in VoicemailOptionsCtrl.enums.audioFormat">
                        </select>
                    </div>
                </div>
                <div class="row top-space-m16">
                    <span class="col-xs-7" data-translate="telephony_line_answer_voicemail_options_keep_message"></span>
                    <div class="col-xs-5">
                        <flat-checkbox>
                            <input type="checkbox"
                                   class="form-control"
                                   data-ng-model="VoicemailOptionsCtrl.notificationForm.keepMessage"
                                   data-ng-disabled="VoicemailOptionsCtrl.notificationForm.isSuccess" />
                        </flat-checkbox>
                    </div>
                </div>
                <div class="row top-space-m16">
                    <span class="col-sm-7" data-translate="telephony_line_answer_voicemail_options_sender_name"></span>
                    <div class="col-sm-5">
                        <div flat-input-container>
                            <input type="text"
                                   class="form-control"
                                   data-ng-model="VoicemailOptionsCtrl.notificationForm.fromName"
                                   data-ng-disabled="VoicemailOptionsCtrl.notificationForm.isSuccess" />
                        </div>
                    </div>
                </div>
                <div class="row top-space-m16">
                    <span class="col-sm-7" data-translate="telephony_line_answer_voicemail_options_sender_mail"></span>
                    <div class="col-sm-5">
                        <div flat-input-container>
                            <input type="email"
                                   class="form-control"
                                   data-ng-model="VoicemailOptionsCtrl.notificationForm.fromEmail"
                                   data-ng-disabled="VoicemailOptionsCtrl.notificationForm.isSuccess" />
                        </div>
                    </div>
                </div>
                <div class="row top-space-m16 bottom-space-m16">
                    <div class="col-xs-12">
                        <button type="submit"
                                class="btn btn-sm btn-primary"
                                data-ng-disabled="!VoicemailOptionsCtrl.notificationChanged() ||
                                                  VoicemailOptionsCtrl.notificationForm.isUpdating ||
                                                  VoicemailOptionsCtrl.notificationForm.isSuccess ||
                                                  VoicemailOptionsCtrl.emailForm.isAdding ||
                                                  VoicemailOptionsCtrl.emailForm.isRemoving">
                            <span data-ng-if="!VoicemailOptionsCtrl.notificationForm.isSuccess"
                                  data-translate="telephony_line_answer_voicemail_options_update"></span>
                            <span data-ng-if="VoicemailOptionsCtrl.notificationForm.isSuccess"
                                  data-translate="telephony_line_answer_voicemail_options_update_success"></span>
                            <i data-ng-if="VoicemailOptionsCtrl.notificationForm.isSuccess" class="ovh-font ovh-font-success fs14 left-space-m4"></i>
                            <spinner class="left-space-m8" data-ng-if="VoicemailOptionsCtrl.notificationForm.isUpdating"></spinner>
                        </button>
                    </div>
                </div>
            </form>
        </div> <!-- notification settings -->

    </div>

</section>
