<div class="telecom-welcoming">
    <div class="telecom-section-content">
        <div class="row" data-ng-if="Welcoming.loaders.init">
            <div class="col-xs-12">
                <bouncing-box-loader>
                    <h1 data-translate="loading"></h1>
                </bouncing-box-loader>
            </div>
        </div>
        <div class="row" data-ng-if="!Welcoming.loaders.init">
            <div class="col-xs-12 col-md-5">
                <div class="illuContainer">
                    <div class="telecom-welcoming-background-circle"></div>
                    <svg class="telecom-welcoming-dashed-circle" width="78%" viewBox="0 0 360 360">
                        <circle class="telecom-welcoming-dashed-blue" cx="180" cy="180" r="178"/>
                    </svg>
                    <div class="telecom-welcoming-sphere telecom-welcoming-sms">
                        <picto-sms stroke-color="'telecom-welcoming-stroke-blue'"></picto-sms>
                    </div>
                    <div class="telecom-welcoming-sphere telecom-welcoming-fax">
                        <picto-fax stroke-color="'telecom-welcoming-stroke-black'" fill-color="'telecom-welcoming-fill-black'"></picto-fax>
                    </div>
                    <div class="telecom-welcoming-sphere telecom-welcoming-ethernet">
                        <picto-ethernet stroke-color="'telecom-welcoming-stroke-white'"></picto-ethernet>
                    </div>
                    <div class="telecom-welcoming-sphere telecom-welcoming-otb">
                        <picto-otb stroke-color="'telecom-welcoming-stroke-black'" fill-color="'telecom-welcoming-fill-black'"></picto-otb>
                    </div>
                    <div class="telecom-welcoming-sphere telecom-welcoming-phone">
                        <picto-phone stroke-color="'telecom-welcoming-stroke-white'" fill-color="'telecom-welcoming-fill-white'"></picto-phone>
                    </div>
                    <div class="telecom-welcoming-computer">
                        <svg x="0px" y="0px" viewBox="0 0 298.1 227.8">
                           <g>
                               <path class="telecom-welcoming-fill-light-grey" d="M290.5,201H7.6c-4.2,0-7.6-3.4-7.6-7.6V7.6C0,3.4,3.4,0,7.6,0h282.8c4.2,0,7.6,3.4,7.6,7.6v185.7
                                   C298.1,197.6,294.7,201,290.5,201z"/>
                               <circle class="telecom-welcoming-fill-black" cx="149.1" cy="180.1" r="5.7"/>
                               <polygon class="telecom-welcoming-shadowed-computer" points="193,224 105.1,224 110.8,201 187.3,201 	"/>
                               <rect x="86" y="223.9" class="telecom-welcoming-fill-light-grey" width="126.1" height="3.8"/>
                               <polygon class="telecom-welcoming-shadow2-computer" points="187.8,203.7 187.3,201 110.8,201 108.7,210.1 	"/>
                           </g>
                           <g>
                               <rect x="54.6" y="15.9" class="telecom-welcoming-fill-white" width="235.8" height="144.6"/>
                               <rect x="7.6" y="7.6" class="telecom-welcoming-manager-topbar" width="282.7" height="8.3"/>
                               <rect x="7.6" y="15.9" class="telecom-welcoming-manager-sidebar" width="47.1" height="144.6"/>
                               <path class="telecom-welcoming-sidebar-icons" d="M15.9,34.1c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8S14.1,37,14.1,36C14.1,35,14.9,34.1,15.9,34.1 M15.9,33.6
                                   c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C18.2,34.7,17.2,33.6,15.9,33.6L15.9,33.6z"/>
                               <rect x="20.2" y="42.5" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <path class="telecom-welcoming-sidebar-icons" d="M15.9,41.6c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8s-1.8-0.8-1.8-1.8C14.1,42.4,14.9,41.6,15.9,41.6
                                   M15.9,41.1c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C18.2,42.1,17.2,41.1,15.9,41.1L15.9,41.1z"/>
                               <rect x="20.2" y="49.9" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <path class="telecom-welcoming-sidebar-icons" d="M15.9,49c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8s-1.8-0.8-1.8-1.8C14.1,49.8,14.9,49,15.9,49 M15.9,48.5
                                   c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C18.2,49.6,17.2,48.5,15.9,48.5L15.9,48.5z"/>
                               <rect x="20.2" y="57.3" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <path class="telecom-welcoming-sidebar-icons" d="M15.9,56.5c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8s-1.8-0.8-1.8-1.8C14.1,57.3,14.9,56.5,15.9,56.5
                                   M15.9,56c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C18.2,57,17.2,56,15.9,56L15.9,56z"/>
                               <rect x="20.2" y="64.8" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <path class="telecom-welcoming-sidebar-icons" d="M15.9,63.9c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8s-1.8-0.8-1.8-1.8C14.1,64.7,14.9,63.9,15.9,63.9
                                   M15.9,63.4c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C18.2,64.4,17.2,63.4,15.9,63.4L15.9,63.4z"/>
                               <rect x="20.2" y="72.2" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <path class="telecom-welcoming-sidebar-icons" d="M15.9,71.3c1,0,1.8,0.8,1.8,1.8c0,1-0.8,1.8-1.8,1.8s-1.8-0.8-1.8-1.8C14.1,72.1,14.9,71.3,15.9,71.3
                                   M15.9,70.8c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c1.3,0,2.3-1,2.3-2.3C18.2,71.9,17.2,70.8,15.9,70.8L15.9,70.8z"/>
                               <path class="telecom-welcoming-cmd-btn" d="M12.2,19.6h38.1c0.3,0,0.5,0.2,0.5,0.5v7.3c0,0.3-0.2,0.5-0.5,0.5H12.2c-0.3,0-0.5-0.2-0.5-0.5v-7.3
                                   C11.7,19.8,11.9,19.6,12.2,19.6z"/>
                               <path class="telecom-welcoming-flash-message" d="M62,19.6h221.7c0.3,0,0.5,0.2,0.5,0.5v19.6c0,0.3-0.2,0.5-0.5,0.5H62c-0.3,0-0.5-0.2-0.5-0.5V20.1
                                   C61.5,19.8,61.7,19.6,62,19.6z"/>
                               <rect x="20.2" y="22.8" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <rect x="64.8" y="24.7" class="telecom-welcoming-fill-black" width="134.5" height="2.3"/>
                               <rect x="61.3" y="49.9" class="telecom-welcoming-fill-black" width="84.5" height="4.1"/>
                               <rect x="61.3" y="63.9" class="telecom-welcoming-fill-black" width="55.7" height="2.5"/>
                               <rect x="65.4" y="74.9" class="telecom-welcoming-fill-black" width="5.9" height="1.7"/>
                               <rect x="89.1" y="74.9" class="telecom-welcoming-fill-black" width="13.3" height="1.7"/>
                               <rect x="113.7" y="74.9" class="telecom-welcoming-fill-black" width="17" height="1.7"/>
                               <rect x="65.4" y="82.7" class="telecom-welcoming-fill-grey" width="12.8" height="1.4"/>
                               <rect x="89.1" y="82.7" class="telecom-welcoming-fill-grey" width="13.8" height="1.4"/>
                               <rect x="113.7" y="82.7" class="telecom-welcoming-fill-grey" width="7.1" height="1.4"/>
                               <rect x="148.6" y="74.9" class="telecom-welcoming-fill-black" width="16" height="1.7"/>
                               <rect x="180.5" y="76" class="telecom-welcoming-fill-black" width="29.8" height="1.3"/>
                               <rect x="180.5" y="83.6" class="telecom-welcoming-fill-black" width="27.6" height="1.3"/>
                               <rect x="180.5" y="91.2" class="telecom-welcoming-fill-black" width="28.7" height="1.3"/>
                               <rect x="64.8" y="31.3" class="telecom-welcoming-fill-black" width="134.5" height="1.1"/>
                               <path class="telecom-welcoming-fill-white" d="M15.9,22.9c0.5,0,0.8,0.4,0.8,0.8s-0.4,0.8-0.8,0.8c-0.5,0-0.8-0.4-0.8-0.8S15.4,22.9,15.9,22.9 M15.9,22.4
                                   c-0.7,0-1.3,0.6-1.3,1.3s0.6,1.3,1.3,1.3c0.7,0,1.3-0.6,1.3-1.3S16.6,22.4,15.9,22.4L15.9,22.4z"/>
                               <rect x="20.2" y="35" class="telecom-welcoming-fill-white" width="17" height="1.9"/>
                               <rect x="64.8" y="34.8" class="telecom-welcoming-fill-light-blue" width="20.5" height="1.1"/>
                               <line class="telecom-welcoming-stroke-light-blue" x1="61.3" y1="68.9" x2="167.7" y2="68.9"/>
                               <rect x="176.9" y="63.9" class="telecom-welcoming-fill-black" width="55.7" height="2.5"/>
                               <line class="telecom-welcoming-stroke-light-blue" x1="176.9" y1="68.9" x2="283.3" y2="68.9"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M154.5,89.1c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S153.7,89.1,154.5,89.1 M154.5,88.6
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S155.7,88.6,154.5,88.6L154.5,88.6z"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M162.5,89.1c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S161.7,89.1,162.5,89.1 M162.5,88.6
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S163.7,88.6,162.5,88.6L162.5,88.6z"/>
                               <rect x="65.4" y="90.2" class="telecom-welcoming-fill-grey" width="12.8" height="1.4"/>
                               <rect x="89.1" y="90.2" class="telecom-welcoming-fill-grey" width="13.8" height="1.4"/>
                               <rect x="113.7" y="90.2" class="telecom-welcoming-fill-grey" width="10" height="1.4"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M154.5,96.6c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S153.7,96.6,154.5,96.6 M154.5,96.1
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S155.7,96.1,154.5,96.1L154.5,96.1z"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M162.5,96.6c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S161.7,96.6,162.5,96.6 M162.5,96.1
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S163.7,96.1,162.5,96.1L162.5,96.1z"/>
                               <rect x="65.4" y="97.7" class="telecom-welcoming-fill-grey" width="12.8" height="1.4"/>
                               <rect x="89.1" y="97.7" class="telecom-welcoming-fill-grey" width="13.8" height="1.4"/>
                               <rect x="113.7" y="97.7" class="telecom-welcoming-fill-grey" width="7.1" height="1.4"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M154.5,104c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S153.7,104,154.5,104 M154.5,103.5
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S155.7,103.5,154.5,103.5L154.5,103.5z"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M162.5,104c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S161.7,104,162.5,104 M162.5,103.5
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S163.7,103.5,162.5,103.5L162.5,103.5z"/>
                               <rect x="65.4" y="105.1" class="telecom-welcoming-fill-grey" width="12.8" height="1.4"/>
                               <rect x="89.1" y="105.1" class="telecom-welcoming-fill-grey" width="13.8" height="1.4"/>
                               <rect x="113.7" y="105.1" class="telecom-welcoming-fill-grey" width="9.1" height="1.4"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M154.5,111.5c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S153.7,111.5,154.5,111.5 M154.5,111
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S155.7,111,154.5,111L154.5,111z"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M162.5,111.5c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S161.7,111.5,162.5,111.5 M162.5,111
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S163.7,111,162.5,111L162.5,111z"/>
                               <rect x="65.4" y="112.6" class="telecom-welcoming-fill-grey" width="12.8" height="1.4"/>
                               <rect x="89.1" y="112.6" class="telecom-welcoming-fill-grey" width="13.8" height="1.4"/>
                               <rect x="113.7" y="112.6" class="telecom-welcoming-fill-grey" width="10" height="1.4"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M154.5,119c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S153.7,119,154.5,119 M154.5,118.5
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S155.7,118.5,154.5,118.5L154.5,118.5z"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M162.5,119c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S161.7,119,162.5,119 M162.5,118.5
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S163.7,118.5,162.5,118.5L162.5,118.5z"/>
                               <rect x="65.4" y="120.1" class="telecom-welcoming-fill-grey" width="12.8" height="1.4"/>
                               <rect x="89.1" y="120.1" class="telecom-welcoming-fill-grey" width="13.8" height="1.4"/>
                               <rect x="113.7" y="120.1" class="telecom-welcoming-fill-grey" width="7.1" height="1.4"/>
                               <rect x="140.7" y="129.4" class="telecom-welcoming-fill-light-blue" width="26.8" height="1.4"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M154.5,81.6c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S153.7,81.6,154.5,81.6 M154.5,81.1
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S155.7,81.1,154.5,81.1L154.5,81.1z"/>
                               <path class="telecom-welcoming-fill-light-blue" d="M162.5,81.6c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6s-1.6-0.7-1.6-1.6S161.7,81.6,162.5,81.6 M162.5,81.1
                                   c-1.1,0-2.1,0.9-2.1,2.1s0.9,2.1,2.1,2.1s2.1-0.9,2.1-2.1S163.7,81.1,162.5,81.1L162.5,81.1z"/>
                               <path class="telecom-welcoming-fill-black" d="M278.6,75.3c0.7,0,1.3,0.6,1.3,1.3s-0.6,1.3-1.3,1.3s-1.3-0.6-1.3-1.3S277.9,75.3,278.6,75.3 M278.6,74.8
                                   c-1,0-1.8,0.8-1.8,1.8s0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8S279.6,74.8,278.6,74.8L278.6,74.8z"/>
                               <path class="telecom-welcoming-fill-black" d="M278.6,83c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3s-1.3-0.6-1.3-1.3C277.3,83.6,277.9,83,278.6,83
                                   M278.6,82.5c-1,0-1.8,0.8-1.8,1.8c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8C280.4,83.3,279.6,82.5,278.6,82.5L278.6,82.5z"/>
                               <path class="telecom-welcoming-fill-black" d="M278.6,90.6c0.7,0,1.3,0.6,1.3,1.3c0,0.7-0.6,1.3-1.3,1.3s-1.3-0.6-1.3-1.3C277.3,91.2,277.9,90.6,278.6,90.6
                                   M278.6,90.1c-1,0-1.8,0.8-1.8,1.8c0,1,0.8,1.8,1.8,1.8s1.8-0.8,1.8-1.8C280.4,90.9,279.6,90.1,278.6,90.1L278.6,90.1z"/>
                           </g>
                        </svg>

                    </div>
                    <div class="telecom-welcoming-mobile">
                        <svg x="0px" y="0px" viewBox="0 0 43.2 91.7">
                           <g>
                               <path class="telecom-welcoming-fill-black" d="M38.4,91.7H4.8c-2.6,0-4.8-2.1-4.8-4.8V5.5c0-2.6,2.1-4.8,4.8-4.8h33.6c2.6,0,4.8,2.1,4.8,4.8v81.4
                                   C43.2,89.6,41,91.7,38.4,91.7z"/>
                               <circle class="telecom-welcoming-fill-grey" cx="21.6" cy="85.1" r="4.6"/>
                               <circle class="telecom-welcoming-fill-grey" cx="21.6" cy="4.9" r="0.8"/>
                               <path class="telecom-welcoming-fill-grey" d="M25.4,9.4h-7.7c-0.4,0-0.8-0.3-0.8-0.8v0c0-0.4,0.3-0.8,0.8-0.8h7.7c0.4,0,0.8,0.3,0.8,0.8v0
                                   C26.2,9.1,25.9,9.4,25.4,9.4z"/>
                               <rect x="5.7" class="telecom-welcoming-fill-black" width="3.9" height="0.8"/>
                           </g>
                           <g>
                               <rect x="2.7" y="14.6" class="telecom-welcoming-fill-white" width="37.8" height="63.2"/>
                               <rect x="2.7" y="14.6" class="telecom-welcoming-manager-topbar" width="37.8" height="6.8"/>
                               <path class="telecom-welcoming-fill-white" d="M28.3,16.6c0.8,0,1.4,0.6,1.4,1.4s-0.6,1.4-1.4,1.4s-1.4-0.6-1.4-1.4S27.5,16.6,28.3,16.6 M28.3,16.1
                                   c-1.1,0-1.9,0.9-1.9,1.9c0,1.1,0.9,1.9,1.9,1.9s1.9-0.9,1.9-1.9C30.2,17,29.3,16.1,28.3,16.1L28.3,16.1z"/>
                               <path class="telecom-welcoming-fill-white" d="M35.9,16.6c0.8,0,1.4,0.6,1.4,1.4s-0.6,1.4-1.4,1.4s-1.4-0.6-1.4-1.4S35.1,16.6,35.9,16.6 M35.9,16.1
                                   c-1.1,0-1.9,0.9-1.9,1.9c0,1.1,0.9,1.9,1.9,1.9s1.9-0.9,1.9-1.9C37.8,17,37,16.1,35.9,16.1L35.9,16.1z"/>
                               <path class="telecom-welcoming-flash-message" d="M4.7,24.6h33.7c0.3,0,0.5,0.2,0.5,0.5V45c0,0.3-0.2,0.5-0.5,0.5H4.7c-0.3,0-0.5-0.2-0.5-0.5V25.1
                                   C4.2,24.8,4.4,24.6,4.7,24.6z"/>
                               <rect x="5.8" y="28" class="telecom-welcoming-fill-black" width="31.5" height="1.4"/>
                               <rect x="5.8" y="31.5" class="telecom-welcoming-fill-black" width="31.5" height="1.4"/>
                               <rect x="5.8" y="35.5" class="telecom-welcoming-fill-black" width="31.5" height="0.9"/>
                               <rect x="5.8" y="38" class="telecom-welcoming-fill-black" width="31.5" height="0.9"/>
                               <rect x="5.7" y="42" class="telecom-welcoming-fill-light-blue" width="16.7" height="0.9"/>
                               <rect x="4.2" y="51.4" class="telecom-welcoming-fill-black" width="34.7" height="2.4"/>
                               <rect x="4.2" y="58" class="telecom-welcoming-fill-black" width="33.1" height="1.2"/>
                               <line class="telecom-welcoming-stroke-light-blue" x1="4.2" y1="61.4" x2="38.9" y2="61.4"/>
                               <rect x="4.2" y="66.6" class="telecom-welcoming-fill-light-grey" width="34.7" height="11.3"/>
                               <rect x="5.8" y="69.3" class="telecom-welcoming-fill-black" width="4.1" height="0.9"/>
                               <rect x="5.8" y="71.4" class="telecom-welcoming-fill-grey" width="8.3" height="0.9"/>
                           </g>
                        </svg>
                    </div>
                </div>
            </div>
            <section class="col-xs-12 col-md-7">
                <h1 class="telecom-welcoming-title"
                    data-ng-if="!Welcoming.hasServices"
                    data-translate="telecom_welcoming_title_hasNoService"></h1>
                <h1 class="telecom-welcoming-title"
                    data-ng-if="Welcoming.hasServices"
                    data-translate="telecom_welcoming_title"></h1>
                <div class="telecom-welcoming-text">
                    <p data-translate="telecom_welcoming_text_hasNoService"
                        data-ng-if="!Welcoming.hasServices"></p>
                    <p data-translate="telecom_welcoming_text_hasServices_part1"
                        data-ng-if="Welcoming.hasServices"></p>
                    <p data-translate="telecom_welcoming_text_hasServices_part2"
                        data-ng-if="Welcoming.hasServices"></p>
                    <div data-ng-if="Welcoming.servicesCount.telephony || Welcoming.servicesCount.sms || Welcoming.servicesCount.fax">
                        <p data-translate="telecom_welcoming_text_hasTelephonyServices_part1"></p>
                        <p>
                            <span data-translate="telecom_welcoming_text_hasTelephonyServices_part2"></span>
                            <a class="linkToV4"
                               target="_blank"
                               data-ng-href="{{Welcoming.v4Url}}"
                               title="{{'sidebar_telephony_linkToV4' | translate}} {{::'common_newtab' | translate}}">
                                <span class="ovh-font ovh-font-backToV4 fs20" aria-hidden="true"></span>
                            </a>
                            <span data-translate="telecom_welcoming_text_hasTelephonyServices_part3"></span>
                        </p>
                    </div>
                    <p data-translate="telecom_welcoming_text_feedback"></p>
                </div>
                <div class="telecom-welcoming-link">
                    <a data-ng-href="{{Welcoming.webSite}}"
                        target="_blank"
                        title="{{::'telecom_welcoming_link_hasNoService' | translate}} {{::'common_newtab' | translate}}"
                        class="btn btn-link"
                        data-ng-if="!Welcoming.hasServices">
                        <span data-translate="telecom_welcoming_link_hasNoService"></span>
                        <span class="ovh-font ovh-font-newtab left-space-m4 fs14" aria-hidden="true"></span>
                    </a>
                    <a data-ui-sref="telecom.dashboard"
                        class="btn btn-primary"
                        data-translate="telecom_welcoming_link_hasServices"
                        data-ng-if="Welcoming.hasServices">
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
