<section class="telecom-telephony-service-assist-orders">

    <bouncing-box-loader data-ng-if="OrdersCtrl.orders.isLoading">
        <h3 data-translate="loading"
            class="top-space-m24">
        </h3>
    </bouncing-box-loader>

    <div data-ng-if="!OrdersCtrl.orders.isLoading">
        <header>
            <section-back-link section-back-link-to-state="{{ OrdersCtrl.service.isFax ? 'telecom.telephony.fax.assist' : 'telecom.telephony.line.assist' }}"
                               section-back-link-title="{{ 'telephony_service_assist_support_logs_title' | translate }}">
            </section-back-link>
            <h1 data-translate="telephony_line_assist_orders_title"></h1>
        </header>

        <div class="telecom-section-content">
            <div class="table-responsive-vertical">
                <table class="table table-pretty table-hover table-striped no-space">
                    <thead>
                        <tr>
                            <th scope="col">
                                <button
                                    type="button"
                                    class="no-style no-outline left-space-p0"
                                    data-ng-disabled="!OrdersCtrl.orders.paginated.length"
                                    data-ng-click="OrdersCtrl.orderBy('date')">
                                    <label class="pointer"
                                           data-translate="telephony_line_assist_orders_column_date">
                                    </label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': OrdersCtrl.orders.orderBy !== 'date',
                                            'fa-sort-desc': OrdersCtrl.orders.orderBy === 'date' && OrdersCtrl.orders.orderDesc,
                                            'fa-sort-asc': OrdersCtrl.orders.orderBy === 'date' && !OrdersCtrl.orders.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th scope="col">
                                <button
                                    type="button"
                                    class="no-style no-outline left-space-p0"
                                    data-ng-disabled="!OrdersCtrl.orders.paginated.length"
                                    data-ng-click="OrdersCtrl.orderBy('id')">
                                    <label class="pointer"
                                           data-translate="telephony_line_assist_orders_column_id">
                                    </label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': OrdersCtrl.orders.orderBy !== 'id',
                                            'fa-sort-desc': OrdersCtrl.orders.orderBy === 'id' && OrdersCtrl.orders.orderDesc,
                                            'fa-sort-asc': OrdersCtrl.orders.orderBy === 'id' && !OrdersCtrl.orders.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th scope="col">
                                <button
                                    type="button"
                                    class="no-style no-outline left-space-p0"
                                    data-ng-disabled="!OrdersCtrl.orders.paginated.length"
                                    data-ng-click="OrdersCtrl.orderBy('statusText')">
                                    <label class="pointer"
                                           data-translate="telephony_line_assist_orders_column_status">
                                    </label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': OrdersCtrl.orders.orderBy !== 'statusText',
                                            'fa-sort-desc': OrdersCtrl.orders.orderBy === 'statusText' && OrdersCtrl.orders.orderDesc,
                                            'fa-sort-asc': OrdersCtrl.orders.orderBy === 'statusText' && !OrdersCtrl.orders.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody data-ng-if="!OrdersCtrl.orders.isLoading">
                        <tr data-ng-repeat="order in OrdersCtrl.orders.paginated | orderBy:OrdersCtrl.orders.by:OrdersCtrl.orders.reverse">
                            <td data-ng-bind="order.date | date:'mediumDate'"></td>
                            <td data-ng-bind="order.orderId"></td>
                            <td data-ng-bind="order.statusText"></td>
                            <td>
                                <a class="btn btn-default"
                                   target="_blank"
                                   data-ng-href="{{:: order.url }}"
                                   data-translate-attr="{ title: 'telephony_line_assist_orders_order_url_title' }"
                                   data-translate-values="{ id: order.orderId }">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                    <span class="sr-only"
                                          data-translate="telephony_line_assist_orders_order_url_title"
                                          data-translate-values="{ id: order.orderId }">
                                    </span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="OrdersCtrl.orders.isLoading">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="4">
                                <spinner></spinner>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="!OrdersCtrl.orders.isLoading && !OrdersCtrl.orders.raw.length">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="4">
                                <span data-translate="telephony_line_assist_orders_empty"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-pretty-pagination top-space-m8"
                     data-ng-if="!OrdersCtrl.orders.isLoading && OrdersCtrl.orders.raw.length"
                     data-pagination-front
                     data-items="OrdersCtrl.orders.sorted"
                     data-paginated-items="OrdersCtrl.orders.paginated"
                     data-current-page="currentPage"
                     data-nb-pages="nbPages"
                     data-items-per-page="itemsPerPage"
                     data-page-placeholder="{{'common_pagination_page' | translate: {currentPage:currentPage, nbPages:nbPages} }}"
                     data-item-per-page-placeholder="{{'common_pagination_display' | translate}}">
                </div>
            </div>
        </div>
        <!-- /.telecom-section-content -->
    </div>

</section>
<!-- /.telecom-telephony-service-assist-orders -->
