<div class="voip-plan__step">
     <div class="voip-plan__step-content voip-plan__step-content--node"
          data-responsive-popover="'components/telecom/telephony/group/number/feature/ovhPabx/dialplan/edit/telephony-group-number-feature-ovh-pabx-dialplan-edit.html'"
          data-popover-trigger="none"
          data-popover-is-open="$ctrl.popoverStatus.isOpen"
          data-popover-placement="right"
          data-popover-class="pretty-popover telephony-number-feature-popover telephony-number-ovh-pabx-actions-popup">
         <div class="voip-plan__step-icon voip-plan__step-icon--included">
             <span data-ng-class="{ 'ovh-font ovh-font-config': !$ctrl.isLoading(), 'fa fa-spinner fa-pulse': $ctrl.isLoading() }"
                   aria-hidden="true"></span>
         </div>

         <div class="voip-plan__step-description">
             <span class="voip-plan__step-name voip-plan__step-name--has-info"
                   data-translate="telephony_number_feature_ovh_pabx_dialplan">
             </span>
             <span class="voip-plan__step-info elipse no-wrap"
                   data-ng-bind="!$ctrl.dialplan.inEdition ? $ctrl.dialplan.name : $ctrl.dialplan.saveForEdition.name">
             </span>
         </div>

         <div class="voip-plan__step-btn-container"
              data-uib-dropdown>
             <button type="button"
                     class="voip-plan__step-btn voip-plan__step-btn--included"
                     data-ng-disabled="$ctrl.isActionsDisabled()"
                     data-ng-attr-id="dialplan-{{ $ctrl.dialplan.dialplanId }}-actions"
                     data-uib-dropdown-toggle>
                 <span class="ovh-font ovh-font-dots" aria-hidden="true"></span>
             </button>
             <!-- DIALPLAN ACTIONS -->
             <ul class="dropdown-menu ovh-dropdown-menu"
                 data-uib-dropdown-menu
                 role="menu"
                 data-ng-attr-aria-labelledby="dialplan-{{ $ctrl.dialplan.dialplanId }}-actions">
                 <!-- EDIT MENU BTN -->
                 <li role="menuitem">
                     <button type="button"
                             class="btn btn-link full-width"
                             data-translate="telephony_number_feature_ovh_pabx_dialplan_action_edit"
                             data-ng-click="$ctrl.onEditDialplanBtnClick()">
                     </button>
                 </li> <!-- END OF EDIT MENU BTN -->
                 <li class="divider"></li>
                 <!-- ADD EXTENSION BTN -->
                 <li role="menuitem">
                     <button type="button"
                             class="btn btn-link full-width"
                             data-translate="telephony_number_feature_ovh_pabx_step_add"
                             data-ng-click="$ctrl.onExtensionAddBtnClick()">
                     </button>
                 </li> <!-- END OF ADD EXTENSION BTN -->
                 <li class="divider"></li>
                 <!-- DELETE DIALPLAN BTN -->
                 <li role="menuitem">
                     <button type="button"
                             class="btn btn-link full-width"
                             data-translate="telephony_number_feature_ovh_pabx_dialplan_action_delete"
                             data-ng-click="$ctrl.dialplan.status = 'DELETE_PENDING'">
                     </button>
                 </li> <!-- END OF DELETE DIALPLAN BTN -->
             </ul> <!-- END OF DIALPLAN ACTIONS -->
         </div>

         <div class="voip-plan__step-confirm"
              data-ng-if="$ctrl.dialplan.status === 'DELETE_PENDING'">
             <div class="voip-plan__step-confirm-overlay"></div>
             <div class="voip-plan__step-confirm-content animated fadeInRight flex-row-center">
                 <button type="button"
                         class="btn btn-default"
                         data-translate="cancel"
                         data-ng-click="$ctrl.dialplan.status = 'OK'">
                 </button>

                 <button type="button"
                         class="btn btn-danger"
                         data-translate="common_confirm"
                         data-ng-click="$ctrl.onDialplanDeleteConfirmBtnClick()">
                 </button>
             </div>
         </div>
     </div>
</div>

<div class="voip-plan__subpart"
     data-ng-if="$ctrl.dialplan">
    <!-- INIT LOADING -->
    <div data-ng-if="$ctrl.loading.init">
        <div class="voip-plan__step">
            <div class="voip-plan__step-icon voip-plan__step-icon--basic"
                 data-jsplumb-endpoint="$ctrl.ovhPabxCtrl.numberCtrl.jsPlumbEndpointsOptions.topLeft">
                <span class="fa fa-spinner fa-pulse"
                      data-jsplumb-connection
                      data-jsplumb-connection-target="incoming-call-{{ $ctrl.ovhPabxCtrl.numberCtrl.number.serviceName }}"
                      aria-hidden="true">
               </span>
            </div>
            <div class="voip-plan__step-description">
                <span class="voip-plan__step-info"
                      data-translate="loading">
                </span>
            </div>
        </div>
    </div> <!-- INIT LOADING -->

    <!-- EXTENSION DISPLAY -->
    <div data-ng-if="!$ctrl.loading.init">
        <div data-ui-sortable="$ctrl.sortableOptions"
             data-ng-model="$ctrl.ovhPabxCtrl.dialplan.extensions">
            <!-- ADDED EXTENSIONS -->
            <div data-ng-repeat="extension in $ctrl.ovhPabxCtrl.dialplan.extensions track by extension.extensionId"
                 data-smooth-scroll
                 data-scroll-if="{{ extension.status === 'IN_CREATION' }}"
                 data-offset="550">
                <telephony-number-ovh-pabx-dialplan-extension data-extension="extension"></telephony-number-ovh-pabx-dialplan-extension>
            </div> <!-- ADDED EXTENSIONS -->
        </div>

        <!-- ADD BTN -->
        <div class="voip-plan__step">
            <button type="button"
                    class="voip-plan__step-btn voip-plan__step-btn--primary voip-plan__step-btn--add"
                    data-jsplumb-endpoint="$ctrl.ovhPabxCtrl.numberCtrl.jsPlumbEndpointsOptions.topLeft"
                    data-translate-attr="{ title: 'telephony_number_feature_ovh_pabx_step_add' }"
                    data-ng-disabled="$ctrl.isActionsDisabled()"
                    data-ng-click="$ctrl.onExtensionAddBtnClick()">
                <span class="ovh-font ovh-font-ajouter"
                   data-jsplumb-connection
                   data-jsplumb-connection-target="incoming-call-{{ $ctrl.ovhPabxCtrl.numberCtrl.number.serviceName }}">
               </span>
            </button>
        </div>
        <!-- ADD BTN -->
    </div> <!-- EXTENSION DISPLAY -->

</div>
