<div id="freeFax-faxConfiguration" class="widget-presentation" data-ng-controller="FreeFaxConfigurationCtrl as FaxConfCtrl">
    <h2 class="widget-presentation-title" data-translate="freefax_fax_configuration"></h2>

    <bouncing-box-loader data-ng-if="loading">
        <h3 class="top-space-m16"
            data-translate="loading">
        </h3>
    </bouncing-box-loader>

    <form name="faxConfigurationForm"
          class="form-horizontal ovh-form-flat"
          data-ng-if="freeFax && FaxConfCtrl.editMode"
          data-ng-submit="FaxConfCtrl.submit()">
          <div class="bottom-space-m16" data-translate="common_required_fields"></div>

          <div class="form-group info-row">
              <label class="col-xs-12 col-md-4 text-left control-label service-title required"
                     for="expeditor"
                     data-translate="freefax_expeditor">
              </label>
              <div class="col-xs-12 col-md-8 clearfix">
                  <div flat-input-container>
                       <input name="expeditor"
                             id="expeditor"
                             type="text"
                             class="form-control"
                             data-ng-model="freeFax.fromName"
                             required
                             data-ng-disabled="FaxConfCtrl.loading"
                             data-maxlength="50">
                  </div>
                  <small class="text-danger"
                         data-ng-if="faxConfigurationForm.expeditor.$invalid"
                         data-translate="freefax_expeditor_form_error">
                  </small>
              </div>
          </div>

          <div class="form-group info-row">
              <label class="col-xs-12 col-md-4 text-left control-label service-title required"
                     for="expeditorMail"
                     data-translate="freefax_expeditor_mail">
              </label>
              <div class="col-xs-12 col-md-8 clearfix">
                  <div flat-input-container>
                      <input name="expeditorMail"
                             id="expeditorMail"
                             type="email"
                             class="form-control"
                             data-ng-model="freeFax.fromEmail"
                             required
                             data-ui-validate="'FaxConfCtrl.validator.isEmail($value)'"
                             data-ng-disabled="FaxConfCtrl.loading"
                             data-maxlength="50">
                  </div>
                  <small class="text-danger"
                         data-ng-if="faxConfigurationForm.expeditorMail.$invalid"
                         data-translate="freefax_expeditor_mail_form_error">
                  </small>
              </div>
          </div>

          <div class="form-group info-row">
              <label class="col-xs-12 col-md-4 text-left control-label service-title"
                     for="quality"
                     data-translate="freefax_quality">
              </label>
              <div class="col-xs-12 col-md-8 clearfix">
                  <div flat-input-container>
                      <select data-flat-select
                             id="quality"
                             name="quality"
                             data-ng-model="freeFax.faxQuality"
                             class="form-control"
                             required
                             data-ng-disabled="FaxConfCtrl.loading"
                             data-ng-options="quality.value as quality.label for quality in FaxConfCtrl.qualityOptions">
                      </select>
                  </div>
              </div>
          </div>

          <div class="form-group info-row">
              <label class="col-xs-12 col-md-4 text-left control-label service-title"
                     for="maxTry"
                     data-translate="freefax_max_try">
              </label>
              <div class="col-xs-12 col-md-8 clearfix">
                  <div flat-input-container>
                      <select data-flat-select
                             id="maxTry"
                             name="maxTry"
                             data-ng-model="freeFax.faxMaxCall"
                             class="form-control"
                             required
                             data-ng-disabled="FaxConfCtrl.loading"
                             data-ng-model="OtrsCtrl.filters.serviceName"
                             data-ng-options="maxRequest as maxRequest for maxRequest in FaxConfCtrl.maxRequestsOptions">
                      </select>
                  </div>
              </div>
          </div>

          <div class="form-group info-row">
              <label class="col-xs-12 col-md-4 text-left control-label service-title"
                     for="faxHeader"
                     data-translate="freefax_header">
              </label>
              <div class="col-xs-12 col-md-8 clearfix">
                  <div flat-input-container>
                      <input name="faxHeader"
                             id="faxHeader"
                             type="text"
                             class="form-control"
                             data-ng-model="freeFax.faxTagLine"
                             required
                             data-ng-disabled="FaxConfCtrl.loading"
                             data-maxlength="50">
                  </div>
                  <small class="text-danger"
                         data-ng-if="faxConfigurationForm.expeditorMail.$invalid"
                         data-translate="freefax_header_form_error">
                  </small>
              </div>
          </div>

          <div class="form-group info-row">
              <label class="col-xs-12 col-md-4 text-left control-label service-title"
                     for="newPassword"
                     data-translate="freefax_reset_password"></label>
              <div class="col-xs-12 col-md-8">
                  <button type="button"
                      data-ng-if="!FaxConfCtrl.generatedPassword"
                      data-translate="freefax_reset_password_btn"
                      class="btn btn-primary"
                      data-ng-really-click="FaxConfCtrl.generatePassword()"
                      data-ng-really-message="{{ 'freefax_reset_password_confirm' | translate }}"
                      data-ng-really-confirm="{{ 'ok' | translate }}"
                      data-ng-really-cancel="{{ 'cancel' | translate }}"
                      data-ng-really-window-class="revert-really-buttons"
                      data-ng-disabled="FaxConfCtrl.generatingPassword">
                  </button>

                  <spinner class="left-space-m16" data-ng-if="FaxConfCtrl.generatingPassword"></spinner>

                  <div data-ng-if="FaxConfCtrl.generatedPassword">
                      <div flat-input-container>
                          <div class="input-group">
                              <input type="text"
                                     id="newPassword"
                                     readonly
                                     data-ng-model="FaxConfCtrl.passwordDisplay"
                                     class="form-control">
                             <span role="button"
                                   class="btn btn-default input-group-addon"
                                   data-ng-click="FaxConfCtrl.togglePassword();$event.stopPropagation();">
                                   <span class="fa"
                                            data-ng-class="{'fa-eye': !FaxConfCtrl.showPassword, 'fa-eye-slash': FaxConfCtrl.showPassword}"
                                            aria-hidden="true"></span>
                             </span>
                          </div>
                      </div>

                  </div>
              </div>
          </div>

          <div class="top-space-m16">
              <button type="reset"
                      data-translate="cancel"
                      class="btn btn-default"
                      data-ng-click="FaxConfCtrl.cancelEditMode()"
                      data-ng-disabled="FaxConfCtrl.loading">
              </button>

              <button type="submit"
                  data-translate="submit"
                  class="btn btn-primary"
                  data-ng-disabled="faxConfigurationForm.$invalid || FaxConfCtrl.loading ">
              </button>

              <spinner class="left-space-m4" data-ng-if="FaxConfCtrl.loading"></spinner>
          </div>
    </form>

    <div data-ng-if="freeFax && !FaxConfCtrl.editMode">
        <div class="row info-row">
            <div class="col-xs-12 col-md-4 service-title" data-translate="freefax_expeditor"></div>
            <div class="col-xs-12 col-md-8 description" data-ng-bind="freeFax.fromName"></div>
        </div>

        <div class="row info-row">
            <div class="col-xs-12 col-md-4 service-title" data-translate="freefax_expeditor_mail"></div>
            <div class="col-xs-12 col-md-8 description" data-ng-bind="freeFax.fromEmail"></div>
        </div>

        <div class="row info-row">
            <div class="col-xs-12 col-md-4 service-title" data-translate="freefax_quality"></div>
            <div class="col-xs-12 col-md-8 description"> {{ "freefax_quality_" + freeFax.faxQuality | translate }}</div>
        </div>

        <div class="row info-row">
            <div class="col-xs-12 col-md-4 service-title" data-translate="freefax_max_try"></div>
            <div class="col-xs-12 col-md-8 description" data-ng-bind="freeFax.faxMaxCall"></div>
        </div>

        <div class="row info-row">
            <div class="col-xs-12 col-md-4 service-title" data-translate="freefax_header"></div>
            <div class="col-xs-12 col-md-8 description" data-ng-bind="freeFax.faxTagLine"></div>
        </div>

        <button type="button"
                data-translate="edit"
                data-ng-click="FaxConfCtrl.enterEditMode()"
                class="btn btn-primary top-space-m16"
                data-ng-disabled="FaxConfCtrl.loading">
        </button>
    </div>

    <div data-ng-if="freeFax">
        <button class="btn btn-link data-uib-dropdown-toggle space-p0 top-space-m12 bottom-space-m12"
                type="button"
                data-ng-click="FaxConfCtrl.showFreeFaxHeaderTips = !FaxConfCtrl.showFreeFaxHeaderTips">
            <span class="ovh-font"
                  data-ng-class="{'ovh-font-disclosure-right':!FaxConfCtrl.showFreeFaxHeaderTips,
                                  'ovh-font-disclosure-down':FaxConfCtrl.showFreeFaxHeaderTips}"
                  aria-hidden="true">
            </span>
            <span data-translate="freefax_header_help"></span>
        </button>
        <div class="row" data-ng-show="FaxConfCtrl.showFreeFaxHeaderTips">
            <div class="col-md-6">
                <div class="row info-row">
                    <span class="col-md-3 service-title">|</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_column_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%i</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_task_identifier_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%j</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_attachment_name_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%l</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_emission_id_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%m</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_expeditor_email_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%n</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_fax_number_description"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%p</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_session_page_number_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%P</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_task_page_number_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%r</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_recipient_id_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%t</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_session_page_amount_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%T</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_task_page_amount_description"></span>
                </div>
                <div class="row info-row">
                    <span class="col-md-3 service-title">%%d</span>
                    <span class="col-md-9 description" data-translate="freefax_header_variable_expeditor_name_description"></span>
                </div>
            </div>
        </div>
    </div>
</div>
