<div class="row top-space-m8">
    <div class="col-xs-12">
        <label>
            <flat-radio>
                <input type="radio"
                       data-ng-disabled="$ctrl.ngDisabled"
                       data-ng-model="$ctrl.ngModel"
                       data-ng-value="true"
                       name="retractation"
                       required>
            </flat-radio>
            <div class="left-space-m32 pointer" data-translate="telephony_order_retractation_retract_true"></div>
        </label>
    </div>
</div>
<div class="row top-space-m8">
    <div class="col-xs-12">
        <label>
            <flat-radio>
                <input type="radio"
                       data-ng-disabled="$ctrl.ngDisabled"
                       data-ng-model="$ctrl.ngModel"
                       data-ng-value="false"
                       name="retractation"
                       required>
            </flat-radio>
            <div class="left-space-m32 pointer" data-translate="telephony_order_retractation_retract_false"></div>
        </label>
    </div>
</div>
