<div data-ng-controller="PackVoipBillingAccountCtrl as VoipBillingAccount">

    <div data-ng-include="'app/common/dashboard/service/loading.html'" data-ng-if="loaders.services"></div>
    <div data-ng-include="'app/common/dashboard/service/no-element.html'" data-ng-if="!loaders.services && VoipBillingAccount.services.length == 0"></div>

    <ul class="services-list" data-ng-if="!loaders.services && VoipBillingAccount.services.length > 0">
        <li class="service-item" data-ng-repeat="service in VoipBillingAccount.services track by service.domain">
            <span class="service-button">
                <span class="ovh-font ovh-font-phone" aria-hidden="true"></span>

                <div class="service-button-description">
                    <div class="description-title" data-ng-bind="service"></div>
                    <div class="description-subtext" data-ng-bind="service"></div>
                </div>
            </span>
        </li>
    </ul>
</div>
