#pack-informations {

    .dl-horizontal {
        margin-bottom: 0px;

        dd {
            font-size: 12px;
            color: @text-color-content;
        }

        dt, dd {
            line-height: 12px;
            padding: 6px 0;
        }

        .pack-state {
            .ovh-font-success, .ovh-font-failure {
                margin-top: -4px;
            }
        }
    }

    a {
        &.telecom-link {
            color: @text-color-content;
        }
    }

    .info-row {
        padding: 0.8rem;
        font-size: @FONT-SIZE-MAININFO;
        align-items: center;
        
        .description {
            color: @gray-base;
            font-size: @font-size-base;
        }
    }

    .info-row-darker {
        background-color: @gray-lighter;

        a {
            display: block;
            text-decoration: none;
            font-weight: 400;
            color: @UNIVERS;

            .link-description {
                color: @gray-base;
            }

            transition: margin-right 250ms ease-out;
            &:hover, &:focus, &:active{
                margin-right: -4px;
            }
        }

    }

    .resiliation-date {
        color: white !important;
        background-color: @brand-danger;
        padding: 2px 8px;
        border-radius: 4px;
    }
}
