<div data-ng-controller="PackSiteBuilderStartCtrl as SiteBuilderStart">
    <div data-ng-include="'app/common/dashboard/service/loading.html'" data-ng-if="loaders.services"></div>
    <div data-ng-include="'app/common/dashboard/service/no-element.html'" data-ng-if="!loaders.services && SiteBuilderStart.services.length == 0"></div>

    <ul class="services-list" data-ng-if="!loaders.services && SiteBuilderStart.services.length > 0">
        <li class="service-item" data-ng-repeat="service in SiteBuilderStart.services">
            <a class="service-button"
               data-ng-href="{{ service.login }}"
               target="_blank"
               rel="noopener">
                <span class="ovh-font ovh-font-siteBuilder" aria-hidden="true"></span>

                <div class="service-button-description">
                    <div class="description-title"
                         data-ng-bind="service.name">
                    </div>
                    <div class="description-subtext"
                         data-ng-bind="service.name">
                    </div>
                </div>

                <span class="ovh-font ovh-font-arrow-right" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
</div>
