<div class="btn-group"
    data-uib-dropdown
    data-is-open="status.isopen">
    <button
        type="button"
        class="btn btn-default table-action"
        id="single-button"
        data-ng-disabled="disabled"
        data-uib-dropdown-toggle>
        <i class="table-action-icon fa fa-bars" aria-hidden="true"></i>
        <span class="left-space-m4 right-space-m4" data-translate="common_actions"></span>
        <i class="drop ovh-font ovh-font-small-arrow-down" aria-hidden="true"></i>
    </button>
    <div class="table-action table-action-matrix dropdown-menu"
         aria-labelledby="single-button"
         data-uib-dropdown-menu>
        <div class="arrow"></div>
        <div class="action-menu-content">
            <ul class="action-menu" role="menu"></ul>
        </div>
    </div>
</div>
