<div class="telecom-telephony-service-assist-logs">

    <bouncing-box-loader data-ng-if="LogsCtrl.loading.init">
        <h3 data-translate="loading"
            class="top-space-m24">
        </h3>
    </bouncing-box-loader>

    <div data-ng-if="!LogsCtrl.loading.init">
        <header>
            <section-back-link section-back-link-to-state="{{ LogsCtrl.service.isFax ? 'telecom.telephony.fax.assist' : 'telecom.telephony.line.assist' }}"
                section-back-link-title="{{ 'telephony_service_assist_support_logs_title' | translate }}">
            </section-back-link>
            <h1 data-translate="telephony_line_assist_support_logs_title"></h1>
        </header>

        <div class="telecom-section-content">

            <div class="alert alert-info">
                <i class="ovh-font ovh-font-filled-info"></i>
                <p data-translate="telephony_line_assist_support_logs_infos"></p>
            </div>

            <div class="row">

                <section class="col-xs-12 col-sm-6 widget-presentation">

                    <header class="widget-presentation-header">
                        <h2 class="widget-presentation-title"
                            data-translate="telephony_line_assist_support_logs_configs">
                        </h2>
                    </header>

                    <bouncing-box-loader data-ng-if="LogsCtrl.loading.user || LogsCtrl.loading.save">
                        <h3 data-translate="{{ LogsCtrl.loading.user ? 'loading' : 'telephony_line_assist_support_logs_configs_save' }}"
                            class="top-space-m24">
                        </h3>
                    </bouncing-box-loader>

                    <div data-ng-if="!LogsCtrl.model.configEdit">

                        <dl class="dl-telecom">
                            <dt data-translate="telephony_line_assist_support_logs_configs_frequency"></dt>
                            <dd class="bottom-space-m8"
                                data-translate="{{ LogsCtrl.service.notifications.logs ? (['telephony_line_assist_support_logs_configs_frequency', LogsCtrl.service.notifications.logs.frequency].join('_') | snakeCase) : 'telephony_line_assist_support_logs_configs_frequency_never' }}">
                            </dd>

                            <dt data-translate="telephony_line_assist_support_logs_configs_send_even_no_logs"
                                data-ng-if="LogsCtrl.service.notifications.logs.frequency !== 'Never'">
                            </dt>
                            <dd class="bottom-space-m8"
                                data-translate="{{ LogsCtrl.service.notifications.logs.sendIfNull ? 'telephony_line_assist_support_logs_configs_send_even_no_logs_yes' : 'telephony_line_assist_support_logs_configs_send_even_no_logs_no' }}"
                                data-ng-if="LogsCtrl.service.notifications.logs.frequency !== 'Never'">
                            </dd>

                            <dt data-translate="telephony_line_assist_support_logs_configs_email"
                                data-ng-if="LogsCtrl.service.notifications.logs.frequency !== 'Never'">
                            </dt>
                            <dd class="bottom-space-m8"
                                data-ng-bind="LogsCtrl.service.notifications.logs.email"
                                data-ng-if="LogsCtrl.service.notifications.logs.frequency !== 'Never'">
                            </dd>
                        </dl>

                        <button class="btn btn-primary"
                                type="button"
                                data-translate="telephony_line_assist_support_logs_configs_manage"
                                data-ng-click="LogsCtrl.startNotificationsChange()">
                        </button>

                    </div>


                    <form data-ng-if="LogsCtrl.model.configEdit && !LogsCtrl.loading.user && !LogsCtrl.loading.save"
                          data-ng-submit="LogsCtrl.saveLogsNotifications()"
                          name="notificationEditForm"
                          class="ovh-form-flat"
                          novalidate>

                        <!-- FREQUENCY -->
                        <div class="bottom-space-m8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <label for="frequency-select"
                                           data-translate="telephony_line_assist_support_logs_configs_frequency">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <select data-flat-select
                                            class="form-control col-xs-6"
                                            id="frequency-select"
                                            name="frequency"
                                            data-ng-model="LogsCtrl.service.notifications.logs.frequency"
                                            data-ng-options="frequency as (['telephony_line_assist_support_logs_configs_frequency', frequency].join('_') | snakeCase | translate ) for frequency in LogsCtrl.availableLogsFrequencies">
                                    </select>
                                </div>
                            </div>
                        </div> <!-- FREQUENCY -->

                        <!-- SENDIFNULL -->
                        <div class="bottom-space-m8"
                             data-ng-if="LogsCtrl.service.notifications.logs.frequency !== 'Never'">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <label data-translate="telephony_line_assist_support_logs_configs_send_even_no_logs"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="btn-group block">
                                        <label class="btn btn-default"
                                               data-ng-model="LogsCtrl.service.notifications.logs.sendIfNull"
                                               data-uib-btn-radio="true"
                                               data-translate="telephony_line_assist_support_logs_configs_send_even_no_logs_yes">
                                        </label>

                                        <label class="btn btn-default"
                                               data-ng-model="LogsCtrl.service.notifications.logs.sendIfNull"
                                               data-uib-btn-radio="false"
                                               data-translate="telephony_line_assist_support_logs_configs_send_even_no_logs_no">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- SENDIFNULL -->

                        <!-- EMAIL -->
                        <div class="bottom-space-m8"
                             data-ng-if="LogsCtrl.service.notifications.logs.frequency !== 'Never'"
                             data-flat-input-container>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <label for="email-input"
                                           data-translate="telephony_line_assist_support_logs_configs_email">
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <input type="email"
                                           id="email-input"
                                           name="email"
                                           class="form-control"
                                           data-translate-attr="{ placeholder: 'telephony_line_assist_support_logs_configs_email' }"
                                           data-ng-model="LogsCtrl.service.notifications.logs.email"
                                           data-ng-required="LogsCtrl.service.notifications.logs.frequency !== 'Never'"/>
                                </div>
                            </div>
                            <div data-ng-messages="notificationEditForm.email.$error"
                                 class="top-space-m4">
                                <label for="email-input"
                                       data-ng-message="email"
                                       data-translate="telephony_line_assist_support_logs_configs_email_invalid">
                                </label>
                                <label for="email-input"
                                       data-ng-message="required"
                                       data-translate="telephony_line_assist_support_logs_configs_email_required">
                                </label>
                            </div>
                        </div> <!-- EMAIL -->

                        <footer class="row top-space-m16 clearfix bottom-space-m32">
                            <div class="col-xs-12 col-md-6">
                                <button type="submit"
                                        class="btn btn-primary"
                                        data-ng-disabled="notificationEditForm.$pristine || notificationEditForm.$invalid"
                                        data-translate="telephony_line_assist_support_logs_configs_validate">
                                </button>

                                <button type="button"
                                        class="btn btn-default"
                                        data-translate="cancel"
                                        data-ng-click="LogsCtrl.cancelNotificationsChange()">
                                </button>
                            </div>
                        </footer>

                    </form>

                </section>

                <section class="col-xs-12 col-sm-6 widget-presentation">

                    <header class="widget-presentation-header">
                        <h2 class="widget-presentation-title"
                            data-translate="telephony_line_assist_support_logs_list">
                        </h2>
                    </header>

                    <form name="consultDayForm"
                          class="ovh-form-flat bottom-space-m24">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <label for="dayInterval-select"
                                       data-translate="telephony_line_assist_support_logs_list_days">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <select data-flat-select
                                        class="form-control col-xs-6"
                                        id="dayInterval-select"
                                        name="dayInterval"
                                        data-ng-model="LogsCtrl.model.dayInterval"
                                        data-ng-change="LogsCtrl.refreshLogs()"
                                        data-ng-options="dayInterval as (['telephony_line_assist_support_logs_list_days', dayInterval].join('_') | snakeCase | translate ) for dayInterval in LogsCtrl.availableDayInterval">
                                </select>
                            </div>
                        </div>
                    </form>

                    <bouncing-box-loader data-ng-if="LogsCtrl.loading.refresh">
                        <h3 data-translate="telephony_line_assist_support_logs_list_loading"
                            class="top-space-m24">
                        </h3>
                    </bouncing-box-loader>

                    <div data-ng-if="!LogsCtrl.loading.refresh">

                        <em class="block text-center"
                            data-ng-if="LogsCtrl.logs.length === 0"
                            data-translate="telephony_line_assist_support_logs_list_no_logs">
                        </em>

                        <div data-ng-if="LogsCtrl.logs.length > 0">

                            <div class="logs-list">
                                <div class="media"
                                     data-ng-repeat="log in LogsCtrl.pageLogs track by $index">
                                    <div class="media-left">
                                        <i class="fs24"
                                           data-ng-class="{
                                                'ovh-font ovh-font-filled-warning text-warning': log.level === 'warn',
                                                'ovh-font ovh-font-filled-error text-danger': log.level === 'error',
                                                'ovh-font ovh-font-filled-info text-info': log.level === 'info',
                                                'fa fa-bug text-info': log.level === 'debug'
                                           }">
                                        </i>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading fs14"
                                            data-ng-bind="log.name | words:'true'">
                                        </h4>
                                        <p data-ng-bind="log.datetime | date:'short'"
                                           class="text-mutted">
                                        </p>
                                        <p class="text-mutted">
                                            <span class="block"
                                                  data-ng-bind="log.report">
                                            </span>
                                            <span class="block"
                                                  data-ng-bind="log.description">
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="table-pretty-pagination top-space-m24 text-left"
                                 data-ng-show="LogsCtrl.logs.length > LogsCtrl.logsPerPage"
                                 data-ng-init="logsPerPage = LogsCtrl.logsPerPage"
                                 data-pagination-front
                                 data-items="LogsCtrl.logs"
                                 data-paginated-items="LogsCtrl.pageLogs"
                                 data-current-page="currentPage"
                                 data-nb-pages="nbPages"
                                 data-items-per-page="logsPerPage"
                                 data-go-to-page="false">
                            </div>

                        </div>

                    </div>

                </section>

            </div>

        </div>

    </div>


</div>
