<section class="telecom-telephony-billing-account-billing-repayment-history">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.billing"
                           section-back-link-title="{{ 'telephony_group_billing_actions_group_billing_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_group_billing_repayment_history_title"></h1>
    </header>

    <toast-message></toast-message>

    <div class="text-center" data-ng-if="RepaymentHistoryCtrl.loading.init">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!RepaymentHistoryCtrl.loading.init">

        <div class="alert alert-info"
             role="alert">
            <p>
                <span data-translate="telephony_group_billing_repayment_history_informations"></span>
                <a href=""
                   data-ui-sref="telecom.telephony.billing.tollfree-history"
                   data-translate="telephony_group_billing_repayment_history_informations_link">
                </a>
            </p>
        </div>

        <div class="widget-presentation">
            <h2 class="widget-presentation-title"
                data-translate="telephony_group_billing_repayment_history_list_title"
                data-translate-values="{ groupName: RepaymentHistoryCtrl.group.getDisplayedName() }">
            </h2>

            <div class="row">
                <div class="col-xs-12">

                    <oui-datagrid data-rows="RepaymentHistoryCtrl.consumption.raw" data-page-size="10">
                        <oui-column data-title="'telephony_group_billing_repayment_history_list_date' | translate" 
                                    data-property="date" data-sortable="desc">
                            <span class="text-nowrap"
                                  data-ng-bind="$row.date | date:'shortDate'">
                            </span>
                        </oui-column>
                        <oui-column data-title="'telephony_group_billing_repayment_history_list_price' | translate" 
                                    data-property="date" data-sortable>
                            <span class="text-nowrap"
                                  data-ng-bind="$row.price.text.replace('-', '')">
                            </span>
                        </oui-column>

                        <oui-action-menu data-align="end" data-compact>
                            <oui-action-menu-item
                                    data-text="{{'telephony_group_billing_repayment_history_list_download_csv' | translate}}"
                                    on-click="RepaymentHistoryCtrl.download($row)">
                            </oui-action-menu-item>
                        </oui-action-menu>

                    </oui-datagrid>

                </div>
            </div>
        </div>

    </div>

</section>
<!-- /.telecom-telephony-billing-account-billing-repayment-history -->
