.telecom-pack {
    .pack-item {
        .order-service {
            margin-top: 16px;
        }

        .service-button{
            display: block;

            .service-button-description{
                display: inline-block;
                height: 36px;
                width: 100%;
                padding-right: 96px;
                position: absolute;
                white-space: nowrap;
            }
        }

        .pack-item-count {
            display: inline-block;

            strong{
                font-size: 20px;
            }

            +.pack-item-count{
                color: @UNIVERS;
            }
        }

        .phone-number {
            font-family: bold;
        }
    }
}

// TODO : REMOVE THIS RULES - BAD USE OF BOOTSTRAP !!!!!!!
.telecom-pack-hostedEmail-add, .telecom-pack-exchange-individual-add, .telecom-pack-exchangeLite-add {
    .ovh-form-flat .form-group{
        margin-left: 0;
        margin-right: 0;
    }
}

.pack-contract-modal {
    .modal-body {
        ul.list-unstyled {
            label {
                display: initial;
                font-weight: 400;
            }
        }
    }
}
