<section class="telecom-telephony-billing-account-billing-summary">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.billing"
                           section-back-link-title="{{ 'telephony_group_billing_actions_group_billing_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_group_billing_summary_title"></h1>
    </header>

    <div class="text-center" data-ng-if="SummaryCtrl.loading.init">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!SummaryCtrl.loading.init">

        <toast-message></toast-message>

        <div class="row">
            <div class="col-xs-12 col-md-10 widget-presentation">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_group_billing_summary_consumption_summary_title"></h2>
                <dl>
                    <dt data-translate="telephony_group_billing_summary_consumption_total_label"></dt>
                    <dd data-translate="{{ SummaryCtrl.consumptionSummary.total > 1 ? 'telephony_group_billing_summary_calls_number' : 'telephony_group_billing_summary_calls_number_single' }}"
                        data-translate-values="{ count: SummaryCtrl.consumptionSummary.total }">
                    </dd>

                    <dt data-translate="telephony_group_billing_summary_consumption_incoming_label"></dt>
                    <dd data-translate="{{ SummaryCtrl.consumptionSummary.incoming > 1 ? 'telephony_group_billing_summary_calls_number' : 'telephony_group_billing_summary_calls_number_single' }}"
                        data-translate-values="{ count: SummaryCtrl.consumptionSummary.incoming }">
                    </dd>

                    <dt data-translate="telephony_group_billing_summary_consumption_outgoing_label"></dt>
                    <dd data-translate="{{ SummaryCtrl.consumptionSummary.outgoing > 1 ? 'telephony_group_billing_summary_calls_number' : 'telephony_group_billing_summary_calls_number_single' }}"
                        data-translate-values="{ count: SummaryCtrl.consumptionSummary.outgoing }">
                    </dd>

                    <dt data-translate="telephony_group_billing_summary_consumption_transfer_label"></dt>
                    <dd data-translate="{{ SummaryCtrl.consumptionSummary.transfer > 1 ? 'telephony_group_billing_summary_calls_number' : 'telephony_group_billing_summary_calls_number_single' }}"
                        data-translate-values="{ count: SummaryCtrl.consumptionSummary.transfer }">
                    </dd>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-10 widget-presentation">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_group_billing_summary_consumption_details_title">
                </h2>
                <div class="table-responsive">
                    <table class="table"
                            data-ng-class="{
                                'table-hover table-striped': SummaryCtrl.consumptionDetails.raw.length > 1
                            }">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-link p-0"
                                            type="button"
                                            data-ng-click="SummaryCtrl.orderBy('description')"
                                            data-ng-disabled="!SummaryCtrl.consumptionDetails.paginated.length">
                                        <span data-translate="telephony_group_billing_summary_consumption_service_label"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy !== 'description',
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy === 'description' && SummaryCtrl.consumptionDetails.orderDesc,
                                                  'oui-icon-arrow-up': SummaryCtrl.consumptionDetails.orderBy === 'description' && !SummaryCtrl.consumptionDetails.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link p-0"
                                            type="button"
                                            data-ng-click="SummaryCtrl.orderBy('total')"
                                            data-ng-disabled="!SummaryCtrl.consumptionDetails.paginated.length">
                                        <span data-translate="telephony_group_billing_summary_consumption_total_label"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy !== 'total',
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy === 'total' && SummaryCtrl.consumptionDetails.orderDesc,
                                                  'oui-icon-arrow-up': SummaryCtrl.consumptionDetails.orderBy === 'total' && !SummaryCtrl.consumptionDetails.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link p-0"
                                        type="button"
                                        data-ng-click="SummaryCtrl.orderBy('incoming')"
                                        data-ng-disabled="!SummaryCtrl.consumptionDetails.paginated.length">
                                        <span data-translate="telephony_group_billing_summary_consumption_incoming_label"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy !== 'incoming',
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy === 'incoming' && SummaryCtrl.consumptionDetails.orderDesc,
                                                  'oui-icon-arrow-up': SummaryCtrl.consumptionDetails.orderBy === 'incoming' && !SummaryCtrl.consumptionDetails.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link p-0"
                                           type="button"
                                           data-ng-click="SummaryCtrl.orderBy('outgoing')"
                                           data-ng-disabled="!SummaryCtrl.consumptionDetails.paginated.length">
                                        <span data-translate="telephony_group_billing_summary_consumption_outgoing_label"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy !== 'outgoing',
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy === 'outgoing' && SummaryCtrl.consumptionDetails.orderDesc,
                                                  'oui-icon-arrow-up': SummaryCtrl.consumptionDetails.orderBy === 'outgoing' && !SummaryCtrl.consumptionDetails.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link p-0"
                                        type="button"
                                        data-ng-disabled="!SummaryCtrl.consumptionDetails.paginated.length"
                                        data-ng-click="SummaryCtrl.orderBy('transfer')">
                                        <span data-translate="telephony_group_billing_summary_consumption_transfer_label"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy !== 'transfer',
                                                  'oui-icon-arrow-down': SummaryCtrl.consumptionDetails.orderBy === 'transfer' && SummaryCtrl.consumptionDetails.orderDesc,
                                                  'oui-icon-arrow-up': SummaryCtrl.consumptionDetails.orderBy === 'transfer' && !SummaryCtrl.consumptionDetails.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-ng-if="!SummaryCtrl.loading.init && SummaryCtrl.consumptionSummary.total > 0">
                            <tr data-ng-repeat="conso in SummaryCtrl.consumptionDetails.paginated">
                                <td class="text-left">
                                    <p data-ng-bind="conso.description"></p>
                                    <small data-ng-if="conso.description !== conso.service"
                                           data-ng-bind="conso.service">
                                    </small>
                                </td>
                                <td class="text-right" data-ng-bind="conso.total"></td>
                                <td class="text-right" data-ng-bind="conso.incoming"></td>
                                <td class="text-right" data-ng-bind="conso.outgoing"></td>
                                <td class="text-right" data-ng-bind="conso.transfer"></td>
                            </tr>
                        </tbody>
                        <tbody data-ng-if="!SummaryCtrl.loading.init && SummaryCtrl.consumptionSummary.total == 0">
                            <tr>
                                <td colspan="5"
                                    class="text-center"
                                    data-translate="telephony_group_billing_summary_consumptioninit_no_results">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-2"
                    data-ng-if="SummaryCtrl.consumptionDetails.raw.length"
                    data-pagination-front
                    data-items="SummaryCtrl.consumptionDetails.sorted"
                    data-paginated-items="SummaryCtrl.consumptionDetails.paginated"
                    data-current-page="currentPage"
                    data-nb-pages="nbPages"
                    data-items-per-page="itemsPerPage"
                    data-page-placeholder="{{'common_pagination_page' | translate: {currentPage:currentPage, nbPages:nbPages} }}"
                    data-item-per-page-placeholder="{{'common_pagination_display' | translate}}">
                </div>
            </div>
        </div>
    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telecom-telephony-billing-account-billing-summary -->
