<section class="telephony-billing-bill">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.billing"
                           section-back-link-title="{{ 'telephony_group_billing_actions_group_billing_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_group_billing_bill_title"></h1>
    </header>

    <div class="telecom-section-content">
        <div class="widget-presentation">
            <h2 class="widget-presentation-title"
                data-translate="telephony_group_billing_bill_subtitle"></h2>
        </div>
        <div class="row">
            <div class="col-xs-12 table-responsive-vertical">
                <table class="table table-pretty table-hover table-striped no-space">
                    <thead>
                        <tr>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!BillingAccountBillCtrl.consumption.paginated.length"
                                        data-ng-click="BillingAccountBillCtrl.orderBy('date')">
                                    <label class="pointer" data-translate="telephony_group_billing_bill_date"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': BillingAccountBillCtrl.consumption.orderBy !== 'date',
                                            'fa-sort-desc': BillingAccountBillCtrl.consumption.orderBy === 'date' && BillingAccountBillCtrl.consumption.orderDesc,
                                            'fa-sort-asc': BillingAccountBillCtrl.consumption.orderBy === 'date' && !BillingAccountBillCtrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!BillingAccountBillCtrl.consumption.paginated.length"
                                        data-ng-click="BillingAccountBillCtrl.orderBy('priceValue')">
                                    <label class="pointer" data-translate="telephony_group_billing_bill_amount"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': BillingAccountBillCtrl.consumption.orderBy !== 'priceValue',
                                            'fa-sort-desc': BillingAccountBillCtrl.consumption.orderBy === 'priceValue' && BillingAccountBillCtrl.consumption.orderDesc,
                                            'fa-sort-asc': BillingAccountBillCtrl.consumption.orderBy === 'priceValue' && !BillingAccountBillCtrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline left-space-p0"
                                        type="button"
                                        data-ng-disabled="!BillingAccountBillCtrl.consumption.paginated.length"
                                        data-ng-click="BillingAccountBillCtrl.orderBy('status')">
                                    <label class="pointer" data-translate="telephony_group_billing_bill_paid"></label>
                                    <span class="table-pretty-filter">
                                        <i class="fa" data-ng-class="{
                                            'fa-sort': BillingAccountBillCtrl.consumption.orderBy !== 'status',
                                            'fa-sort-desc': BillingAccountBillCtrl.consumption.orderBy === 'status' && BillingAccountBillCtrl.consumption.orderDesc,
                                            'fa-sort-asc': BillingAccountBillCtrl.consumption.orderBy === 'status' && !BillingAccountBillCtrl.consumption.orderDesc
                                        }"></i>
                                    </span>
                                </button>
                            </th>
                            <th>
                                <button class="no-style no-outline fs16"
                                        type="button"
                                        title="{{:: 'telephony_group_billing_bill_refresh' | translate }}"
                                        data-ng-click="BillingAccountBillCtrl.refresh()">
                                    <i class="text-default fa fa-refresh"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-ng-if="!BillingAccountBillCtrl.isLoading">
                        <tr data-ng-repeat="consumption in BillingAccountBillCtrl.consumption.paginated">
                            <td data-title="{{:: 'telephony_group_billing_bill_date' | translate }}">
                                <span class="text-nowrap" data-ng-bind="consumption.date"></span>
                            </td>
                            <td data-title="{{:: 'telephony_group_billing_bill_amount' | translate }}">
                                <span class="text-nowrap" data-ng-bind="consumption.price.text"></span>
                            </td>
                            <td data-title="{{:: 'telephony_group_billing_bill_paid' | translate }}">
                                <span class="text-nowrap text-capitalize" data-ng-bind="(consumption.status === 'done' ? 'yes' : 'no') | translate"></span>
                            </td>
                            <td>
                                <span data-uib-dropdown>
                                    <button class="btn btn-default fs12"
                                            type="button"
                                            data-uib-dropdown-toggle
                                            data-ng-disabled="consumption.downloading">
                                        <i data-ng-if="!consumption.downloading" class="ovh-font ovh-font-dots"></i>
                                        <spinner data-ng-if="consumption.downloading"></spinner>
                                    </button>
                                    <ul data-uib-dropdown-menu class="dropdown-menu-right" role="menu">
                                        <li>
                                            <button type="button"
                                                    class="no-style no-outline text-nowrap"
                                                    data-ng-click="BillingAccountBillCtrl.download(consumption, 'pdf')">
                                                <i class="fa fa-file-pdf-o right-space-m4"></i>
                                                <span data-translate="telephony_group_billing_bill_download_pdf"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                    class="no-style no-outline top-space-m8 text-nowrap"
                                                    data-ng-click="BillingAccountBillCtrl.download(consumption, 'csv')">
                                                <i class="fa fa-file-code-o right-space-m4"></i>
                                                <span data-translate="telephony_group_billing_bill_download_csv_emited"></span>
                                            </button>
                                        </li>
                                        <li>
                                            <button type="button"
                                                    class="no-style no-outline top-space-m8 text-nowrap"
                                                    data-ng-click="BillingAccountBillCtrl.download(consumption, 'received.csv')">
                                                <i class="fa fa-file-code-o right-space-m4"></i>
                                                <span data-translate="telephony_group_billing_bill_download_csv_received"></span>
                                            </button>
                                        </li>
                                    </ul>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="BillingAccountBillCtrl.isLoading">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="5">
                                <span data-translate="telephony_group_billing_bill_loading"></span>
                                <spinner class="left-space-m4"></spinner>
                            </td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="!BillingAccountBillCtrl.isLoading && !BillingAccountBillCtrl.consumption.paginated.length">
                        <tr>
                            <td class="text-center top-space-p16 bottom-space-p16" colspan="5">
                                <span data-translate="telephony_group_billing_bill_empty"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-pretty-pagination top-space-m8"
                     data-ng-if="!BillingAccountBillCtrl.isLoading && BillingAccountBillCtrl.consumption.raw.length"
                     data-pagination-front
                     data-items="BillingAccountBillCtrl.consumption.sorted"
                     data-paginated-items="BillingAccountBillCtrl.consumption.paginated"
                     data-current-page="currentPage"
                     data-nb-pages="nbPages"
                     data-items-per-page="itemsPerPage"
                     data-page-placeholder="{{'common_pagination_page' | translate: {currentPage:currentPage, nbPages:nbPages} }}"
                     data-item-per-page-placeholder="{{'common_pagination_display' | translate}}">
                </div>
            </div>
        </div>

    </div>

</section>
