.telecom-pack-xdsl-access {
    slider, [slider]{
        .bar{
            background-color: @gray-light;
        }
    }

    @media (min-width: @screen-sm-min) {
        .table-action-buttons {
            .fa-check {
                width: 10px;
            }
        }
    }

    div.row {
        padding: 6px 0;
    }
}
