<form name="createPhonecontactForm"
      id="createPhonecontactForm"
      class="ovh-form-flat"
      data-ng-submit="ContactCreateCtrl.create()">

    <div class="modal-header">
        <h3 class="modal-title pull-left"
            data-translate="sms_phonebooks_phonebook_contact_create">
        </h3>
        <button
            type="button"
            class="close pull-right"
            aria-label="{{ ::'cancel' | translate }}"
            data-ng-click="ContactCreateCtrl.cancel()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- /.modal-header -->

    <div class="modal-body"
         data-ng-if="!ContactCreateCtrl.phonecontactForm.isCreating && !ContactCreateCtrl.phonecontactForm.hasBeenCreated">
        <!-- SURNAME -->
        <div class="form-group">
            <div flat-input-container>
                <label for="surname"
                       class="control-label"
                       data-translate="sms_phonebooks_phonebook_contact_column_surname">
                </label>
                <input
                    type="text"
                    name="surname"
                    id="surname"
                    class="form-control"
                    autofocus
                    required
                    data-ng-model="ContactCreateCtrl.phonecontactForm.surname"
                    data-ng-maxlength="246"
                    data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_create_surname_placeholder' }" />
                <div role="alert"
                     data-ng-if="createPhonecontactForm.surname.$dirty"
                     data-ng-messages="createPhonecontactForm.surname.$error">
                    <p class="text-danger"
                       data-ng-message="required"
                       data-translate="sms_phonebooks_phonebook_contact_create_surname_error_required">
                    </p>
                    <p class="text-danger"
                       data-ng-message="maxlength"
                       data-translate="sms_phonebooks_phonebook_contact_create_surname_error_maxlength">
                    </p>
                </div>
            </div>
        </div>

        <!-- NAME -->
        <div class="form-group">
            <div flat-input-container>
                <label for="name"
                       class="control-label"
                       data-translate="sms_phonebooks_phonebook_contact_column_name">
                </label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    required
                    data-ng-model="ContactCreateCtrl.phonecontactForm.name"
                    data-ng-maxlength="246"
                    data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_create_name_placeholder' }" />
                <div role="alert"
                     data-ng-if="createPhonecontactForm.name.$dirty"
                     data-ng-messages="createPhonecontactForm.name.$error">
                    <p class="text-danger"
                       data-ng-message="required"
                       data-translate="sms_phonebooks_phonebook_contact_create_name_error_required">
                    </p>
                    <p class="text-danger"
                       data-ng-message="maxlength"
                       data-translate="sms_phonebooks_phonebook_contact_create_name_error_maxlength">
                    </p>
                </div>
            </div>
        </div>

        <!-- GROUP -->
        <div class="form-group">
            <div flat-input-container>
                <label for="group"
                       class="control-label"
                       data-translate="sms_phonebooks_phonebook_contact_column_group">
                </label>
                <div data-ng-class="{ 'input-group': ContactCreateCtrl.groupsAvailable.length }">
                    <input
                        type="text"
                        name="group"
                        id="group"
                        class="form-control"
                        data-ng-model="ContactCreateCtrl.phonecontactForm.group"
                        data-ng-maxlength="50"
                        data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_column_group' }" />
                    <div class="input-group-btn"
                         data-uib-dropdown
                         data-ng-if="ContactCreateCtrl.groupsAvailable.length">
                        <button
                            type="button"
                            class="btn btn-default"
                            data-uib-dropdown-toggle>
                            <span data-translate="sms_phonebooks_phonebook_contact_create_group_select"></span>
                            <i class="ovh-font ovh-font-select-arrow-down left-space-m4" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right"
                            role="menu"
                            data-uib-dropdown-menu>
                            <li role="menuitem" data-ng-repeat="group in ContactCreateCtrl.groupsAvailable | orderBy:'' track by $index">
                                <a href="#"
                                   data-ng-click="ContactCreateCtrl.setGroup($event, group)"
                                   data-ng-bind="group"
                                   data-translate-attr="{ 'title': group }">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div role="alert"
                     data-ng-if="createPhonecontactForm.group.$dirty"
                     data-ng-messages="createPhonecontactForm.group.$error">
                    <p class="text-danger"
                       data-ng-message="maxlength"
                       data-translate="sms_phonebooks_phonebook_contact_create_group_error_maxlength">
                    </p>
                </div>
            </div>
        </div>

        <h5 class="top-space-m24 text-info">
            <i class="ovh-font ovh-font-info right-space-m4" aria-hidden="true"></i>
            <span data-translate="sms_phonebooks_phonebook_contact_create_error_numbers"></span>
        </h5>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <!-- HOMEPHONE -->
                <div class="form-group">
                    <div flat-input-container>
                        <label for="homePhone"
                               class="control-label"
                               data-translate="sms_phonebooks_phonebook_contact_column_home_phone">
                        </label>
                        <input
                            type="text"
                            name="homePhone"
                            id="homePhone"
                            class="form-control"
                            data-ng-model="ContactCreateCtrl.phonecontactForm.homePhone"
                            data-ng-change="ContactCreateCtrl.handleContactPhoneNumber()"
                            data-ui-validate="{ phoneNumber: 'ContactCreateCtrl.isValidNumber($value)' }"
                            data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_column_home_phone_title' }" />
                        <div role="alert"
                             data-ng-if="createPhonecontactForm.homePhone.$dirty"
                             data-ng-messages="createPhonecontactForm.homePhone.$error">
                            <p class="text-danger"
                               data-ng-message="phoneNumber"
                               data-translate="sms_phonebooks_phonebook_contact_create_error_phonenumber">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <!-- HOMEMOBILE -->
                <div class="form-group">
                    <div flat-input-container>
                        <label for="homeMobile"
                               class="control-label"
                               data-translate="sms_phonebooks_phonebook_contact_column_home_mobile">
                        </label>
                        <input
                            type="text"
                            name="homeMobile"
                            id="homeMobile"
                            class="form-control"
                            data-ng-model="ContactCreateCtrl.phonecontactForm.homeMobile"
                            data-ng-change="ContactCreateCtrl.handleContactPhoneNumber()"
                            data-ui-validate="{ phoneNumber: 'ContactCreateCtrl.isValidNumber($value)' }"
                            data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_column_home_mobile_title' }" />
                        <div role="alert"
                             data-ng-if="createPhonecontactForm.homeMobile.$dirty"
                             data-ng-messages="createPhonecontactForm.homeMobile.$error">
                            <p class="text-danger"
                               data-ng-message="phoneNumber"
                               data-translate="sms_phonebooks_phonebook_contact_create_error_phonenumber">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <!-- WORKPHONE -->
                <div class="form-group">
                    <div flat-input-container>
                        <label for="workPhone"
                               class="control-label"
                               data-translate="sms_phonebooks_phonebook_contact_column_work_phone">
                        </label>
                        <input
                            type="text"
                            name="workPhone"
                            id="workPhone"
                            class="form-control"
                            data-ng-model="ContactCreateCtrl.phonecontactForm.workPhone"
                            data-ng-change="ContactCreateCtrl.handleContactPhoneNumber()"
                            data-ui-validate="{ phoneNumber: 'ContactCreateCtrl.isValidNumber($value)' }"
                            data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_column_work_phone_title' }" />
                        <div role="alert"
                             data-ng-if="createPhonecontactForm.workPhone.$dirty"
                             data-ng-messages="createPhonecontactForm.workPhone.$error">
                            <p class="text-danger"
                               data-ng-message="phoneNumber"
                               data-translate="sms_phonebooks_phonebook_contact_create_error_phonenumber">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <!-- WORKMOBILE -->
                <div class="form-group">
                    <div flat-input-container>
                        <label for="workMobile"
                               class="control-label"
                               data-translate="sms_phonebooks_phonebook_contact_column_work_mobile">
                        </label>
                        <input
                            type="text"
                            name="workMobile"
                            id="workMobile"
                            class="form-control"
                            data-ng-model="ContactCreateCtrl.phonecontactForm.workMobile"
                            data-ng-change="ContactCreateCtrl.handleContactPhoneNumber()"
                            data-ui-validate="{ phoneNumber: 'ContactCreateCtrl.isValidNumber($value)' }"
                            data-translate-attr="{ placeholder: 'sms_phonebooks_phonebook_contact_column_work_mobile_title' }" />
                        <div role="alert"
                             data-ng-if="createPhonecontactForm.workMobile.$dirty"
                             data-ng-messages="createPhonecontactForm.workMobile.$error">
                            <p class="text-danger"
                               data-ng-message="phoneNumber"
                               data-translate="sms_phonebooks_phonebook_contact_create_error_phonenumber">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal-body -->

    <div class="modal-body" data-ng-if="ContactCreateCtrl.phonecontactForm.isCreating">
        <bouncing-box-loader>
            <h4 data-translate="sms_phonebooks_phonebook_contact_creating"></h4>
        </bouncing-box-loader>
    </div>
    <!-- /.modal-body -->

    <div class="modal-body" data-ng-if="ContactCreateCtrl.phonecontactForm.hasBeenCreated">
        <success-drawing-check data-draw-success-check="ContactCreateCtrl.phonecontactForm.hasBeenCreated">
            <h4 data-translate="sms_phonebooks_phonebook_contact_created"></h4>
        </success-drawing-check>
    </div>
    <!-- /.modal-body -->

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-ng-click="ContactCreateCtrl.cancel()"
            data-translate="cancel"
            data-ng-disabled="ContactCreateCtrl.phonecontactForm.isCreating || ContactCreateCtrl.phonecontactForm.hasBeenCreated">
        </button>
        <button
            type="submit"
            class="btn btn-primary"
            data-ng-disabled="createPhonecontactForm.$invalid ||
                              !ContactCreateCtrl.handleContactPhoneNumber() ||
                              ContactCreateCtrl.phonecontactForm.isCreating ||
                              ContactCreateCtrl.phonecontactForm.hasBeenCreated"
            data-translate="submit">
        </button>
    </div>
    <!-- /.modal-footer -->
</form>
