<section class="telecom-telephony-line">

    <!-- LOADING -->
    <bouncing-box-loader data-ng-if="LineCtrl.loading.init">
        <h1 data-translate="loading"></h1>
    </bouncing-box-loader>

    <div class="telecom-section-header" data-ng-if="!LineCtrl.loading.init">
        <header role="banner">
            <!-- GROUP TITLE -->
            <editable-service-name data-editable-service-name-title="LineCtrl.line.getDisplayedName()"
                                   data-editable-service-name-title-on-save="LineCtrl.lineNameSave"
                                   data-editable-service-name-service-name="LineCtrl.line.serviceName"
                                   data-maxlength="25">
            </editable-service-name>
        </header>

        <!-- LINE ACTIONS -->
        <nav role="navigation">
            <responsive-tabs>

                <responsive-tab data-state="telecom.telephony.line"
                                data-dropdown-title="{{ 'telephony_line_tab_manage' | translate }}">
                    <span data-translate="telephony_line_tab_manage"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.consumption"
                                data-dropdown-title="{{ 'telephony_line_tab_consumption' | translate }}">
                    <span data-translate="telephony_line_tab_consumption"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.calls"
                                data-dropdown-title="{{ 'telephony_line_tab_call_management' | translate }}">
                    <span data-translate="telephony_line_tab_call_management"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.tones"
                                data-dropdown-title="{{ 'telephony_line_tab_music_management' | translate }}"
                                data-disabled="LineCtrl.loading.init || LineCtrl.line.isIndividual() || LineCtrl.line.isTrunk() || LineCtrl.line.isPlugNFax">
                    <span data-translate="telephony_line_tab_music_management"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.answer"
                                data-dropdown-title="{{ 'telephony_line_tab_answering_machine' | translate }}">
                    <span data-translate="telephony_line_tab_answering_machine"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.phone"
                                data-dropdown-title="{{ 'telephony_line_tab_phone' | translate }}">
                    <span data-translate="telephony_line_tab_phone"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.assist"
                                data-dropdown-title="{{ 'telephony_line_tab_assist' | translate }}">
                    <span data-translate="telephony_line_tab_assist"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.contact"
                                data-dropdown-title="{{ 'telephony_line_tab_contact_details' | translate }}">
                    <span data-translate="telephony_line_tab_contact_details"></span>
                </responsive-tab>

                <responsive-tab data-state="telecom.telephony.line.fax"
                                data-dropdown-title="{{ 'telephony_line_tab_fax' | translate }}"
                                data-disabled="LineCtrl.loading.init || !(LineCtrl.line.isPlugNFax || LineCtrl.fax)">
                    <span data-translate="telephony_line_tab_fax"></span>
                </responsive-tab>

                <responsive-tab-more>
                    <i class="fa fa-plus"></i>
                </responsive-tab-more>
            </responsive-tabs>
        </nav>
    </div><!-- .telecom-section-header -->

    <div class="telecom-section-alert"
         data-ng-if="!LineCtrl.loading.init">
        <div class="alert alert-xs alert-warning" role="alert" data-ng-if="LineCtrl.terminating">
            <i class="ovh-font ovh-font-filled-warning line-height-normal right-space-m4 text-warning"></i>
            <span data-translate="telephony_line_expire_date" data-translate-values="{date: LineCtrl.terminating.executionDate}"></span>
            <a data-ui-sref="telecom.telephony.line.terminate.cancel" data-translate="telephony_line_expire_link"></a>
        </div>
        <div class="alert alert-xs alert-warning" role="alert" data-ng-if="LineCtrl.converting">
            <i class="ovh-font ovh-font-filled-warning line-height-normal right-space-m4 text-warning"></i>
            <span data-translate="telephony_line_convert_date" data-translate-values="{ date: (LineCtrl.converting.executionDate | date) }"></span>
            <a data-ui-sref="telecom.telephony.line.convert" data-translate="telephony_line_convert_link"></a>
        </div>
    </div><!-- .telecom-section-alert -->

    <main class="telecom-section-content"
        role="main"
        data-ng-if="!LineCtrl.loading.init"
        data-ui-view="lineInnerView">
    </main><!-- .telecom-section-content -->

</section>
