<div class="alias-order-address">
    <!-- Street number -->
    <div flat-input-container class="top-space-md-m8 bottom-space-m8 right-space-m16 street-number">
        <div class="row sr-only">
            <div class="col-sm-12">
                <label class="control-label" for="streetNumberElem"
                    data-translate="telephony_order_address_street_number">
                </label>
            </div>
        </div>
        <div class="row">
            <input type="text"
                class="form-control"
                id="streetNumberElem"
                name="streetNumber"
                data-ng-disabled="$ctrl.ngDisabled"
                placeholder="{{:: 'telephony_order_address_street_number' | translate }}"
                data-ng-model="$ctrl.ngModel.streetNumber" />
        </div>
    </div>

    <!-- Street name -->
    <div flat-input-container class="top-space-md-m8 bottom-space-m8 right-space-m16 street">
        <div class="row sr-only">
            <div class="col-sm-12">
                <label class="control-label" for="streetElem"
                    data-translate="telephony_order_address_street_name">
                </label>
            </div>
        </div>
        <div class="row">
            <input type="text"
                class="form-control"
                id="streetElem"
                name="street"
                data-ng-disabled="$ctrl.ngDisabled"
                required
                placeholder="{{:: 'telephony_order_address_street_name' | translate }} *"
                data-ng-model="$ctrl.ngModel.streetName" />
        </div>
    </div>

    <!-- Zipcode -->
    <div flat-input-container class="top-space-md-m4 bottom-space-m8 right-space-m16 zipcode">
        <div class="row sr-only">
            <div class="col-sm-12">
                <label class="control-label" for="zipElem"
                    data-translate="telephony_order_address_zipcode">
                </label>
            </div>
        </div>
        <div class="row">
            <input type="text"
                class="form-control"
                id="zipElem"
                name="zip"
                data-ng-disabled="$ctrl.ngDisabled"
                placeholder="{{:: 'telephony_order_address_zipcode' | translate }} *"
                data-ng-model="$ctrl.ngModel.zip"
                data-ui-validate="'$ctrl.validator.isZipcode($value, [$ctrl.regionCode])'"
                required>
        </div>
    </div>

    <!-- City -->
    <div flat-input-container class="top-space-md-m8 bottom-space-m8">
        <div class="row sr-only">
            <div class="col-sm-12">
                <label class="control-label" for="cityElem"
                    data-translate="telephony_order_address_city">
                </label>
            </div>
        </div>
        <div class="row">
            <input type="text"
                class="form-control"
                id="cityElem"
                name="city"
                data-ng-disabled="$ctrl.ngDisabled"
                placeholder="{{:: 'telephony_order_address_city' | translate }} *"
                data-ng-model="$ctrl.ngModel.city"
                required>
        </div>
    </div>

</div>
