<section>

    <div class="text-center" data-ng-if="OptionsGroupCtrl.isLoading">
        <oui-spinner></oui-spinner>
    </div>

    <div class="telecom-section-content"
         data-ng-if="!OptionsGroupCtrl.isLoading">

        <toast-message></toast-message>

        <oui-back-button data-title="{{:: 'telephony_options_group_title' | translate }}"
                         data-on-click="OptionsGroupCtrl.$state.go('telecom.telephony.administration')">
        </oui-back-button>

        <form name="OptionsGroupCtrl.optionsGroupSettings"
              data-ng-submit="OptionsGroupCtrl.changeSettings()">

            <oui-field data-label="{{:: 'telephony_billing_account_administration_options_group_hiddenExternalNumber_label' | translate }}">
                <oui-radio name="hiddenExternalNumber"
                           data-text="{{:: 'common_yes_capitalized' | translate }}"
                           data-model="OptionsGroupCtrl.optionsGroupForm.telephony.hiddenExternalNumber"
                           data-value="true"
                           required></oui-radio>
                <oui-radio name="hiddenExternalNumber"
                           data-text="{{:: 'common_no_capitalized' | translate }}"
                           data-model="OptionsGroupCtrl.optionsGroupForm.telephony.hiddenExternalNumber"
                           data-value="false"
                           required></oui-radio>
            </oui-field>
            <oui-field data-label="{{:: 'telephony_billing_account_administration_options_group_overrideDisplayedNumber_label' | translate }}"
                       data-help-text="{{:: 'telephony_billing_account_administration_options_group_overrideDisplayedNumber_info' | translate }}">
                <oui-radio name="overrideDisplayedNumber"
                           text="{{:: 'common_yes_capitalized' | translate }}"
                           data-model="OptionsGroupCtrl.optionsGroupForm.telephony.overrideDisplayedNumber"
                           data-value="true"
                           required></oui-radio>
                <oui-radio name="overrideDisplayedNumber"
                           data-text="{{:: 'common_no_capitalized' | translate }}"
                           data-model="OptionsGroupCtrl.optionsGroupForm.telephony.overrideDisplayedNumber"
                           data-value="false"
                           required></oui-radio>
            </oui-field>
            <oui-field label="{{:: 'telephony_billing_account_administration_options_group_displayOnIncomingCall_label' | translate }}">
                <oui-radio name="displayOnIncomingCall"
                           data-text="{{:: 'common_yes_capitalized' | translate }}"
                           data-model="OptionsGroupCtrl.optionsGroupForm.user.lineDescriptionPolicies.displayOnIncomingCall"
                           data-value="true"
                           required></oui-radio>
                <oui-radio name="displayOnIncomingCall"
                           data-text="{{:: 'common_no_capitalized' | translate }}"
                           data-model="OptionsGroupCtrl.optionsGroupForm.user.lineDescriptionPolicies.displayOnIncomingCall"
                           data-value="false"
                           required></oui-radio>
            </oui-field>

            <oui-form-actions
                data-on-cancel="OptionsGroupCtrl.$state.go('telecom.telephony.administration')"
                data-cancel-text="{{:: 'cancel' | translate }}"
                data-submit-text="{{:: 'submit' | translate }}" >
            </oui-form-actions>

        </form>
    </div>
</section>
