<form id="memberAddForm"
      name="memberAddForm"
      data-ng-submit="$ctrl.addMembers(memberAddForm)"
      data-ng-if="$ctrl.isInitialized"
      novalidate>

    <!-- NUMBER -->
    <div flat-input-container>
        <label for="memberNumber"
               class="control-label"
               data-translate="telephony_alias_members_number"></label>
        <div class="input-group top-space-m4"
             data-ng-repeat="number in $ctrl.addMemberForm.numbers track by $index">
            <input id="memberNumber"
                   class="form-control"
                   type="text"
                   placeholder="{{:: 'telephony_alias_members_number_placeholder' | translate }}"
                   required
                   data-ng-pattern="/^.*$/"
                   data-ng-model="$ctrl.addMemberForm.numbers[$index]" />
            <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        aria-label="{{:: 'common_search' | translate }}"
                        data-voip-service-choice-popover="{
                            popoverPlacement: 'auto left',
                            popoverClass: 'pretty-popover telephony-service-choice-popover',
                            popoverAppendToBody: true,
                            popoverIsOpen: false
                        }"
                        data-choice-args="$index"
                        data-exclude-services="$ctrl.getServicesToExclude()"
                        data-available-types="['sip', 'number']"
                        data-on-choice-validated="$ctrl.onChooseServicePopover"
                        data-on-choice-cancel="">
                    <i class="ovh-font ovh-font-search"></i>
                </button>
                <button type="button"
                        class="btn btn-default"
                        aria-label="{{:: 'delete' | translate }}"
                        data-ng-disabled="$index === 0 && !$ctrl.addMemberForm.numbers[0]"
                        data-ng-click="$ctrl.removeMemberAt($index)">
                    <i class="ovh-font ovh-font-wrong"></i>
                </button>
            </span>
        </div>
    </div>

    <!-- ADD MORE NUMBERS -->
    <div class="top-space-m16 clearfix"
         data-ng-if="$ctrl.addMemberForm.numbers[0]">
        <button type="button"
                class="btn btn-default"
                data-ng-click="$ctrl.addMemberForm.numbers.push(null)"
                data-translate="telephony_alias_members_number_add"
                data-ng-disabled="!$ctrl.addMemberForm.numbers[$ctrl.addMemberForm.numbers.length - 1]">
        </button>
    </div>

    <!-- TIMEOUT -->
    <div class="clearfix top-space-m8">
        <label for="timeoutInput"
               class="block control-label"
               data-translate="telephony_alias_members_timeout"></label>
        <input-number-spinner id="timeoutInput"
                              class="pull-left"
                              data-ng-model="$ctrl.addMemberForm.options.timeout"
                              data-input-number-spinner-min="1"
                              data-input-number-spinner-max="99999">
        </input-number-spinner>
    </div>

    <!-- WRAP UP TIME -->
    <div class="clearfix top-space-m8">
        <label for="wrapUpTimeInput"
               class="block control-label"
               data-translate="telephony_alias_members_wrap_up_time"></label>
        <input-number-spinner id="wrapUpTimeInput"
                              class="pull-left"
                              data-ng-model="$ctrl.addMemberForm.options.wrapUpTime"
                              data-input-number-spinner-min="0"
                              data-input-number-spinner-max="99999">
        </input-number-spinner>
    </div>

    <!-- SIMULTANEOUS LINES -->
    <div class="clearfix top-space-m8">
        <label for="simultaneousLinesInput"
               class="block control-label"
               data-translate="telephony_alias_members_simultaneous_lines"></label>
        <input-number-spinner id="simultaneousLinesInput"
                              class="pull-left"
                              data-ng-model="$ctrl.addMemberForm.options.simultaneousLines"
                              data-input-number-spinner-min="1"
                              data-input-number-spinner-max="10">
        </input-number-spinner>
    </div>

    <div class="top-space-m32">
        <button type="button"
                class="btn btn-default no-transition"
                data-translate="cancel"
                data-ng-click="$ctrl.resetMemberAddForm()"
                data-ng-if="$ctrl.addMemberForm.numbers[0]">
        </button>
        <button type="submit"
                class="btn btn-primary no-transition"
                data-ng-disabled="memberAddForm.$invalid || $ctrl.loaders.adding">
            <span data-ng-if="$ctrl.addMemberForm.numbers.length <= 1"
                  data-translate="telephony_alias_members_add"></span>
            <span data-ng-if="$ctrl.addMemberForm.numbers.length > 1"
                  data-translate="telephony_alias_members_add_multiple"
                  data-translate-values="{ count: $ctrl.addMemberForm.numbers.length }"></span>
            <spinner class="left-space-m4" data-ng-if="$ctrl.loaders.adding"></spinner>
        </button>
    </div>

</form>
