<div id="pack-hostedEmail" data-ng-controller="PackHostedEmailCtrl as HostedEmail">
	<div data-ng-include="'app/common/dashboard/service/loading.html'" data-ng-if="HostedEmail.loaders.services"></div>
	<div data-ng-include="'app/common/dashboard/service/no-element.html'" data-ng-if="!HostedEmail.loaders.services && !HostedEmail.services.length"></div>
    <ul class="services-list" data-ng-if="!HostedEmail.loaders.services && HostedEmail.services.length > 0">
        <li class="service-item" data-ng-repeat="service in HostedEmail.services track by service.name">
            <a class="service-button"
			   data-ui-sref="telecom.pack.hostedEmail-detail({serviceName: service.name})">
                <span class="ovh-font ovh-font-mail" aria-hidden="true"></span>

                <div class="service-button-description">
                    <div class="description-title" data-ng-bind="service.name"></div>
                    <div class="description-subtext" data-ng-bind="service.domain"></div>
                </div>

                <span class="ovh-font ovh-font-arrow-right" aria-hidden="true"></span>
            </a>
        </li>
    </ul>

	<div class="text-right">
		<a data-ng-if="service.available > 0"
	        data-ui-sref="telecom.pack.hostedEmail-add"
	        class="telecom-link order-service"
	        data-translate-attr="{ title: 'common_order_activate_service'}">
	        <span class="ovh-font ovh-font-activer fs16 right-space-m4" aria-hidden="true"></span>
	        <span class="data-ng-binding" data-translate="common_order_activate_service"></span>
	    </a>
	</div>
</div>
