<div data-ng-form name="passwordFormPart">
	<div class="form-group">
		<div class="hasTips">
			<div flat-input-container>
				<div class="row">
					<div class="col-xs-12">
						<label for="ovhPwd" class="control-label">{{:: 'password' | translate }} *</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10">
						<input type="password"
							   class="form-control"
                               id="ovhPwd"
                               name="password"
                               data-ng-model="password.value"
                               data-ovh-password-strength-check
                               placeholder="{{:: 'password' | translate }} *"
                               maxlength="32"
                               required
                               data-ovh-popover
                               data-content-template="components/ovh-password/ovh-checks.html"
                               data-trigger="focus"
                               data-ng-paste="pasteTags($event)"
						>
					</div>
					<div class="input-icons col-xs-2">
						<span data-ng-show="passwordFormPart.password.$dirty
									&& passwordFormPart.password.$valid"
							  class="glyphicon glyphicon-ok"
							  aria-hidden="true">
						</span>
						<span data-ng-show="(passwordFormPart.password.$dirty
									&&  passwordFormPart.password.$invalid)"
							  class="glyphicon glyphicon-remove"
							  aria-hidden="true">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div>
			<div flat-input-container>
				<div class="row">
					<div class="col-xs-12">
						<label class="control-label" for="ovhPwdConfirm">{{:: 'password_confirmation' | translate }} *</label>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10">
						<input type="password"
							   class="form-control"
							   id="ovhPwdConfirm"
							   name="ovhPwdConfirm"
							   data-match="password.value"
							   data-ng-model="password.confirm"
							   maxlength="32"
							   required
							   placeholder="{{:: 'password_confirmation' | translate }} *"
							   data-ng-paste="pasteTags($event)"
						>
					</div>
					<div class="input-icons col-xs-2">
						<span data-ng-show="passwordFormPart.ovhPwdConfirm.$dirty
									&& passwordFormPart.ovhPwdConfirm.$valid"
							  class="glyphicon glyphicon-ok"
							  aria-hidden="true">
						</span>
						<span data-ng-show="(passwordFormPart.ovhPwdConfirm.$dirty
									&&  passwordFormPart.ovhPwdConfirm.$invalid)"
							  class="glyphicon glyphicon-remove"
							  aria-hidden="true">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
