<section class="telecom-telephony-service-fax-password">

    <bouncing-box-loader data-ng-if="PasswordCtrl.loading.init">
        <h2 data-translate="loading"></h2>
    </bouncing-box-loader>

    <div class="row"
         data-ng-if="!PasswordCtrl.loading.init">
        <div class="col-md-6 widget-presentation">

            <header class="widget-presentation-header">
                <h2 class="widget-presentation-title"
                    data-translate="telephony_service_fax_password_title">
                </h2>
            </header>

            <div class="row bottom-space-m16">
                <div class="col-xs-4">
                    <span data-translate="telephony_service_fax_password_number_info_line"></span>
                </div>
                <div class="col-xs-8">
                    <span data-ng-bind="PasswordCtrl.fax.serviceName | phoneNumber"></span>
                </div>
            </div>

            <form name="faxPasswordForm"
                  class="form-horizontal ovh-form-flat"
                  data-ng-submit="PasswordCtrl.submitPasswordChange(faxPasswordForm)">

                <!-- PASSWORD -->
                <div class="row bottom-space-m16">
                    <label for="password"
                           class="col-md-4 top-space-m4"
                           data-translate="telephony_service_fax_password_main_title">
                    </label>
                    <div class="col-md-8"
                         data-flat-input-container>
                        <input
                            type="password"
                            name="password"
                            id="password"
                            class="form-control"
                            autofocus
                            required
                            data-ng-model="PasswordCtrl.passwordForm.password"
                            data-ng-minlength="6"
                            data-ng-maxlength="12"
                            data-translate-attr="{ placeholder: 'telephony_service_fax_password_main_title' }" />
                        <div role="alert"
                             data-ng-messages="faxPasswordForm.$dirty && faxPasswordForm.password.$error">
                            <p data-ng-message="required"
                               data-translate="telephony_service_fax_password_error_password_required">
                            </p>
                            <p data-ng-message="minlength"
                               data-translate="telephony_service_fax_password_error_password_minlength">
                            </p>
                            <p data-ng-message="maxlength"
                               data-translate="telephony_service_fax_password_error_password_maxlength">
                            </p>
                        </div>
                    </div>
                </div>

                <!-- CONFIRM PASSWORD -->
                <div class="row bottom-space-m16"
                     data-ng-if="faxPasswordForm.password.$valid">
                    <label for="confirmPassword"
                           class="col-md-4 top-space-m4"
                           data-translate="telephony_service_fax_password_label_confirm">
                    </label>
                    <div class="col-md-8"
                         data-flat-input-container>
                        <input
                            type="password"
                            name="confirmPassword"
                            id="confirmPassword"
                            class="form-control"
                            required
                            data-ng-model="PasswordCtrl.passwordForm.confirm"
                            data-match-password="password"
                            data-translate-attr="{ placeholder: 'telephony_service_fax_password_label_confirm' }" />
                        <div role="alert"
                             data-ng-messages="faxPasswordForm.confirmPassword.$dirty && faxPasswordForm.confirmPassword.$error">
                            <div data-ng-message="passwordMatch"
                                 data-translate="telephony_service_fax_password_error_confirm_password_match">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SUBMIT -->
                <button
                    type="submit"
                    class="btn btn-primary"
                    data-ng-disabled="faxPasswordForm.$invalid || PasswordCtrl.passwordForm.isUpdating || PasswordCtrl.passwordForm.isSuccess">
                    <span data-ng-if="PasswordCtrl.passwordForm.isSuccess"
                          data-translate="telephony_service_fax_password_change_success">
                    </span>
                    <i class="ovh-font ovh-font-check left-space-m4"
                       data-ng-if="PasswordCtrl.passwordForm.isSuccess">
                    </i>
                    <span data-ng-if="!PasswordCtrl.passwordForm.isSuccess"
                          data-translate="telephony_service_fax_password_apply">
                    </span>
                    <spinner class="left-space-m8"
                             data-ng-if="PasswordCtrl.passwordForm.isUpdating">
                    </spinner>
                </button>
            </form>

        </div>
    </div>

</section><!-- .telecom-telephony-service-fax-password -->
