<section class="telecom-sms-sms-hlr">

    <header>
        <section-back-link section-back-link-to-state="telecom.sms.sms"
                           section-back-link-title="{{ 'sms_section_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="sms_sms_hlr_title"></h1>
    </header>

    <div class="telecom-section-content">

        <toast-message></toast-message>

        <div class="row mb-3">
            <div class="col-xs-12 widget-presentation">

                <div class="alert alert-info"
                     role="alert"
                     data-ng-if="SmsHlrCtrl.service.creditsLeft <= 0">
                    <p data-translate="sms_sms_hlr_alert_not_enough_credits"></p>
                    <a title="{{ ::'sms_actions_credit_account' | translate }}"
                       data-ui-sref="telecom.sms.order">
                        <span data-translate="sms_actions_credit_account"></span>.
                    </a>
                </div>

                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="sms_sms_hlr_information_title">
                    </h2>
                </header>

                <p data-translate="sms_sms_hlr_information_text_1"></p>
                <p data-translate="sms_sms_hlr_information_text_2"></p>
                <p data-translate="sms_sms_hlr_information_text_3"></p>

            </div><!-- .widget-presentation -->
        </div><!-- .row -->

        <div class="row mb-3">
            <div class="col-xs-12 widget-presentation">

                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="sms_sms_hlr_query_title">
                    </h2>
                </header>

                <div class="row">
                    <div class="col-xs-12 col-md-6">

                        <form name="sendHlrQueryForm"
                              id="sendHlrQueryForm"
                              data-ng-submit="SmsHlrCtrl.send()">

                            <!-- Number -->
                            <div class="form-group"
                                 data-ng-class="{
                                     'has-error': sendHlrQueryForm.receiver.$touched && sendHlrQueryForm.receiver.$invalid
                                 }">
                                <label for="receiver"
                                       class="control-label"
                                       data-translate="sms_sms_hlr_query_label_number">
                                </label>
                                <input
                                    type="tel"
                                    name="receiver"
                                    id="receiver"
                                    class="form-control"
                                    autofocus
                                    required
                                    data-ng-model="SmsHlrCtrl.receiver"
                                    data-ng-change="SmsHlrCtrl.restrictInput()"
                                    data-ng-blur="SmsHlrCtrl.computeReceiver()"
                                    data-ng-disabled="SmsHlrCtrl.service.creditsLeft <= 0"
                                    data-translate-attr="{ placeholder: 'sms_sms_hlr_query_label_number' }" />
                                <span class="help-block"
                                      role="alert"
                                      data-ng-if="sendHlrQueryForm.receiver.$touched"
                                      data-ng-messages="sendHlrQueryForm.receiver.$error">
                                    <span data-ng-message="required"
                                          data-translate="sms_sms_hlr_query_number_error_required">
                                    </span>
                                </span>
                            </div>

                            <!-- CGU -->
                            <p data-translate="sms_sms_hlr_query_cgu_text"
                               data-translate-values="{ url: SmsHlrCtrl.getHlrTermsOfUse() }">
                            </p>
                            <div class="checkbox">
                                <label>
                                    <input
                                        type="checkbox"
                                        name="cgu"
                                        id="cgu"
                                        data-ng-init="SmsHlrCtrl.cgu = false"
                                        data-ng-model="SmsHlrCtrl.cgu"
                                        data-ng-disabled="SmsHlrCtrl.service.creditsLeft <= 0" />
                                    <span data-translate="sms_sms_hlr_query_label_cgu"></span>
                                </label>
                            </div>

                            <div class="form-group">
                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    data-ng-disabled="sendHlrQueryForm.$invalid || SmsHlrCtrl.hlr.isSending || !SmsHlrCtrl.cgu"
                                    data-translate="sms_sms_hlr_query_send">
                                </button>
                                <oui-spinner class="ml-2"
                                             data-ng-if="SmsHlrCtrl.hlr.isSending"
                                             data-size="s">
                                </oui-spinner>
                            </div>
                        </form>

                    </div>
                    <div class="col-xs-12 col-md-6">
                        <p data-translate="sms_sms_hlr_query_text_1"></p>
                        <p>
                            <span data-translate="sms_sms_hlr_query_text_2"></span>
                            <a href="#"
                               data-ui-sref="telecom.sms.receivers"
                               data-translate="sms_sms_hlr_query_text_3">
                            </a>.
                        </p>
                    </div>
                </div>

            </div><!-- .widget-presentation -->
        </div><!-- .row -->

        <div class="row mb-3">
            <div class="col-xs-12 widget-presentation">

                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="sms_sms_hlr_read_title">
                    </h2>
                </header>

                <div class="table-responsive">
                    <table class="table"
                           data-ng-class="{
                               'table-hover table-striped': SmsHlrCtrl.hlr.raw.length > 1
                           }">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('datetime')">
                                        <span data-translate="sms_sms_hlr_read_label_date"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'datetime',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'datetime' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'datetime' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('cost')">
                                        <span data-translate="sms_sms_hlr_read_label_cost"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'cost',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'cost' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'cost' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('status')">
                                        <span data-translate="sms_sms_hlr_read_label_status"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'status',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'status' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'status' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('msisdn')">
                                        <span data-translate="sms_sms_hlr_read_label_number"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'msisdn',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'msisdn' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'msisdn' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('operatorCode')">
                                        <span data-translate="sms_sms_hlr_read_label_operator_code"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'operatorCode',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'operatorCode' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'operatorCode' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('valid')">
                                        <span data-translate="sms_sms_hlr_read_label_valid"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'valid',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'valid' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'valid' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('reachable')">
                                        <span data-translate="sms_sms_hlr_read_label_reachable"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'reachable',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'reachable' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'reachable' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('ported')">
                                        <span data-translate="sms_sms_hlr_read_label_ported"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'ported',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'ported' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'ported' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                                <th scope="col">
                                    <button
                                        type="button"
                                        class="btn btn-link p-0"
                                        data-ng-click="SmsHlrCtrl.orderBy('roaming')">
                                        <span data-translate="sms_sms_hlr_read_label_roaming"></span>
                                        <span class="oui-icon align-baseline"
                                              aria-hidden="true"
                                              data-ng-class="{
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy !== 'roaming',
                                                  'oui-icon-arrow-down': SmsHlrCtrl.hlr.orderBy === 'roaming' && SmsHlrCtrl.hlr.orderDesc,
                                                  'oui-icon-arrow-up': SmsHlrCtrl.hlr.orderBy === 'roaming' && !SmsHlrCtrl.hlr.orderDesc
                                              }">
                                        </span>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody data-ng-if="!SmsHlrCtrl.hlr.isLoading && SmsHlrCtrl.hlr.raw.length">
                            <tr data-ng-repeat="hlr in SmsHlrCtrl.hlr.paginated | orderBy:SmsHlrCtrl.hlr.orderBy:SmsHlrCtrl.hlr.orderDesc track by hlr.id">
                                <td>
                                    <span data-ng-bind="hlr.datetime | date: 'dd/MM/yyyy'"></span>
                                    <span data-ng-bind="hlr.datetime | date: 'HH:mm:ss'"></span>
                                </td>
                                <td data-translate="sms_sms_hlr_read_cost_value"
                                    data-translate-values="{ credit: hlr.status === 'done' ? 0.1 : 0 }">
                                </td>
                                <td>
                                    <i class="ovh-font"
                                       data-ng-class="{
                                           'ovh-font-inprogress text-info': hlr.status === 'doing',
                                           'ovh-font-success text-success': hlr.status === 'done',
                                           'ovh-font-failure text-danger': hlr.status === 'error',
                                           'ovh-font-arrow-rotate text-info': hlr.status === 'todo'
                                       }">
                                    </i>
                                </td>
                                <td data-ng-bind="hlr.msisdn"></td>
                                <td data-ng-bind="hlr.operatorName || '-'"></td>
                                <td class="text-capitalize"
                                    data-ng-bind="hlr.valid ? 'yes' : 'no' | translate">
                                </td>
                                <td class="text-capitalize"
                                    data-ng-bind="hlr.reachable ? 'yes' : 'no' | translate">
                                </td>
                                <td class="text-capitalize"
                                    data-ng-bind="hlr.ported ? 'yes' : 'no' | translate">
                                </td>
                                <td class="text-capitalize"
                                    data-ng-bind="hlr.roaming ? 'yes' : 'no' | translate">
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-ng-if="SmsHlrCtrl.hlr.isLoading">
                            <tr>
                                <td colspan="9" class="text-center">
                                    <oui-spinner data-size="s"></oui-spinner>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-ng-if="!SmsHlrCtrl.hlr.isLoading && !SmsHlrCtrl.hlr.raw.length">
                            <tr>
                                <td class="text-center"
                                    colspan="9"
                                    data-translate="sms_sms_hlr_read_empty">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-2"
                     data-ng-show="!SmsHlrCtrl.hlr.isLoading && SmsHlrCtrl.hlr.raw.length"
                     data-pagination-front
                     data-items="SmsHlrCtrl.hlr.raw"
                     data-paginated-items="SmsHlrCtrl.hlr.paginated"
                     data-current-page="currentPage"
                     data-nb-pages="nbPages"
                     data-items-per-page="SmsHlrCtrl.hlr.perPage"
                     data-transform-item="SmsHlrCtrl.getDetails(item)"
                     data-on-transform-item-done="SmsHlrCtrl.onTransformItemDone(items)"
                     data-page-placeholder="{{ 'common_pagination_page' | translate: { currentPage: currentPage, nbPages: nbPages } }}"
                     data-item-per-page-placeholder="{{ 'common_pagination_display' | translate }}">
                </div>

            </div><!-- .widget-presentation -->
        </div><!-- .row -->

    </div><!-- .telecom-section-content -->

</section>
