<section class="telephony-group-alias-special-transfer">
    <header>
        <oui-back-button data-state="telecom.telephony.alias.dashboard">
            <span data-translate="telephony_alias_special_transfer_title"></span>
        </oui-back-button>
    </header>

    <div class="telecom-section-content">

        <toast-message></toast-message>

        <div class="row">
            <div class="text-center"
                 data-ng-if="$ctrl.isLoading">
                <oui-spinner></oui-spinner>
            </div>
            <div class="col-md-6 widget-presentation table-responsive"
                 data-ng-if="!$ctrl.isLoading">

                 <oui-message data-type="info" aria-close-button-label=":: 'close' | translate">
                    <span data-translate="telephony_alias_special_transfer_description"></span>
                    <a class="btn btn-link p-0"
                       data-ui-sref="telecom.telephony.alias.special.fees"
                       data-translate="telephony_alias_special_transfer_description_link"></a>
                </oui-message>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <button type="button"
                                        class="btn btn-link p-0"
                                        data-translate-attr="{ title: 'telephony_alias_special_transfer_date_filter' }"
                                        data-ng-disabled="!$ctrl.repayments.length"
                                        data-ng-click="$ctrl.orderBy('date')">
                                    <span data-translate="telephony_alias_special_transfer_date_filter"></span>
                                    <span class="oui-icon"
                                          data-ng-class="{ 'oui-icon-arrow-up' : $ctrl.state.orderBy === 'date' && !$ctrl.state.orderDesc, 'oui-icon-arrow-down' : $ctrl.state.orderBy === 'date' && $ctrl.state.orderDesc}">
                                    </span>
                                </button>
                            </th>
                            <th scope="col">
                                <button type="button"
                                        class="btn btn-link p-0"
                                        data-translate-attr="{ title: 'telephony_alias_special_transfer_calling_filter' }"
                                        data-ng-disabled="!$ctrl.repayments.length"
                                        data-ng-click="$ctrl.orderBy('calling')">
                                    <span data-translate="telephony_alias_special_transfer_calling_filter"></span>
                                    <span class="oui-icon"
                                          data-ng-class="{ 'oui-icon-arrow-up' : $ctrl.state.orderBy === 'calling' && !$ctrl.state.orderDesc, 'oui-icon-arrow-down' : $ctrl.state.orderBy === 'calling' && $ctrl.state.orderDesc}">
                                    </span>
                                </button>
                            </th>
                            <th scope="col">
                                <button type="button"
                                        class="btn btn-link p-0"
                                        data-translate-attr="{ title: 'telephony_alias_special_transfer_duration_filter' }"
                                        data-ng-disabled="!$ctrl.repayments.length"
                                        data-ng-click="$ctrl.orderBy('duration')">
                                    <span data-translate="telephony_alias_special_transfer_duration_filter"></span>
                                    <span class="oui-icon"
                                          data-ng-class="{ 'oui-icon-arrow-up' : $ctrl.state.orderBy === 'duration' && !$ctrl.state.orderDesc, 'oui-icon-arrow-down' : $ctrl.state.orderBy === 'duration' && $ctrl.state.orderDesc}">
                                    </span>
                                </button>
                            </th>
                            <th scope="col">
                                <button type="button"
                                        class="btn btn-link p-0"
                                        data-translate-attr="{ title: 'telephony_alias_special_transfer_operator_filter' }"
                                        data-ng-disabled="!$ctrl.repayments.length"
                                        data-ng-click="$ctrl.orderBy('operator')">
                                    <span data-translate="telephony_alias_special_transfer_operator_filter"></span>
                                    <span class="oui-icon"
                                          data-ng-class="{ 'oui-icon-arrow-up' : $ctrl.state.orderBy === 'operator' && !$ctrl.state.orderDesc, 'oui-icon-arrow-down' : $ctrl.state.orderBy === 'operator' && $ctrl.state.orderDesc}">
                                    </span>
                                </button>
                            </th>
                            <th scope="col">
                                <button type="button"
                                        class="btn btn-link p-0"
                                        data-translate-attr="{ title: 'telephony_alias_special_transfer_price_filter' }"
                                        data-ng-disabled="!$ctrl.repayments.length"
                                        data-ng-click="$ctrl.orderBy('price')">
                                    <span data-translate="telephony_alias_special_transfer_price_filter"></span>
                                    <span class="oui-icon"
                                          data-ng-class="{ 'oui-icon-arrow-up' : $ctrl.state.orderBy === 'price' && !$ctrl.state.orderDesc, 'oui-icon-arrow-down' : $ctrl.state.orderBy === 'price' && $ctrl.state.orderDesc}">
                                    </span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="repayment in $ctrl.repayments | orderBy:$ctrl.state.orderBy:$ctrl.state.orderDesc track by $index">
                            <td data-ng-bind="repayment.creationDatetime | date:'dd-MM-yyyy hh:mm:ss'"></td>
                            <td data-ng-bind="repayment.calling"></td>
                            <td data-ng-bind="repayment.duration"></td>
                            <td data-ng-bind="repayment.operator"></td>
                            <td data-ng-bind="repayment.price | currency"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="font-weight-bold"
                                scope="row"
                                colspan="1"
                                data-translate="telephony_alias_special_transfer_total">
                            </th>
                            <td class="font-weight-bold"
                                data-ng-pluralize
                                data-count="$ctrl.totalRepayment.calls || 0"
                                data-when="{'0': ('telephony_alias_special_transfer_calls' | translate: { calls: $ctrl.totalRepayment.calls}),
                                       'one': ('telephony_alias_special_transfer_calls' | translate: { calls: $ctrl.totalRepayment.calls}),
                                       'other': ('telephony_alias_special_transfer_calls' | translate: { calls: $ctrl.totalRepayment.calls}) + 's'}"
                                ></td>
                            <td colspan="2"
                                class="font-weight-bold"
                                data-translate="telephony_alias_special_transfer_duration"
                                data-translate-values="{
                                    'duration': $ctrl.totalRepayment.duration || 0
                                }"
                                ></td>
                            <td class="font-weight-bold"
                                data-translate="telephony_alias_special_transfer_price"
                                data-translate-values="{
                                    'price': $ctrl.totalRepayment.price || 0
                                }"></td>
                        </tr>
                    </tfoot>
                </table>
                <a class="btn btn-primary mt-3"
                   data-translate="telephony_alias_special_transfer_button"
                   data-ui-sref="telecom.telephony.billing.groupRepayments"></a>
            </div>
        </div>

    </div>
    <!-- /.telecom-section-content -->

</section>
<!-- /.telephony-group-alias-special-transfer -->
