<section class="telephony-group-alias-configuration-queues-ovhPabx">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.alias.configuration"
                           section-back-link-title="{{ 'telephony_alias_configuration_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_alias_configuration_queues_title"></h1>
    </header>

    <div class="telecom-section-content" data-ng-if="QueuesOvhPabxCtrl.loaders.init">
        <bouncing-box-loader>
            <h4 data-translate="loading"></h4>
        </bouncing-box-loader>
    </div>

    <div class="telecom-section-content" data-ng-if="!QueuesOvhPabxCtrl.loaders.init">
        <div class="row">
            <div class="col-xs-12 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title" data-translate="telephony_alias_configuration_queues_list"></h2>
                </header>

                <button type="button"
                        class="btn btn-default bottom-space-m8"
                        data-ng-click="QueuesOvhPabxCtrl.createQueue()"
                        data-ng-disabled="QueuesOvhPabxCtrl.isCreating">
                    <span data-translate="telephony_alias_configuration_queues_queue_create"></span>
                    <spinner class="left-space-m4" data-ng-if="QueuesOvhPabxCtrl.isCreating"></spinner>
                </button>

                <!-- QUEUE LIST -->
                <uib-accordion class="bottom-space-m32"
                               data-ng-repeat="queue in QueuesOvhPabxCtrl.queues track by queue.queueId">
                    <div data-uib-accordion-group class="panel-default" data-is-open="queue.isOpen">
                        <uib-accordion-heading>
                            <div class="accordion-heading-container word-wrap">
                                <span data-translate="telephony_alias_configuration_queues_queue"></span>
                                <span data-ng-bind="queue.description"></span>
                                <span data-ng-if="!queue.description"
                                      class="left-space-m4"
                                      data-ng-bind="'#' + queue.queueId"></span>
                                <i class="pull-right glyphicon"
                                   data-ng-class="{'glyphicon-chevron-up': queue.isOpen, 'glyphicon-chevron-down': !queue.isOpen}"></i>
                            </div>
                        </uib-accordion-heading>

                        <!-- QUEUE OPTIONS -->
                        <button type="button"
                                class="btn btn-default pull-right no-transition"
                                data-ng-if="!queue.inEdition"
                                data-ng-click="QueuesOvhPabxCtrl.startQueueEdition(queue)"
                                data-translate="telephony_alias_configuration_queues_options_manage">
                        </button>
                        <button type="button"
                                class="btn btn-primary pull-right left-space-m4 no-transition"
                                data-ng-if="queue.inEdition"
                                data-ng-disabled="!QueuesOvhPabxCtrl.hasQueueInEditionChanges(queue)"
                                data-ng-click="QueuesOvhPabxCtrl.updateQueue(queue)"
                                data-translate="telephony_alias_configuration_queues_queue_update">
                        </button>
                        <button type="button"
                                class="btn btn-default pull-right no-transition"
                                data-ng-if="queue.inEdition"
                                data-ng-click="queue.inEdition = null"
                                data-translate="cancel">
                        </button>
                        <h3 data-translate="telephony_alias_configuration_queues_options"></h3>

                        <dl data-in-view="QueuesOvhPabxCtrl.fetchSoundsOfQueue(queue)"
                            data-ng-if="!queue.inEdition">
                            <dt data-translate="telephony_alias_configuration_queues_strategy"></dt>
                            <dd data-ng-bind="('telephony_alias_configuration_queues_strategy_' + queue.strategy) | translate"></dd>
                            <dt data-translate="telephony_alias_configuration_queues_follow_call_forwards"></dt>
                            <dd class="text-capitalize" data-ng-bind="(queue.followCallForwards ? 'yes' : 'no') | translate"></dd>
                            <dt data-translate="telephony_alias_configuration_queues_max_member"></dt>
                            <dd data-ng-bind="queue.maxMember"></dd>
                            <dt data-translate="telephony_alias_configuration_queues_max_wait_time"></dt>
                            <dd data-ng-bind="queue.maxWaitTime"></dd>
                            <dt data-translate="telephony_alias_configuration_queues_sound_on_hold"></dt>
                            <dd data-ng-bind="QueuesOvhPabxCtrl.findSoundById(queue.soundOnHold).name || '-'"></dd>
                            <dt data-translate="telephony_alias_configuration_queues_sound_on_overflow"></dt>
                            <dd data-ng-bind="QueuesOvhPabxCtrl.findSoundById(queue.actionOnOverflowParam).name || '-'"></dd>
                        </dl>

                        <!-- QUEUE OPTIONS FORM -->
                        <form id="queueOptions"
                              name="queueOptions"
                              data-ng-if="queue.inEdition"
                              data-ng-submit="QueuesOvhPabxCtrl.updateQueue(queue)"
                              novalidate>
                            <div class="clearfix">
                                <label for="description"
                                       data-translate="telephony_alias_configuration_queues_description"></label>
                                <input type="text"
                                       id="description"
                                       name="description"
                                       class="form-control"
                                       data-input-filter="QueuesOvhPabxCtrl.filterDescription"
                                       data-ng-model="queue.inEdition.description" />
                            </div>
                            <div class="clearfix">
                                <label for="strategy"
                                       data-translate="telephony_alias_configuration_queues_strategy"></label>
                                <select flat-select
                                    id="strategy"
                                    name="strategy"
                                    class="form-control"
                                    data-ng-model="queue.inEdition.strategy"
                                    data-ng-options="strategy as ('telephony_alias_configuration_queues_strategy_' + strategy | translate) for strategy in QueuesOvhPabxCtrl.enums.strategy"
                                    required>
                                </select>
                            </div>
                            <div class="clearfix">
                                <label for="follow"
                                       data-translate="telephony_alias_configuration_queues_follow_call_forwards"></label>
                                <select flat-select
                                    id="follow"
                                    name="follow"
                                    class="form-control"
                                    data-ng-model="queue.inEdition.followCallForwards"
                                    data-ng-options="i as (i ? 'yes' : 'no' | translate | capitalize) for i in [true, false]"
                                    required>
                                </select>
                            </div>
                            <div class="clearfix">
                                <label class="block"
                                       for="maxMember"
                                       data-translate="telephony_alias_configuration_queues_max_member">
                                </label>
                                <input-number-spinner id="maxMember"
                                                      name="maxMember"
                                                      class="pull-left"
                                                      data-ng-model="queue.inEdition.maxMember"
                                                      data-input-number-spinner-min="0"
                                                      data-input-number-spinner-max="999999">
                                </input-number-spinner>
                            </div>
                            <div class="clearfix">
                                <label class="block"
                                       for="maxWait"
                                       data-translate="telephony_alias_configuration_queues_max_wait_time">
                                </label>
                                <input-number-spinner id="maxWait"
                                                      name="maxWait"
                                                      class="pull-left"
                                                      data-ng-model="queue.inEdition.maxWaitTime"
                                                      data-input-number-spinner-min="0"
                                                      data-input-number-spinner-max="999999">
                                </input-number-spinner>
                            </div>
                            <div class="clearfix">
                                <label for="soundOnHold"
                                       data-translate="telephony_alias_configuration_queues_sound_on_hold"></label>
                                <div class="soundSelect">
                                    <select flat-select
                                        id="soundOnHold"
                                        name="soundOnHold"
                                        class="form-control"
                                        data-ng-model="queue.inEdition.soundOnHold"
                                        data-ng-options="sound.soundId as sound.name for sound in QueuesOvhPabxCtrl.sounds"
                                        required>
                                        <option value="" data-translate="telephony_alias_configuration_queues_sound_none"></option>
                                    </select>
                                </div>
                                <button type="button"
                                        class="btn btn-default left-space-m4"
                                        data-ng-click="QueuesOvhPabxCtrl.openManageSoundsHelper(queue, 'soundOnHold')"
                                        data-translate="telephony_alias_configuration_queues_sound_file">
                                </button>
                            </div>
                            <div class="clearfix">
                                <label for="toneOnOverflow"
                                       data-translate="telephony_alias_configuration_queues_sound_on_overflow"></label>
                                <div class="soundSelect">
                                    <select flat-select
                                        id="toneOnOverflow"
                                        name="toneOnOverflow"
                                        class="form-control"
                                        data-ng-model="queue.inEdition.actionOnOverflowParam"
                                        data-ng-options="sound.soundId as sound.name for sound in QueuesOvhPabxCtrl.sounds"
                                        required>
                                        <option value="" data-translate="telephony_alias_configuration_queues_sound_none"></option>
                                    </select>
                                </div>
                                <button type="button"
                                        class="btn btn-default left-space-m4"
                                        data-ng-click="QueuesOvhPabxCtrl.openManageSoundsHelper(queue, 'actionOnOverflowParam')"
                                        data-translate="telephony_alias_configuration_queues_sound_file">
                                </button>
                            </div>
                        </form>

                        <hr />

                        <!-- QUEUE AGENTS LIST -->
                        <h3 class="top-space-m16" data-translate="telephony_alias_configuration_queues_agent_list"></h3>

                        <div class="clearfix" data-ng-if="!queue.addAgent">
                            <button type="button"
                                    class="btn btn-default pull-right"
                                    data-ng-click="queue.addAgent = true"
                                    data-ng-disabled="QueuesOvhPabxCtrl.getAgentsQueueToAdd(queue).length === 0"
                                    data-translate="telephony_alias_configuration_queues_agent_add">
                            </button>
                        </div>
                        <div class="clearfix top-space-m16 bottom-space-m32" data-ng-if="queue.addAgent">
                            <form id="agentAdd"
                                  name="agentAdd"
                                  data-ng-submit="QueuesOvhPabxCtrl.addAgentToQueue(queue)"
                                  novalidate>
                                <label for="agentSelect"
                                       data-translate="telephony_alias_configuration_queues_agent_add_helper"></label>
                                <select flat-select
                                    id="agentSelect"
                                    name="agentSelect"
                                    class="form-control"
                                    data-ng-model="queue.agentToAdd"
                                    data-ng-options="agent.agentId as (agent.number | phoneNumber) for agent in QueuesOvhPabxCtrl.getAgentsQueueToAdd(queue)"
                                    required>
                                </select>
                                <button type="submit"
                                        data-ng-disabled="queue.isAdding || agentAdd.$invalid"
                                        class="btn btn-primary top-space-m4 left-space-m4 pull-right">
                                    <span data-translate="telephony_alias_configuration_queues_agent_select_add"></span>
                                    <spinner class="left-space-m4" data-ng-if="queue.isAdding"></spinner>
                                </button>
                                <button type="button"
                                        class="btn btn-default top-space-m4 pull-right"
                                        data-ng-disabled="queue.isAdding"
                                        data-ng-click="queue.addAgent = null; queue.agentToAdd = null;"
                                        data-translate="cancel">
                                </button>
                            </form>
                        </div>
                        <telecom-telephony-alias-members data-api="queue.agentsApi">
                        </telecom-telephony-alias-members>

                        <hr />

                        <button type="button"
                                class="btn btn-danger pull-right"
                                data-ng-click="QueuesOvhPabxCtrl.deleteQueue(queue)"
                                data-ng-disabled="QueuesOvhPabxCtrl.isDeleting || QueuesOvhPabxCtrl.queues.length <= 1">
                            <span data-translate="telephony_alias_configuration_queues_queue_delete"></span>
                            <spinner class="left-space-m4" data-ng-if="QueuesOvhPabxCtrl.isDeleting"></spinner>
                        </button>

                    </div>
                </uib-accordion>

            </div>
        </div><!-- row -->
    </div><!-- section content -->

</section>
