<div class="ovh-pabx-dialplan-extension-rule">
    <!-- RULE DISPLAY -->
    <div class="anchors-line-container">
        <!-- POSITION -->
        <div class="anchor-cell-container right-space-p16">
            <div class="anchor-container anchor-empty">
                <div class="anchor hover-grip rule-grip"
                     data-ng-class="{ 'grip-disabled': $ctrl.isActionsDisabled() }"
                     data-jsplumb-endpoint="$ctrl.numberCtrl.jsPlumbEndpointsOptions.topLeft">
                    <span data-jsplumb-connection="!$ctrl.extension.enabled ? $ctrl.numberCtrl.jsPlumbConnectionsOptions.disabled : null"
                          data-jsplumb-connection-target="{{ $ctrl.rule.negativeAction ? $ctrl.extensionCtrl.uuid + '-condition' : $ctrl.extensionCtrl.uuid }}"
                          data-ng-if="!$ctrl.extensionCtrl.extension.collapsed">
                        <i data-ng-class="$ctrl.isLoading() ? 'fa fa-spinner fa-pulse' :'ovh-font ovh-font-grip'"></i>
                    </span>
                </div>
            </div>
        </div> <!-- POSITION -->

        <!-- RULE BLOCK -->
        <div class="anchor-cell-container">
            <div class="anchor-container anchor-rectangle"
                 data-responsive-popover="'components/telecom/telephony/group/number/feature/ovhPabx/dialplan/extension/rule/edit/telephony-group-number-feature-ovh-pabx-dialplan-extension-rule-edit.html'"
                 data-popover-placement="right"
                 data-popover-trigger="none"
                 data-popover-is-open="$ctrl.popoverStatus.isOpen"
                 data-popover-class="pretty-popover telephony-number-feature-popover telephony-number-ovh-pabx-actions-popup">
                <div class="anchor-wrapper anchor-wrapper-transparent"
                     data-ng-class="{ 'pending-delete': $ctrl.deletePending }">
                    <!-- RULE ACTION -->
                    <div class="anchor-content"
                         data-ng-switch="$ctrl.getActionFamily()">
                        <span class="content-label block"
                              data-translate="{{ 'telephony_number_feature_ovh_pabx_step_rule_' + ($ctrl.getRuleAttribute('action') | snakeCase) }}">
                        </span>
                        <!-- ACTION PARAM DISPLAY -->
                        <!-- SLEEP -->
                        <span data-ng-switch-when="sleep"
                              data-translate="telephony_number_feature_ovh_pabx_step_rule_sleep_during"
                              data-translate-values="{ time : $ctrl.getRuleAttribute('actionParam') }">
                        </span> <!-- SLEEP -->

                        <!-- PLAYBACK -->
                        <span data-ng-switch-when="playback"
                              data-ng-bind="$ctrl.ovhPabx.getSound($ctrl.getRuleAttribute('actionParam')).name">
                        </span> <!-- PLAYBACK -->

                        <!-- VOICEMAIL -->
                        <span data-ng-switch-when="voicemail"
                              data-ng-bind="$ctrl.getVoicemailInfos().getDisplayedName() | phoneNumber">
                        </span> <!-- VOICEMAIL -->

                        <!-- BRIDGE -->
                        <span data-ng-switch-when="bridge"
                              data-ng-bind="$ctrl.getRuleAttribute('actionParam') | phoneNumber">
                        </span> <!-- BRIDGE -->

                        <!-- IVR -->
                        <span data-ng-switch-when="ivr"
                              data-ng-bind="$ctrl.getMenu().name">
                        </span> <!-- IVR -->

                        <!-- HUNTING -->
                        <span data-ng-switch-when="hunting"
                              data-ng-bind="$ctrl.ovhPabx.getQueue($ctrl.getRuleAttribute('actionParam')).description || $ctrl.ovhPabx.getQueue($ctrl.getRuleAttribute('actionParam')).queueId">
                        </span> <!-- End of HUNTING -->

                        <!-- TTS -->
                        <span class="block elipse no-wrap"
                              data-ng-switch-when="tts"
                              data-ng-bind="$ctrl.ovhPabx.getSingleTts($ctrl.getRuleAttribute('actionParam')).text"
                              data-ng-attr-title="{{ $ctrl.ovhPabx.getSingleTts($ctrl.getRuleAttribute('actionParam')).text }}">
                        </span> <!-- End of TTS -->

                        <!-- DEFAULT TYPE -->
                        <span data-ng-switch-default
                              data-ng-bind="$ctrl.getRuleAttribute('actionParam')">
                        </span> <!-- DEFAULT TYPE --> <!-- ACTION PARAM DISPLAY -->
                    </div> <!-- End of RULE ACTION -->
                    <!-- AVAILABLE RULE ACTIONS -->
                    <div class="anchor-actions"
                         data-uib-dropdown>
                        <button type="button"
                                class="btn btn-actions btn-feature-actions"
                                data-attr-id="extension-rule-{{ $ctrl.rule.ruleId }}-actions"
                                data-ng-disabled="$ctrl.isActionsDisabled()"
                                data-uib-dropdown-toggle>
                            <i class="ovh-font ovh-font-dots"></i>
                        </button>
                        <!-- ACTIONS LIST -->
                        <ul class="dropdown-menu ovh-dropdown-menu"
                            data-uib-dropdown-menu
                            role="menu"
                            aria-labelledby="extension-rule-{{ $ctrl.rule.ruleId }}-actions">
                            <!-- EDIT ACTION -->
                            <li role="menuitem">
                                <button type="button"
                                        class="btn btn-link full-width"
                                        data-translate="telephony_number_feature_ovh_pabx_step_rule_action_edit"
                                        data-ng-click="$ctrl.popoverStatus.isOpen = true">
                                </button>
                            </li> <!-- EDIT ACTION -->
                            <li class="divider"></li>
                            <!-- DELETE ACTION -->
                            <li role="menuitem">
                                <button type="button"
                                        class="btn btn-link full-width"
                                        data-translate="telephony_number_feature_ovh_pabx_step_rule_action_delete"
                                        data-ng-click="$ctrl.deletePending = true">
                                </button>
                            </li> <!-- DELETE ACTION -->
                        </ul> <!-- ACTIONS LIST -->
                    </div> <!-- End of AVAILABLE RULE ACTIONS -->
                    <div class="anchor-confirm"
                         data-ng-if="$ctrl.deletePending">
                        <div class="confirm-overlay"></div>
                        <div class="confirm-content text-center animated fadeInRight flex-row-center">
                            <button type="button"
                                    class="btn btn-default"
                                    data-translate="cancel"
                                    data-ng-click="$ctrl.deletePending = false;">
                            </button>

                            <button type="button"
                                    class="btn btn-danger"
                                    data-translate="common_confirm"
                                    data-ng-click="$ctrl.onConfirmDeleteButtonClick()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- RULE BLOCK -->
    </div> <!-- RULE DISPLAY -->
</div>
