<section class="telephony-group-line-voicemail-management">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony"
                           section-back-link-title="{{ 'telephony_alias_portability_order_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_alias_portability_order_title"></h1>
    </header>

    <div class="telecom-section-content">
        <div class="row" >

            <!-- ORDER SUCCESS -->
            <div class="col-md-6 widget-presentation"
                 data-ng-if="PortabilityOrderCtrl.order.success">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_portability_order_order"></h2>
                </header>
                <div class="alert alert-success" role="alert">
                    <i class="ovh-font ovh-font-filled-check" aria-hidden="true"></i>
                    <p data-translate="telephony_alias_portability_order_success"></p>
                </div>
                <p>
                    <!-- BC LINK -->
                    <a target="_blank"
                        class="btn btn-primary"
                        rel="noopener"
                        data-ng-if="PortabilityOrderCtrl.order.url"
                        data-ng-href="{{:: PortabilityOrderCtrl.order.url }}">
                        <span data-translate="telephony_alias_portability_order_url"></span>
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </p>
            </div>

            <div class="col-md-6 widget-presentation"
                 data-ng-if="!PortabilityOrderCtrl.order.success">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_portability_order_order"></h2>
                </header>

                <small class="opacity5"
                      data-translate="telephony_alias_portability_order_step"
                      data-translate-values="{
                          current: PortabilityOrderCtrl.stepsList.indexOf(PortabilityOrderCtrl.step) + 1,
                          total: PortabilityOrderCtrl.stepsList.length
                      }">
                </small>
                <ol class="breadcrumb">
                    <li data-ng-class="{ opacity5: PortabilityOrderCtrl.step !== 'number' }"
                        data-translate="telephony_alias_portability_order_step_1"></li>
                    <li data-ng-class="{ opacity5: PortabilityOrderCtrl.step !== 'contact' }"
                        data-translate="telephony_alias_portability_order_step_2"></li>
                    <li data-ng-class="{ opacity5: PortabilityOrderCtrl.step !== 'config' }"
                        data-translate="telephony_alias_portability_order_step_3"></li>
                    <li data-ng-class="{ opacity5: PortabilityOrderCtrl.step !== 'summary' }"
                        data-translate="telephony_alias_portability_order_step_4"></li>
                </ol>

                <div class="container">

                    <!-- NUMBER FORM -->
                    <form name="portabilityNumberForm"
                          class="ovh-form-flat form-horizontal"
                          data-ng-if="PortabilityOrderCtrl.step === 'number'"
                          data-ng-submit="PortabilityOrderCtrl.step = 'contact'"
                          novalidate>

                        <!-- TYPE -->
                        <div class="form-group bottom-space-m16">
                            <p class="bottom-space-m8"
                               data-translate="telephony_alias_portability_order_type"></p>
                            <div class="left-space-m16">
                                <label class="pointer">
                                    <flat-radio>
                                        <input type="radio"
                                               data-ng-model="PortabilityOrderCtrl.isSDA"
                                               data-ng-value="false"
                                               name="orderType"
                                               autofocus
                                               required />
                                    </flat-radio>
                                    <span class="left-space-m4" data-translate="telephony_alias_portability_order_landline"></span>
                                </label>
                            </div>
                            <div class="top-space-m4 left-space-m16">
                                <label class="pointer">
                                    <flat-radio>
                                        <input type="radio"
                                               data-ng-model="PortabilityOrderCtrl.isSDA"
                                               data-ng-value="true"
                                               name="orderType"
                                               required />
                                    </flat-radio>
                                    <span class="left-space-m4" data-translate="telephony_alias_portability_order_sda"></span>
                                </label>
                            </div>
                        </div>

                        <!-- NUMBER -->
                        <div class="form-group">
                            <label for="callNumber"
                                   class="control-label"
                                   data-translate="telephony_alias_portability_order_callNumber">
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="callNumber"
                                   name="callNumber"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.callNumber"
                                   data-ng-pattern="/^(0033|\+33|0032|\+32|0041|\+41)\d{8,}$/"
                                   required />
                            <div role="alert"
                                 data-ng-if="portabilityNumberForm.callNumber.$touched"
                                 data-ng-messages="portabilityNumberForm.callNumber.$error">
                                 <label for="callNumber"
                                        data-ng-message="pattern"
                                        data-translate="telephony_alias_portability_order_callNumber_pattern_error">
                                 </label>
                                 <label for="callNumber"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- RIO -->
                        <div class="form-group"
                             data-ng-if="PortabilityOrderCtrl.order.callNumber && !PortabilityOrderCtrl.isSDA && PortabilityOrderCtrl.order.country === 'france'">
                            <label for="rio"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_rio" />
                                <i class="ovh-font ovh-font-filled-info line-height-normal"
                                    data-uib-tooltip="{{ 'telephony_alias_portability_order_rio_info' | translate }}"
                                    data-tooltip-placement="right"></i>
                            </label>
                            <input type="text"
                                   id="rio"
                                   name="rio"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.rio"
                                   data-ng-pattern="/^[\w+]{12}$/"
                                   required />
                            <div role="alert"
                                 data-ng-if="portabilityNumberForm.rio.$touched"
                                 data-ng-messages="portabilityNumberForm.rio.$error">
                                 <label for="rio"
                                        data-ng-message="pattern"
                                        data-translate="telephony_alias_portability_order_rio_pattern_error">
                                 </label>
                                 <label for="rio"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- SDA NUMBERS -->
                        <div class="form-group top-space-m16"
                             data-ng-if="PortabilityOrderCtrl.isSDA">

                            <p class="bottom-space-m8"
                               data-translate="telephony_alias_portability_order_sda_info"></p>

                            <!-- SDA TYPE -->
                            <div class="left-space-m16">
                                <label class="pointer">
                                    <flat-radio>
                                        <input type="radio"
                                               data-ng-model="PortabilityOrderCtrl.order.sdatype"
                                               data-ng-value="'all'"
                                               name="sdaType"
                                               required />
                                    </flat-radio>
                                    <span class="left-space-m4"
                                          data-translate="telephony_alias_portability_order_sda_all"></span>
                                </label>
                            </div>
                            <div class="top-space-m4 left-space-m16">
                                <label class="pointer">
                                    <flat-radio>
                                        <input type="radio"
                                               data-ng-model="PortabilityOrderCtrl.order.sdatype"
                                               data-ng-value="'select'"
                                               name="sdaType"
                                               required />
                                    </flat-radio>
                                    <span class="left-space-m4"
                                          data-translate="telephony_alias_portability_order_sda_select"></span>
                                </label>
                            </div>

                            <!-- SDA ADD NUMBER -->
                            <div class="top-space-m8"
                                 data-ng-if="PortabilityOrderCtrl.order.sdatype === 'select'">

                                <p data-translate="telephony_alias_portability_order_sda_add"></p>

                                <div>
                                    <input type="text"
                                           id="sdaNumber"
                                           name="sdaNumber"
                                           class="form-control inline left-space-m16 top-space-m4"
                                           style="width: 200px"
                                           placeholder="{{:: 'telephony_alias_portability_order_number_international' | translate }}"
                                           data-ng-keyup="$event.keyCode === 13 && portabilityNumberForm.sdaNumber.$valid ? PortabilityOrderCtrl.addSdaNumber() : null"
                                           data-ng-pattern="/^(00\d\d|\+\d\d)\d{8,}$/"
                                           data-ng-model="PortabilityOrderCtrl.order.sdaNumberToAdd" />
                                    <button type="button"
                                            class="btn btn-default"
                                            data-ng-disabled="!PortabilityOrderCtrl.order.sdaNumberToAdd || portabilityNumberForm.sdaNumber.$invalid"
                                            data-ng-click="PortabilityOrderCtrl.addSdaNumber()"
                                            data-translate="common_add">
                                    </button>
                                </div>

                                <p class="top-space-m16"
                                   data-translate="telephony_alias_portability_order_sda_add_list"
                                   data-ng-if="PortabilityOrderCtrl.order.numbersList.length">
                                </p>

                                <!-- LIST OF ADDED SDA NUMBERS -->
                                <ul class="left-space-m32">
                                    <li data-ng-repeat="number in PortabilityOrderCtrl.order.numbersList">
                                        <span data-ng-bind="number"></span>
                                        <button type="button"
                                                class="no-style"
                                                data-ng-click="PortabilityOrderCtrl.removeSdaNumber(number)">
                                            <i class="fs10 ovh-font ovh-font-wrong line-height-normal"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- sda -->

                        <!-- PORTABILITY DATE -->
                        <div class="form-group">
                            <label for="desireDate"
                                   class="control-label"
                                   data-translate="telephony_alias_portability_order_desireDate">
                            </label>
                            <div class="input-group date-picker-input">
                                <input
                                    id="desireDate"
                                    name="desireDate"
                                    class="form-control input-block"
                                    data-uib-datepicker-popup="dd/MM/yyyy"
                                    data-datepicker-options="{
                                        minDate: PortabilityOrderCtrl.minDate
                                    }"
                                    data-ui-validate=""
                                    data-show-button-bar="false"
                                    data-is-open="PortabilityOrderCtrl.desireDatePickerOpened"
                                    data-ng-focus="PortabilityOrderCtrl.openDesireDatePicker($event)"
                                    data-current-text="{{:: 'today' | translate }}"
                                    data-clear-text="{{:: 'reset' | translate }}"
                                    data-close-text="{{:: 'close' | translate }}"
                                    data-ng-model="PortabilityOrderCtrl.order.desireDate"
                                    required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-link"
                                            data-ng-click="PortabilityOrderCtrl.openDesireDatePicker($event)">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <div role="alert"
                                 data-ng-if="portabilityNumberForm.desireDate.$touched"
                                 data-ng-messages="portabilityNumberForm.desireDate.$error">
                                 <label for="desireDate"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <hr />
                            <button type="submit"
                                    class="btn btn-primary pull-right"
                                    data-translate="next"
                                    data-ng-disabled="portabilityNumberForm.$invalid">
                            </button>
                        </div>

                    </form><!-- number form -->


                    <!-- CONTACT FORM -->
                    <form name="portabilityContactForm"
                          class="ovh-form-flat form-horizontal"
                          data-ng-if="PortabilityOrderCtrl.step === 'contact'"
                          data-ng-submit="PortabilityOrderCtrl.step = 'config'"
                          novalidate>

                        <div class="form-group">
                            <div role="alert" class="alert alert-info">
                                <i class="ovh-font ovh-font-info right-space-m4 line-height-normal"></i>
                                <p data-translate="telephony_alias_portability_order_contact_help"></p>
                            </div>
                        </div>

                        <!-- SOCIAL REASON -->
                        <div class="form-group">
                            <h3 data-translate="telephony_alias_portability_order_contact_personal_infos"></h3>
                            <label for="socialReason"
                                   class="control-label"
                                   data-translate="telephony_alias_portability_order_contact_social_reason"></label>
                            <select id="socialReason"
                                    name="socialReason"
                                    class="form-control"
                                    data-ng-disabled="PortabilityOrderCtrl.isSDA"
                                    data-ng-model="PortabilityOrderCtrl.order.socialReason">
                                <option data-translate="telephony_alias_portability_order_contact_social_reason_individual"
                                        value="individual"></option>
                                <option data-translate="telephony_alias_portability_order_contact_social_reason_corporation"
                                        value="corporation"></option>
                            </select>
                        </div>

                        <!-- LAST NAME -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.name.$invalid && portabilityContactForm.name.$touched }"
                             data-ng-if="PortabilityOrderCtrl.order.socialReason === 'individual'">
                            <label for="name"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_lastname"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.name"
                                   required />
                            <div data-ng-messages="portabilityContactForm.name.$error" role="alert">
                                 <label for="name"
                                        data-ng-if="portabilityContactForm.name.$touched"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- FIRST NAME -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.firstName.$invalid && portabilityContactForm.firstName.$touched }"
                             data-ng-if="PortabilityOrderCtrl.order.socialReason === 'individual'">
                            <label for="firstName"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_firstname"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="firstName"
                                   name="firstName"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.firstName"
                                   required />
                            <div data-ng-messages="portabilityContactForm.firstName.$error" role="alert">
                                 <label for="firstName"
                                        data-ng-if="portabilityContactForm.firstName.$touched"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- SIRET -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.siret.$invalid && portabilityContactForm.siret.$touched }"
                             data-ng-if="PortabilityOrderCtrl.order.socialReason === 'corporation'">
                            <label for="companyId"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_siret"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="companyId"
                                   name="companyId"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.siret"
                                   required />
                            <div data-ng-messages="portabilityContactForm.siret.$error" role="alert">
                                 <label for="companyId"
                                        data-ng-if="portabilityContactForm.siret.$touched"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>


                        <!-- COMPANY NAME -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.name.$invalid && portabilityContactForm.name.$touched }"
                             data-ng-if="PortabilityOrderCtrl.order.socialReason === 'corporation'">
                            <label for="name"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_corporation_name"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.name"
                                   required />
                            <div data-ng-messages="portabilityContactForm.name.$error" role="alert">
                                 <label for="name"
                                        data-ng-message="required"
                                        data-ng-if="portabilityContactForm.name.$touched"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- CONTACT NUMBER -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.contactNumber.$invalid && portabilityContactForm.contactNumber.$touched }">
                            <label for="contactNumber"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_gsm"></span>
                                <i class="ovh-font ovh-font-filled-info line-height-normal"
                                   data-uib-tooltip="{{:: 'telephony_alias_portability_order_contact_gsm_help' | translate }}"></i>
                            </label>
                            <input type="text"
                                   id="contactNumber"
                                   name="contactNumber"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.contactNumber" />
                            <div data-ng-messages="portabilityContactForm.contactNumber.$error" role="alert">
                                 <label for="contactNumber"
                                        data-ng-if="portabilityContactForm.contactNumber.$touched"
                                        data-ng-message="required"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- COUNTRY -->
                        <div class="form-group top-space-m32"
                             data-ng-class="{ 'has-error': portabilityContactForm.country.$invalid && portabilityContactForm.country.$touched }">
                            <h3 data-translate="telephony_alias_portability_order_contact_address"></h3>
                            <label for="country"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_country"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="country"
                                   name="country"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.translatedCountry"
                                   disabled
                                   required />
                            <div data-ng-messages="portabilityContactForm.country.$error" role="alert">
                                 <label for="country"
                                        data-ng-message="required"
                                        data-ng-if="portabilityContactForm.country.$touched"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <!-- ZIP -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.zip.$invalid && portabilityContactForm.zip.$touched }">
                            <label for="zip"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_zip"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="zip"
                                   name="zip"
                                   class="form-control"
                                   data-ng-pattern="/^\d+$/"
                                   data-ng-model="PortabilityOrderCtrl.order.zip"
                                   required />
                            <div data-ng-messages="portabilityContactForm.zip.$error" role="alert">
                                 <label for="zip"
                                        data-ng-message="required"
                                        data-ng-if="portabilityContactForm.zip.$touched"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                                 <label for="zip"
                                        data-ng-message="pattern"
                                        data-ng-if="portabilityContactForm.zip.$touched"
                                        data-translate="telephony_alias_portability_order_contact_zip_pattern_error">
                                 </label>
                            </div>
                        </div>

                        <!-- CITY -->
                        <div class="form-group"
                             data-ng-class="{ 'has-error': portabilityContactForm.city.$invalid && portabilityContactForm.city.$touched }">
                            <label for="city"
                                   class="control-label">
                                <span data-translate="telephony_alias_portability_order_contact_city"></span>
                                <span aria-hidden="true">&#42;</span>
                            </label>
                            <input type="text"
                                   id="city"
                                   name="city"
                                   class="form-control"
                                   data-ng-model="PortabilityOrderCtrl.order.city" 
                                   required />
                            <div data-ng-messages="portabilityContactForm.city.$error" role="alert">
                                 <label for="city"
                                        data-ng-message="required"
                                        data-ng-if="portabilityContactForm.city.$touched"
                                        data-translate="telephony_alias_portability_order_contact_required">
                                 </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">

                                <!-- STREET NUMBER -->
                                <div class="col-xs-4"
                                     data-ng-class="{ 'has-error': portabilityContactForm.streetNumber.$invalid && portabilityContactForm.streetNumber.$touched }">
                                    <label for="streetNumber"
                                           class="control-label">
                                        <span data-translate="telephony_alias_portability_order_contact_street_number"></span>
                                        <span aria-hidden="true">&#42;</span>
                                    </label>
                                    <input type="text"
                                           id="streetNumber"
                                           name="streetNumber"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.streetNumber"
                                           data-ng-pattern="/^[0-9]+$/"
                                           required />
                                    <div data-ng-messages="portabilityContactForm.streetNumber.$error" role="alert">
                                         <label for="streetNumber"
                                                data-ng-message="required"
                                                data-ng-if="portabilityContactForm.streetNumber.$touched"
                                                data-translate="telephony_alias_portability_order_contact_required">
                                         </label>
                                         <label for="zip"
                                                data-ng-message="pattern"
                                                data-ng-if="portabilityContactForm.streetNumber.$touched"
                                                data-translate="telephony_alias_portability_order_contact_street_number_pattern_error">
                                         </label>
                                    </div>
                                </div>

                                <!-- STREET NUMBER EXTRA -->
                                <div class="col-xs-8"
                                     data-ng-class="{ 'has-error': portabilityContactForm.streetNumberExtra.$invalid && portabilityContactForm.streetNumberExtra.$touched }">
                                    <label for="streetNumberExtra"
                                           class="control-label"
                                           data-translate="telephony_alias_portability_order_contact_street_number_extra"></label>
                                    <input type="text"
                                           id="streetNumberExtra"
                                           name="streetNumberExtra"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.streetNumberExtra" />
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">

                                <!-- STREET TYPE -->
                                <div class="col-xs-4"
                                     data-ng-class="{ 'has-error': portabilityContactForm.streetType.$invalid && portabilityContactForm.streetType.$touched }">
                                    <label for="streetType"
                                           class="control-label">
                                        <span data-translate="telephony_alias_portability_order_contact_street_type"></span>
                                        <span aria-hidden="true">&#42;</span>
                                    </label>
                                    <input type="text"
                                           id="streetType"
                                           name="streetType"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.streetType"
                                           required />
                                    <div data-ng-messages="portabilityContactForm.streetType.$error" role="alert">
                                         <label for="streetType"
                                                data-ng-message="required"
                                                data-ng-if="portabilityContactForm.streetType.$touched"
                                                data-translate="telephony_alias_portability_order_contact_required">
                                         </label>
                                    </div>
                                </div>

                                <!-- STREET NAME -->
                                <div class="col-xs-8"
                                     data-ng-class="{ 'has-error': portabilityContactForm.streetName.$invalid && portabilityContactForm.streetName.$touched }">
                                    <label for="streetName"
                                           class="control-label">
                                        <span data-translate="telephony_alias_portability_order_contact_street_name"></span>
                                        <span aria-hidden="true">&#42;</span>
                                    </label>
                                    <input type="text"
                                           id="streetName"
                                           name="streetName"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.streetName"
                                           required />
                                    <div data-ng-messages="portabilityContactForm.streetName.$error" role="alert">
                                         <label for="streetName"
                                                data-ng-message="required"
                                                data-ng-if="portabilityContactForm.streetName.$touched"
                                                data-translate="telephony_alias_portability_order_contact_required">
                                         </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">

                                <!-- BUILDING-->
                                <div class="col-xs-4"
                                     data-ng-class="{ 'has-error': portabilityContactForm.building.$invalid && portabilityContactForm.building.$touched }">
                                    <label for="building"
                                           class="control-label"
                                           data-translate="telephony_alias_portability_order_contact_building"></label>
                                    <input type="text"
                                           id="building"
                                           name="building"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.building" />
                                </div>

                                <!-- STAIR -->
                                <div class="col-xs-4"
                                     data-ng-class="{ 'has-error': portabilityContactForm.stair.$invalid && portabilityContactForm.stair.$touched }">
                                    <label for="stair"
                                           class="control-label"
                                           data-translate="telephony_alias_portability_order_contact_stair"></label>
                                    <input type="text"
                                           id="stair"
                                           name="stair"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.stair" />
                                </div>

                                <!-- FLOOR -->
                                <div class="col-xs-4"
                                     data-ng-class="{ 'has-error': portabilityContactForm.floor.$invalid && portabilityContactForm.floor.$touched }">
                                    <label for="floor"
                                           class="control-label"
                                           data-translate="telephony_alias_portability_order_contact_floor"></label>
                                    <input type="text"
                                           id="floor"
                                           name="floor"
                                           class="form-control"
                                           data-ng-model="PortabilityOrderCtrl.order.floor" />
                                </div>
                            </div>
                        </div>

                        <!-- DISPLAY UNIVERSAL DIRECTORY -->
                        <div class="form-group">
                            <label for="socialReason"
                                   class="control-label"
                                   data-translate="telephony_alias_portability_order_contact_pj"></label>
                            <select id="displayUniversalDirectory"
                                    name="displayUniversalDirectory"
                                    class="form-control text-capitalize"
                                    data-ng-model="PortabilityOrderCtrl.order.displayUniversalDirectory"
                                    data-ng-options="(i ? 'yes' : 'no' | translate) for i in [true, false]">
                            </select>
                        </div>

                        <div class="form-group">
                            <hr />
                            <button type="cancel"
                                    class="btn btn-default pull-left"
                                    data-translate="previous"
                                    data-ng-click="PortabilityOrderCtrl.step = 'number'">
                            </button>
                            <button type="submit"
                                    class="btn btn-primary pull-right"
                                    data-translate="next"
                                    data-ng-disabled="portabilityContactForm.$invalid">
                            </button>
                        </div>

                    </form><!-- contact form -->

                    <!-- CONTACT FORM -->
                    <form name="portabilityConfigForm"
                          class="ovh-form-flat form-horizontal"
                          data-ng-if="PortabilityOrderCtrl.step === 'config'"
                          data-ng-submit="PortabilityOrderCtrl.fetchPriceAndContracts()"
                          novalidate>

                        <!-- BILLING ACCOUNT -->
                        <div class="form-group">
                            <label for="billingAccount"
                                   class="control-label"
                                   data-translate="telephony_alias_portability_order_billing_account"></label>
                            <select id="billingAccount"
                                    name="billingAccount"
                                    class="form-control"
                                    data-ng-model="PortabilityOrderCtrl.order.billingAccount"
                                    data-ng-options="i.billingAccount as (i.description && i.description !== i.billingAccount) ? i.description + ' (' + i.billingAccount + ')' : i.billingAccount for i in PortabilityOrderCtrl.billingAccounts">
                            </select>
                        </div>

                        <!-- REDIRECT TO LINE -->
                        <div class="form-group">
                            <label for="redirect"
                                   class="control-label"
                                   data-translate="telephony_alias_portability_order_redirect_line"></label>
                            <i class="ovh-font ovh-font-filled-info line-height-normal"
                               data-uib-tooltip="{{:: 'telephony_alias_portability_order_redirect_line_info' | translate }}"></i>
                            <div data-ng-if="PortabilityOrderCtrl.order.lineToRedirectAliasTo">
                                <span data-ng-if="PortabilityOrderCtrl.order.lineToRedirectAliasToDescription"
                                      data-ng-bind="PortabilityOrderCtrl.order.lineToRedirectAliasToDescription"></span>
                                <span data-ng-bind="PortabilityOrderCtrl.order.lineToRedirectAliasTo"></span>
                                <button type="button"
                                        class="no-style"
                                        data-ng-click="PortabilityOrderCtrl.order.lineToRedirectAliasTo = null">
                                    <i class="ovh-font ovh-font-wrong line-height-normal"></i>
                                </button>
                            </div>
                            <div data-ng-if="!PortabilityOrderCtrl.order.lineToRedirectAliasTo">
                                <button type="button"
                                        class="btn btn-default"
                                        data-voip-service-choice-popover="{
                                            popoverPlacement: 'right auto',
                                            popoverClass: 'pretty-popover telephony-service-choice-popover',
                                            popoverAppendToBody: true,
                                            popoverIsOpen: false
                                        }"
                                        data-available-types="['sip']"
                                        data-on-choice-validated="PortabilityOrderCtrl.onChooseRedirectToLine"
                                        data-on-choice-cancel="">
                                    <span data-translate="telephony_alias_portability_order_redirect_line_choose"></span>
                                </button>
                            </div>
                        </div>

                        <div class="form-group">
                            <hr />
                            <button type="cancel"
                                    class="btn btn-default pull-left"
                                    data-translate="previous"
                                    data-ng-click="PortabilityOrderCtrl.step = 'contact'">
                            </button>
                            <button type="submit"
                                    class="btn btn-primary pull-right"
                                    data-translate="next"
                                    data-ng-disabled="portabilityConfigForm.$invalid">
                            </button>
                        </div>

                    </form><!-- contact form -->

                    <!-- ORDER FORM -->
                    <form name="portabilityOrderForm"
                          class="ovh-form-flat form-horizontal"
                          data-ng-if="PortabilityOrderCtrl.step === 'summary'"
                          data-ng-submit="PortabilityOrderCtrl.submitOrder()"
                          novalidate>

                        <div data-ng-if="!PortabilityOrderCtrl.details">
                            <bouncing-box-loader>
                                <h3 class="top-space-m16" data-translate="loading"></h3>
                            </bouncing-box-loader>
                        </div>

                        <!-- PRICES AND CONTRACTS -->
                        <div class="form-group"
                             data-ng-if="PortabilityOrderCtrl.details">
                            <div class="responsive-table-line">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th scope="col"
                                                data-translate="telephony_alias_portability_order_description"></th>
                                            <th class="text-right-sm"
                                                scope="col"
                                                data-translate="telephony_alias_portability_order_unit_price"
                                                style="width:25%;">
                                            </th>
                                            <th class="text-right-sm"
                                                scope="col"
                                                data-translate="telephony_alias_portability_order_quantity"
                                                style="width:12%;">
                                            </th>
                                            <th class="text-right-sm"
                                                scope="col"
                                                data-translate="telephony_alias_portability_order_total"
                                                style="width:15%;">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="detail in PortabilityOrderCtrl.details track by $index">
                                            <th scope-"row"
                                                data-ng-bind="detail.description"
                                                data-title="{{ :: 'telephony_alias_portability_order_description' | translate }}">
                                            </th>
                                            <td class="text-right-sm text-price bold"
                                                data-ng-bind="detail.unitPrice.text"
                                                data-title="{{ :: 'telephony_alias_portability_order_unit_price' | translate }}">
                                            </td>
                                            <td class="text-right-sm"
                                                data-ng-bind="detail.quantity"
                                                data-title="{{ :: 'telephony_alias_portability_order_quantity' | translate }}">
                                            </td>
                                            <td class="text-right-sm text-price bold"
                                                data-ng-bind="detail.totalPrice.text"
                                                data-title="{{ :: 'telephony_alias_portability_order_total' | translate }}">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="resume-prices pull-right">
                                    <dl>
                                        <dt data-translate="telephony_alias_portability_order_total_tax_free"></dt>
                                        <dd class="animate-opacity1-enter text-price bold"
                                            data-ng-bind="PortabilityOrderCtrl.prices.withoutTax.text">
                                        </dd>

                                        <dt data-translate="telephony_alias_portability_order_total_tax"></dt>
                                        <dd class="animate-opacity1-enter text-price bold"
                                            data-ng-bind="PortabilityOrderCtrl.prices.tax.text">
                                        </dd>

                                        <dt data-translate="telephony_alias_portability_order_total_with_tax"></dt>
                                        <dd class="animate-opacity1-enter text-price bold"
                                            data-ng-bind="PortabilityOrderCtrl.prices.withTax.text">
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div data-contracts="PortabilityOrderCtrl.contracts"
                                 data-full-text="false"
                                 data-contracts-validated="PortabilityOrderCtrl.order.isContractsAccepted">
                            </div>
                        </div><!-- prices and contracts -->

                        <!-- SUBMIT -->
                        <div class="form-group">
                            <hr />
                            <button type="cancel"
                                    class="btn btn-default pull-left"
                                    data-translate="previous"
                                    data-ng-click="PortabilityOrderCtrl.step = 'config'">
                            </button>
                            <button type="submit"
                                    class="btn btn-primary pull-right"
                                    data-ng-disabled="portabilityOrderForm.$invalid || !PortabilityOrderCtrl.order.isContractsAccepted || PortabilityOrderCtrl.order.isOrdering">
                                <span data-translate="telephony_alias_portability_order_order"></span>
                                <spinner class="left-space-m4"
                                         data-ng-if="PortabilityOrderCtrl.order.isOrdering"></spinner>
                            </button>
                        </div>

                    </form>

                </div><!-- row -->
            </div><!-- portability order -->

            <!-- INFORMATIONS -->
            <div class="col-md-6 widget-presentation">
                <header class="widget-presentation-header">
                    <h2 class="widget-presentation-title"
                        data-translate="telephony_alias_portability_order_infos_title"></h2>
                </header>
                <div role="alert" class="alert alert-info">
                    <i aria-hidden="true" class="ovh-font ovh-font-filled-info right-space-m4 line-height-normal"></i>
                    <p data-translate="telephony_alias_portability_order_infos"></p>
                    <p data-translate="telephony_alias_portability_order_infos_country"></p>
                </div>
                <div role="alert" class="alert alert-warning">
                    <i aria-hidden="true" class="ovh-font ovh-font-filled-warning right-space-m4 line-height-normal"></i>
                    <p data-translate="telephony_alias_portability_order_warning_1"></p>
                    <p data-translate="telephony_alias_portability_order_warning_2"></p>
                    <p data-translate="telephony_alias_portability_order_warning_3"></p>
                </div>
            </div>

        </div>
    </div>

</section>
