<section class="telecom-telephony-line-assist-rma">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line.assist"
                           section-back-link-title="{{ 'telephony_line_assist_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_line_assist_rma_title"></h1>
    </header>

    <div class="telecom-section-content">

        <bouncing-box-loader data-ng-if="RmaCtrl.rmaList === null">
            <h2 data-translate="loading"></h2>
        </bouncing-box-loader>

        <div class="alert alert-info" data-ng-if="RmaCtrl.rmaList.length === 0" role="alert">
            <i class="ovh-font ovh-font-info line-height-normal right-space-m4"></i>
            <p data-translate="telephony_line_assist_rma_none"></p>
        </div>

        <div class="panel panel-default" data-ng-repeat="rma in RmaCtrl.rmaList track by id">

            <div class="panel-heading">
                <strong data-translate="telephony_line_assist_rma_number"
                        data-translate-values="{ number: rma.id }"></strong>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">

                    <!-- TYPE -->
                    <dt data-translate="telephony_line_assist_rma_type"></dt>
                    <dd data-ng-bind="'telephony_line_assist_rma_type_' + (rma.type | replace:' ':'_') | translate"></dd>

                    <!-- NEW OFFER -->
                    <dt data-ng-if="rma.offerTypeNew && rma.offerTypeNew !== rma.offerTypeOld" data-translate="telephony_line_assist_rma_offer_new"></dt>
                    <dd data-ng-if="rma.offerTypeNew && rma.offerTypeNew !== rma.offerTypeOld" data-ng-bind="rma.offerTypeNew"></dd>

                    <!-- EQUIPMENT REFERENCE -->
                    <dt data-translate="telephony_line_assist_rma_equipment"></dt>
                    <dd class="text-uppercase" data-ng-bind="RmaCtrl.formatEquipementReference(rma.equipmentReference)"></dd>

                    <!-- NEW EQUIPEMENT -->
                    <dt data-ng-if="rma.newMerchandise" data-translate="telephony_line_assist_rma_equipment_new"></dt>
                    <dd data-ng-if="rma.newMerchandise" data-ng-bind="rma.newMerchandise"></dd>

                    <!-- ADDRESS -->
                    <dt data-translate="telephony_line_assist_rma_address"></dt>
                    <dd>
                        <span class="text-capitalize" data-ng-bind="rma.shippingContact.firstname"></span>
                        <span class="text-capitalize" data-ng-bind="rma.shippingContact.name"></span>
                        <br />
                        <span data-ng-bind="rma.shippingContact.address"></span>
                        <br />
                        <span data-ng-bind="rma.shippingContact.zip"></span>
                        <span class="text-uppercase" data-ng-bind="rma.shippingContact.city"></span>
                        <br />
                        <br />
                        <span data-ng-bind="rma.shippingContact.email"></span>
                        <br />
                        <span data-ng-bind="rma.shippingContact.phone"></span>
                    </dd>

                    <!-- TERMINATION -->
                    <dt data-ng-if="rma.terminationDatetime" data-translate="telephony_line_assist_rma_termination_date"></dt>
                    <dd data-ng-if="rma.terminationDatetime" data-ng-bind="rma.terminationDatetime | date:'medium'"></dd>

                    <hr />

                    <!-- STEPS -->
                    <div data-ng-repeat="step in rma.steps track by $index">
                        <dt data-translate="telephony_line_assist_rma_step_n"
                            data-translate-values="{ number: $index + 1 }"></dt>
                        <dd>
                            <span data-ng-bind="'telephony_line_assist_rma_step_name_' + step.name | translate"></span>
                            <em class="left-space-m16" data-ng-bind="step.doneDate | date:'medium'"></em>
                            <br />
                            <span class="label"
                                  data-ng-class="{
                                    'label-success': step.status === 'done',
                                    'label-default': step.status === 'todo'
                                  }"
                                  data-ng-bind="'telephony_line_assist_rma_step_status_' + step.status | translate"></span>
                        </dd>
                    </div>
                </dl>

                <!-- CANCEL RMA -->
                <button type="button"
                        class="btn btn-danger pull-right"
                        data-ng-disabled="rma.cancellable === 'true' && ! rma.isCancelling"
                        data-translate="telephony_line_assist_rma_cancel"
                        data-ng-click="RmaCtrl.cancelRma(rma)">
                </button>

                <!-- DOWNLOAD PDF -->
                <a class="btn btn-default right-space-m8 pull-right"
                   data-ng-href="{{ RmaCtrl.getPdfUrl(rma) }}"
                   data-translate="telephony_line_assist_rma_pdf_download"></a>

            </div>
        </div><!-- rma -->
    </div><!-- section content -->

</section>
