<div class="telecom-retractation">
    <label>
        <flat-radio>
            <input type="radio"
                   data-ng-disabled="$ctrl.ngDisabled"
                   data-ng-model="$ctrl.ngModel"
                   data-ng-value="true"
                   name="retractation"
                   required>
        </flat-radio>
        <span class="left-space-m12"
              data-translate="telecom_retractation_retract_true">
        </span>
    </label>
</div>
<div class="top-space-m8">
    <label>
        <flat-radio>
            <input type="radio"
                   data-ng-disabled="$ctrl.ngDisabled"
                   data-ng-model="$ctrl.ngModel"
                   data-ng-value="false"
                   name="retractation"
                   required>
        </flat-radio>
        <span class="left-space-m12"
              data-translate="telecom_retractation_retract_false">
        </span>
    </label>
</div>
