<section class="telephony-group-line-simultaneousLines">

    <header>
        <section-back-link section-back-link-to-state="telecom.telephony.line.calls" section-back-link-title="{{ 'telephony_line_calls_back_link' | translate }}">
        </section-back-link>
        <h1 data-translate="telephony_line_actions_line_calls_simultaneous_line_title"></h1>
    </header>

    <oui-loader data-ng-if="LineSimultaneousLinesCtrl.loading.init"
                data-size="m">
    </oui-loader>

    <div class="telecom-section-content"
         data-ng-hide="LineSimultaneousLinesCtrl.loading.init">

        <toast-message></toast-message>

        <div class="alert alert-warning"
             role="alert"
             data-ng-repeat="offerTask in LineSimultaneousLinesCtrl.offerTasks track by $index">
            <p data-translate="telephony_line_actions_line_calls_simultaneous_offerTasks"
               data-translate-values="{executionDate : offerTask.formatedDate}"></p>
            <p data-translate="telephony_line_actions_line_calls_simultaneous_offerTasks_1"></p>
        </div>

        <p data-ng-if="LineSimultaneousLinesCtrl.options.simultaneousLines >= 100" data-translate="telephony_line_actions_line_calls_simultaneous_line_support"></p>

        <div class="row"
             data-ng-if="LineSimultaneousLinesCtrl.options.simultaneousLines < 100">
            <div class="col-xs-12 col-md-6">

                <form name="simultaneousLinesCtrlForm"
                      data-ng-submit="LineSimultaneousLinesCtrl.save()">

                    <div class="row my-4">
                        <div class="col-xs-12 col-md-6">
                            <label class="control-label"
                                   for="simultaneousLines"
                                   data-translate="telephony_line_actions_line_calls_simultaneous_line_label"></label>
                            <input-number-spinner
                                class="float-left"
                                id="simultaneousLines"
                                name="simultaneousLines"
                                data-ng-model="LineSimultaneousLinesCtrl.options.simultaneousLines"
                                data-ng-disabled="LineSimultaneousLinesCtrl.loading.save || LineSimultaneousLinesCtrl.offerTasks.length"
                                data-input-number-spinner-on-change="LineSimultaneousLinesCtrl.save()"
                                data-input-number-spinner-max="LineSimultaneousLinesCtrl.options.maximumAvailableSimultaneousLines"
                                data-input-number-spinner-min="LineSimultaneousLinesCtrl.options.minimumAvailableSimultaneousLines">
                            </input-number-spinner>
                        </div>
                    </div>

                    <div class="row mb-3"
                         data-ng-if="LineSimultaneousLinesCtrl.showDoRemoveButtons">
                        <div class="col-xs-6">
                            <button type="button"
                                    role="button"
                                    class="btn btn-default"
                                    data-ng-disabled="LineSimultaneousLinesCtrl.loading.save"
                                    data-ng-click="LineSimultaneousLinesCtrl.cancelRemove()">
                                <span data-translate="telephony_line_actions_line_calls_simultaneous_remove_cancel"></span>
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button"
                                    role="button"
                                    class="btn btn-primary float-right"
                                    data-ng-disabled="LineSimultaneousLinesCtrl.loading.save"
                                    data-ng-click="LineSimultaneousLinesCtrl.doRemoveSimultaneousLines()">
                                <oui-loader class="mr-2"
                                            data-ng-if="LineSimultaneousLinesCtrl.loading.save"
                                            data-size="s">
                                </oui-loader>
                                <span data-translate="telephony_line_actions_line_calls_simultaneous_remove_validate"></span>
                            </button>
                        </div>
                    </div>

                    <oui-loader data-ng-if="!LineSimultaneousLinesCtrl.contracts && LineSimultaneousLinesCtrl.loading.order"
                                data-size="m">
                    </oui-loader>

                    <div class="row mb-4"
                         data-ng-if="LineSimultaneousLinesCtrl.prices && !LineSimultaneousLinesCtrl.loading.order">

                        <div class="col-xs-12">
                            <div class="form-group mb-3"
                                data-ng-repeat="detail in LineSimultaneousLinesCtrl.prices.details"
                                data-ng-if="detail.detailType == 'DURATION'">
                                <label class="col-xs-3 control-label text-left p-0"
                                       data-translate="telephony_line_actions_line_calls_simultaneous_line_price_without_vat"></label>
                                <div class="col-xs-9">
                                    <p class="form-control-static p-0 font-weight-bold text-danger"
                                       data-ng-bind="detail.totalPrice.text"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label class="col-xs-3 control-label text-left p-0"
                                       data-translate="telephony_line_actions_line_calls_simultaneous_line_price_vat"></label>
                                <div class="col-xs-9">
                                    <p class="form-control-static font-weight-bold p-0 text-danger"
                                       data-ng-bind="LineSimultaneousLinesCtrl.prices.prices.tax.text"></p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label text-left p-0"
                                       data-translate="telephony_line_actions_line_calls_simultaneous_line_price_total"></label>
                                <div class="col-xs-9">
                                    <p class="form-control-static font-weight-bold p-0 text-danger"
                                       data-ng-bind="LineSimultaneousLinesCtrl.prices.prices.withTax.text"></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12"
                             data-ng-if="LineSimultaneousLinesCtrl.contracts && !LineSimultaneousLinesCtrl.loading.order">
                            <div data-contracts="LineSimultaneousLinesCtrl.contracts"
                                 data-full-text="true"
                                 data-contracts-validated="LineSimultaneousLinesCtrl.contractsAccepted">
                            </div>
                        </div>

                        <div class="col-xs-12 mb-3"
                             data-ng-if="!LineSimultaneousLinesCtrl.prices.url">
                             <button type="button"
                                     role="button"
                                     class="btn btn-primary"
                                     data-ng-disabled="LineSimultaneousLinesCtrl.loading.doOrder || !LineSimultaneousLinesCtrl.contractsAccepted"
                                     data-ng-click="LineSimultaneousLinesCtrl.doOrder()">
                                <oui-loader class="mr-2"
                                            data-ng-if="LineSimultaneousLinesCtrl.loading.doOrder"
                                            data-size="s">
                                </oui-loader>
                                <span data-translate="telephony_line_actions_line_calls_simultaneous_order"></span>
                                <i class="ovh-font ovh-font-1x6 ovh-font-cart ml-1"></i>
                            </button>
                        </div>

                        <div class="col-xs-12 mb-3"
                             data-ng-if="LineSimultaneousLinesCtrl.prices.url">
                            <span data-translate="telephony_line_actions_line_calls_simultaneous_bc"></span>
                            <a target="_blank"
                                title="{{'telephony_line_actions_line_calls_simultaneous_order' | translate}}"
                                data-ng-href="{{LineSimultaneousLinesCtrl.prices.url}}">
                                <span data-translate="telephony_line_actions_line_calls_simultaneous_url"></span>
                                <i class="ovh-font ovh-font-newtab ml-1"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
